<form id="Form" method="post" enctype="multipart/form-data">

    <div class="Group">

        <h2>
            Change password by administrator
        </h2>

        <div class="Line">
            <div class="Caption">
                ID
            </div>
            <div class="Data">
                <input type="text" name="ID" value="%ID%"/>
            </div>
        </div>

        <div class="Line">
            <div class="Caption">
                Password
            </div>
            <div class="Data">
                <input type="password" name="Password" autocomplete="off"/>
            </div>
        </div>

        <div class="Line">
            <div class="Caption">
                Check password
            </div>
            <div class="Data">
                <input type="password" name="Check" autocomplete="off"/>
            </div>
        </div>
    </div>

    <div class="Toolbar">
        <button type="button" id="BtnOk" class="Unselected ImageOk">Ok</button>
        <button type="button" id="BtnCancel" class="Unselected ImageCancel">Cancel</button>
    </div>

</form>
