<form class="DescriptForm" id="Form" method="post" enctype="multipart/form-data">
    <h1>
        Account #%ID%
    </h1>
    <div class="Group">
        <cl content="DescriptCaptionEdit.html" pars="true"/>
    </div>
    <cl content="AccountFields.html" pars="true"/>
    <cl content="DescriptFormStandartFields.html" pars="true"/>
</form>


