<tr>
    <td class="Moment">%DTActual%</td>
    <td class="Caption Yellow" style="min-width:10em;">%CaptionSale%</td>
    <td class="Caption Yellow">%CaptionPosition%</td>

    <td class="Quantity">%Quantity%</td>
    <td class="Caption">%CaptionUnitQuantity%</td>

    <td class="Quantity">%Duration%</td>
    <td class="Caption">%CaptionUnitDuration%</td> 

    <td class="Money">%Taxrate%</td>
    <td class="Percent">%Discount%</td>
    <td class="Money Red">%AmountChargeClear%</td>
    <td class="Money Blue" style="display:none;">%AmountPay%</td>
</tr>