<form class="DescriptForm" method="post" enctype="multipart/form-data" id="Form">

    <h1>
        Bill #<span id="ID"></span>
    </h1>

    <div class="Toolbar">
        <button type="button" class="ImagePrint Unselected" id="BtnPrint">
            Print
        </button>
        <button type="button" class="ImageLoad Unselected"  id="BtnAmountRefresh">
            Refresh
        </button>
        <div class="Space">
        </div>
        <button type="button" class="ImageAbak Unselected" id="BtnRecharge">
            Recharge
        </button>
        <button type="button" class="ImageCheck Unselected" id="BtnPay">
            Pay
        </button>
        <button type="button" class="ImageCheck Unselected" id="BtnClear">
            Clear
        </button>
    </div>

    <cl content="FormDescriptSection.html" ContentSection="BillFormFields.html" CaptionSection="Parameters" Collaps="False" pars="true"/>
    <cl content="FormDescriptSection.html" ContentSection="BillAmount.html" CaptionSection="Amounts" Collaps="False" pars="true"/>

    <div class="Toolbar">
        <button type="button" class="ImagePen Unselected" id="BtnFillParams">
            Fill
        </button>
    </div>

    <cl content="FormDescriptSection.html" ContentSection="BillProviderFields.html" CaptionSection="Provider paremeters" Collaps="False" pars="true"/>
    <cl content="DescriptFormStandartFields.html" pars="true"/>

</form>





