    <div class="Group">
        <div class="Line">
            <div class="Caption">
                Provider
            </div>
            <cl content="Select.html" clID="IDProvider" clName="IDProvider" clValue="%IDProvider%" clPlaceholder="Provider" clType="Agent"/>
        </div>

        <div class="Line">
            <div class="Caption">
                Client
            </div>
            <cl content="Select.html" clID="IDClient" clName="IDClient" clValue="%IDClient%" clPlaceholder="Client" clType="Agent"/>
        </div>

        <div class="Line">
            <div class="Caption">
                Currency
            </div>
            <cl content="Select.html" clID="IDCurrency" clName="IDCurrency" clValue="%IDCurrency%" clPlaceholder="Currency" clType="Currency"/>
        </div>

        <div class="Line">
            <div class="Caption">
                Period from
            </div>
            <cl content="MomentInterval.html" clValue="" clID="DTFrom" clName="DTFrom" clBegin="DTFrom" clEnd="DTTo"/>
            <div class="Caption">
                to
            </div>
            <cl content="MomentInterval.html" clValue="" clID="DTTo" clName="DTTo" clBegin="DTFrom" clEnd="DTTo"/>
        </div>

    </div>



