<button type="button" class="ImageCharge" title="Recharge bill">
    Charge
</button>

<button type="button" class="ImagePay" title="Pay bill">
    Pay
</button>

<button type="button" class="ImagePrint" title="Print bill">
    Print
</button>