<td class="Moment Expert"><button type="button" class="BtnDelete" title="Delete record">X</button></td>
<td class="Moment Expert">%DTActual%</td>
<td class="Moment Expert">%DTBegin%</td>
<td class="Moment Expert">%DTEnd%</td>
<td class="Caption">%CaptionSale% %CaptionPosition%</td>
<td class="Quantity"><span style="opacity:0.5;">%CaptionUnitQuantity%</span> %Quantity%</td>
<td class="Quantity"><span style="opacity:0.5;">%CaptionUnitDuration%</span> %Duration%</td>
<td class="Money"><span style="opacity:0.5;">%CaptionCurrency%</span> %Taxrate%</td>
<td class="Money"><span style="opacity:0.5;">%</span> %Discount%</td>
<td class="Money" style="font-weight:bolder;">%AmountChargeClear%</td>
<td class="Money">%AmountCharge%</td>
<td class="Money">%AmountPay%</td>

