<h2>
    Charged sales
</h2>

<table class="RecordList" id="RecordList" style="margin-bottom:2em;">
    <thead>
        <tr>
            <th rowspan="2" class="Expert">
                
            </th>
            <th rowspan="2" class="Expert">
                Actual
            </th>
            <th rowspan="2" class="Expert">
                From
            </th>
            <th rowspan="2" class="Expert">
                To
            </th>
            <th rowspan="2">
                Caption sale
            </th>
            <th rowspan="2">
                Quantity
            </th>
            <th rowspan="2">
                Duration
            </th>
            <th rowspan="2">
                Price
            </th>
            <th rowspan="2">
                Discount
            </th>
            <th>
                Charge
            </th>
            <th>
                With tax
            </th>
            <th>
                Pay
            </th>
        </tr>
        <tr>
            <th class="Money" id="TotalAmountCharge">
            </th>
            <th class="Money" id="TotalAmountChargeTax">
            </th>
            <th class="Money" id="TotalAmountPay">
            </th>
        </tr>
    </thead>

    <tbody id="BillAmount">
    </tbody>
</table>


