<div class="Line">
    <div class="Caption">
         Billing rule
    </div>
    <select name="BillingRule" id="BillingRule" value="%BillingRule%">
         <option value="">Default</option>
         <option value="EachCharge">One bill for earch charge</option>
         <option value="EachMonth">New bill for earch month</option>
         <option value="Exists">Add charge to exists bill</option>
    </select>

</div>