<div class="Frame Unselected Status%FOF%" id="BtnEdit" style="background-image:url('?image=%IDImagePreview%&scalex=64&scaley=64&colorize=%RGBAHex%');">

    <div class="Caption">
        %ID%
        <div class="DescriptEnabled%Enabled%">
        </div>
        <div class="DescriptIndexate%Indexate%">
        </div>
    </div>

    <div class="CaptionType" style="display:none;">
        Charge %TotalAmoutCharge% %IDCurrency%
    </div>

    <div class="CaptionType">
        %TotalAmoutPay% %IDCurrency%
    </div>


    <div class="CaptionType">
        Profider: %IDProvider%
    </div>

    <div class="CaptionType">
        Client: %IDClient%
    </div>

    <div class="CaptionType">
        %CaptionType%
    </div>
</div>
