<div class="Group">

    <h2>
        Requisite
    </h2>

    <div class="Line">
        <div class="Caption">
            ABN Number
        </div>
        <input id="Provider_ABN" name="Provider_ABN">
    </div>

    <div class="Line">
        <div class="Caption">
            Bank name
        </div>
        <input id="Provider_BankName" name="Provider_BankName">

        <div class="Caption">
            Branch
        </div>
        <input id="Provider_BranchName" name="Provider_BranchName">
    </div>

    <div class="Line">
        <div class="Caption">
            Account Type
        </div>
        <input id="Provider_AccountType" name="Provider_AccountType">

        <div class="Caption">
            Account Name
        </div>
        <input id="Provider_AccountName" name="Provider_AccountName">

        <div class="Caption">
            Account Number
        </div>
        <input id="Provider_AccountNumber" name="Provider_AccountNumber">
    </div>

    <div class="Line">
        <div class="Caption">
            BSB
        </div>
        <input id="Provider_BSB" name="Provider_BSB">
    </div>
    
</div>



<div class="Group">

    <h2>
        Contacts
    </h2>

    <div class="Line">
        <div class="Caption">
            Address
        </div>
        <input id="Provider_Address" name="Provider_Address">
    </div>

    <div class="Line">
        <div class="Caption">
            Phone
        </div>
        <input id="Provider_Phone" name="Provider_Phone">
    </div>

    <div class="Line">
        <div class="Caption">
            Email
        </div>
        <input id="Provider_Email" name="Provider_Email">
    </div>

    <div class="Line">
        <div class="Caption">
            Website
        </div>
        <input id="Provider_Website" name="Provider_Website">
    </div>

</div>



<div class="Group">
    <h2>
        Invoce config
    </h2>
    <div class="Line">
        <div class="Caption">
            Signature
        </div>
        <textarea name="Provider_BillSignature" id="Provider_BillSignature" style="width:100%; height:3em;"></textarea>
    </div>
    <div class="Line">
        <div class="Caption">
            Invoice person
        </div>
        <cl content="Select.html" clValue="%Provider_IDAgentBill%" clID="Provider_IDAgentBill" clName="Provider_IDAgentBill" clType="" clPlaceholder=""/>
    </div>
</div>


<div class="Group">

    <h2>
        Settings
    </h2>

    <div class="Line">
        <div class="Caption">
            GST tax rate
        </div>
        <select id="Provider_ChargeTaxPolicy" name="Provider_ChargeTaxPolicy">
            <option value=""></option>
            <option value="TaxNone">None</option>
            <option value="TaxIncluded">Included</option>
            <option value="TaxPlus">Plus</option>
        </select>
        <div class="Caption">
            value
        </div>
        <input name="Provider_ChargeTaxrate" id="Provider_ChargeTaxrate" style="max-width:5em;text-align:right;"/>%
    </div>

</div>










