<style>
    <cl content="Conversation.css"/>
</style>

<div class="Conversation">
    <form class="ConversationForm">
        <input name="ID" class="ID" type="hidden">
        <div class="Files">
        </div>
        <div class="CustomInput">
           <textarea name="Note" class="Note" rows="10" style="width:100%;" placeholder="Your can write any note for other users."></textarea>
        </div>

        <div class="Buttons">
           <button type="button" class="Action SendNote">
              Send note
           </button>

           <label for="AttachFiles" class="Button AttachFile" title="Attach images or files">
              <input type="file" name="Files" class="AttachFiles" id="AttachFiles" style="display:none;" multiple="multiple" data-event="change.Conversation.ChangeFiles">
              Attach images
           </label>

           <div class="Delimiter" style="flex:1 1;">
           </div>

           <button type="button" class="Action RefreshNotes">
              Refresh notes
           </button>
        </div>    
    </form>

    <div class="Notes" id="Notes">
    </div>

</div>
