<div class="Head Expert">
    <div class="DTInsert">%DTInsert%</div>
    <div class="From">%CaptionUserInsert%</div>
    <div class="To">%CaptionUserTo%</div>
</div>

<div style="display:flex;">
    <div
        class      = "Image %ID%"
        style      = "background-image: url('?&image=%ID%&scalex=128&update=%DTUpdateODBC%');"
    />
    </div>
    <div class="Content">
        %Content%
    </div>
</div>

