<form method="post" enctype="multipart/form-data" id="Form" class="DescriptForm">

    <div class="Group">
        <h1>
            Editor #%ID%
        </h1>
        <div class="Line">
            <div class="Caption">
                Caption
            </div>
            <cl content="DescriptEdit.html" Name="Caption" ID="%ID%" Caption="" Placeholder=""/>
        </div>
    </div>

    <cl content="DescriptFormStandartFields.html"/>

</form>
