<form method="post" enctype="multipart/form-data" id="Form" class="DescriptForm">

    <div class="Group">
        <h2>
            Add object
        </h2>

        <div class="Line">
            <div class="Caption">
                Type
            </div>
            <cl content="Select.html" clID ="IDType" clName="IDType" clValue="" clType="Object"  clPlaceholder="Type object" clDisabled="" clBefore="" clAfter=""/>
        </div>

        <div class="Line">
            <div class="Caption">
                Caption
            </div>
            <input style="width:100%" type="text" name="Caption" value="" placeholder="Information about object" autocomplete="off"/>
        </div>

        <div class="Line">
            <div class="Caption">
                Parent
            </div>
            <cl content="Select.html" clName="IDParent" clID="IDParent" clValue="%IDParent%" clType="" clPlaceholder="Parent" clDisabled="" clBefore="" clAfter=""/>
        </div>

        <div class="Line">
            <div class="Caption">
                ID
            </div>
            <input style="width:100%" type="text" name="ID" value="" placeholder="Unique identifer" autocomplete="off"/>
        </div>

    </div>
</form>
