<div class="Group">
    <div class="Caption">
        Descript content
    </div>
    <div class="Contein1">
        <button type="button" class="ImageOk Unselected" id="BtnSave">
            Store
        </button>
        <cl content="Select.html" clValue="language_ru" clID="IDLang" clName="IDLang" clType="Language" clPlaceholder="Language"/>
        <cl content="Select.html" clValue="" clID="IDDescriptSite" clName="IDDescriptSite" clType="Site" clPlaceholder="Site"/>
        <button type="button" class="ImageLoad Unselected" id="BtnRefresh">
            Refresh
        </button>
     </div>
</div>
