<div class="Group">

    <h2>
        Parent rules
    </h2>

    <div class="Line">
        <div class="Caption">
            Default
        </div>
        <cl content="Select.html" clValue="%IDParentDefault%" clID="IDParentDefault" clName="IDParentDefault" clType="" clPlaceholder=""/>
    </div>

    <div class="Line">
        <div class="Caption">
            Agent
        </div>
        <cl content="Select.html" clValue="%IDParentAgent%" clID="IDParentAgent" clName="IDParentAgent" clType="" clPlaceholder=""/>
    </div>

    <div class="Line">
        <div class="Caption">
            Content
        </div>
        <cl content="Select.html" clValue="%IDParentContent%" clID="IDParentContent" clName="IDParentContent" clType="" clPlaceholder=""/>
    </div>

    <div class="Line">
        <div class="Caption">
            Bill
        </div>
        <cl content="Select.html" clValue="%IDParentBill%" clID="IDParentBill" clName="IDParentBill" clType="" clPlaceholder=""/>
    </div>

</div>
