<form>

    <div class="Group">
        <h1>
            Spread the parameters to children
        </h1>

        <div class="Line">
            <div class="Caption">
                 Parent the source
             </div>
             <cl content="Select.html" clValue="" clID="IDParent" clName="IDChild" clType="" clPlaceholder="" clDisabled=""/>
        </div>

        <div class="Line">
            <div class="Caption">
                 Type of the bind
             </div>
             <cl content="Select.html" clValue="" clID="IDBind" clName="IDBBind" clType="Bind" clPlaceholder="" clDisabled=""/>
        </div>
    </div>

    <div class="Toolbar">
        <button type="button" class="ImageOk Unselected" id="BtnOk" title="">
            Ok
        </button>
        <button type="button" class="ImageCancel Unselected" id="BtnCancel" title="Close this form">
            Cancel
        </button>
    </div>

</form>
