<div class="Group">
    <div class="Caption">
        Descript
    </div>
    <div class="Contein1">
        <button type="button" class="ImageOk Unselected" id="BtnSave" title="Save changes in form">
            Save
        </button>
        <button type="button" class="ImageLoad Unselected" id="BtnRefresh" title="Reload form">
            Refresh
        </button>
        <button type="button" class="ImageInfo Unselected" id="BtnDescriptInfo" title="Information about descript">
            Info
        </button>
        <button type="button" class="ImageDescript Unselected" id="BtnContent" title="The editor for content"> 
            Content
        </button>
    </div>
</div>

<div class="Group">
    <div class="Caption">
        Actions
    </div>
    <div class="Contein1">
        <button type="button" class="ImagePen Unselected" id="BtnRenameID" title="Change the descript's identifer">
            Change ID
        </button>
        <button type="button" class="ImageTrash Unselected" id="BtnDelete" title="Descript delete">
            Delete
        </button>
        <button type="button" class="ImageLock Unselected" id="BtnDescriptOpen" title="Open descript" style="display:none;">
            Closed
        </button>
        <button type="button" class="ImageUnlock Unselected" id="BtnDescriptClose" title="Close descript" style="display:none;">
            Opened
        </button>
     </div>
</div>







