<h1>
   Temporarily disarm
</h1>

<select id="Timeout">
   <option value='10'>On 10 minutes</option>
   <option value='30'>On half hour</option>
   <option value='60'>On one hour</option>
   <option value='120'>On two hours</option>
   <option value='1440'>On one day</option>
   <option value='10080'>On one week</option>
</select>

<div class="Toolbar">
    <button class="ImageOk Unselected BtnOk">
        Ok
    </button>
    <div class="Space">
    </div>
    <button class="ImageCancel Unselected BtnCancel">
        Cancel
    </button>
</div>