<form method="post" enctype="multipart/form-data" id="Form">

<div class="Group">
    <h1>
        Descript import from file
    </h1>

    <div class="Line">
        <div class="Caption">
             Parent
         </div>
         <cl content="Select.html" clValue="" clID="IDParent" clName="IDParent" clType="" clPlaceholder="Parent object"/>
    </div>

    <div class="Line">
        <div class="Caption">
             File
         </div>
         <cl content="Select.html" clValue="" clID="IDFile" clName="IDFile" clType="File" clPlaceholder="Type object"/>
    </div>

    <div class="Line">
        <div class="Caption">
             Type object
         </div>
         <cl content="Select.html" clValue="" clID="IDType" clName="IDType" clType="Object" clPlaceholder="Default type for new objects"/>
    </div>
</div>

<div class="Toolbar">
    <button type="button" class="ImageOk Unselected" id="BtnOk" title="Import file">
        Ok
    </button>
    <button type="button" class="ImageCancel Unselected" id="BtnCancel" title="Close dialog">
        Cancel
    </button>
</div>

</form>
