<h1>
    Information
</h1>

<div class="Group">
    <div class="Line">
        <div class="Caption">
            ID
        </div>
        <div class="Data">
            %ID%
        </div>
    </div>

    <div class="Line">
        <div class="Caption">
            Creation moment
        </div>
        <div class="Data">
            %MomentInsert%
        </div>
    </div>
    <div class="Line">
        <div class="Caption">
            Author
        </div>
        <div class="Data">
            %CaptionUserInsert% (%IDUserInsert%)
        </div>
    </div>
    <div class="Line">
        <div class="Caption">
            Last update
        </div>
        <div class="Data">
            %MomentUpdateLast%
        </div>
    </div>
    <div class="Line">
        <div class="Caption">
            Updater
        </div>
        <div class="Data">
            %CaptionUserUpdateLast% (%IDUserUpdateLast%)
        </div>
    </div>
</div>