<form class="DescriptForm" method="post" enctype="multipart/form-data" id="Form">

    <div class="Group">
        <h1>
            Site
        </h1>
        <cl content="DescriptCaptionEdit.html" pars="true"/>     
    </div>


    <div class="Group">
        <h2>
            Управление доменом
        </h2>

        <div class="Line">
            <div class="Caption">
                Сайт
            </div>
            <div class="Data">
                <cl content="Select.html" clID="IDSiteTarget" clName="IDSiteTarget" clValue="%IDSiteTarget%" clPlaceholder="умолчальный сайт" clType="Site" clDisabled="" clBefore="" clAfter=""/>
            </div>
        </div>

        <div class="Line">
            <div class="Caption">
                Умолчальный URL
            </div>
            <div class="Data">
                <input class="Text" name="DefaultURL" id="DefaultURL" value="%DefaultURL%" placeholder="?&body=Body.html&page=Page.html"/>
            </div>
        </div>

        <div class="Line">
            <div class="Caption">
                Стартовый шаблон
            </div>
            <div class="Data">
                <cl content="Select.html" clID="IDContentStart" clName="IDContentStart" clValue="%IDContentStart%" clPlaceholder="Main.html" clType="Content" clDisabled="" clBefore="" clAfter=""/>
            </div>
        </div>

        <div class="Line">
            <div class="Caption">
                Умолчальный язык
            </div>
            <div class="Data">
                <cl content="Select.html" clID="IDLangDefault" clName="IDLangDefault" clValue="%IDLangDefault%" clPlaceholder="умолчальный язык" clType="Language" clDisabled="" clBefore="" clAfter=""/>
            </div>
        </div>

    </div>


    <div class="Group">
        <h2>
            Отладка
        </h2>

        <div class="Line">

            <div class="Caption">
                Журналирование
            </div>

            <div class="Data">

            <div class="Section">
                <input type="checkbox" name="LogEnabled" id="LogEnabled"/>
                <label for="LogEnabled">
                    Включить журналирование
                </label>
            </div>

            <div class="Section">
                <input type="checkbox" name="LogDebug" id="LogDebug"/>
                <label for="LogDebug">
                    Отладка
                </label>
            </div>

            <div class="Section">
                <input type="checkbox" name="LogInfo" id="LogInfo"/>
                <label for="LogInfo">
                    Информация
                </label>
            </div>

            <div class="Section">
                <input type="checkbox" name="LogWarning" id="LogWarning"/>
                <label for="LogWarning">
                    Предупреждение
                </label>
            </div>

            <div class="Section">
                <input type="checkbox" name="LogError" id="LogError"/>
                <label for="LogError">
                    Ошибка
                </label>
            </div>

            <div class="Section">
                <input type="checkbox" name="LogJob" id="LogJob"/>
                <label for="LogJob">
                    Профилер
                </label>
            </div>
            </div>

        </div>
    </div>

    <cl content="DescriptFormStandartFields.html" pars="true"/>

</form>
