<div class="Field">
     %Field%
</div>

<select id="Right">
    <option value="">Default</option>
    <option value="x">Denied</option>
    <option value="r">Read only</option>
    <option value="rw">Read and write</option>
</select>

<button type="button" id="BtnDel" class="Delete">
    Delete
</button>