<style>
.FieldsRightForm .List .Record
{
    display:flex;
}

.FieldsRightForm .List .Record .Field
{
    flex: 1 1;
    margin-right:1em;
}

.FieldsRightForm .List .Record .Delete
{
    margin-left:1em;
}

</style>

<form class="FieldsRightForm" id="Form" type="post" enctype="multipart/form-data">
    <div class="Group">
        <h1>
            Fields and elements rights
        </h1>

        <div class="Toolbar">
            <button type="button" class="ImageLoad Unselected" id="BtnRefresh" title="Refresh the list of rights">
                Refresh
            </button>
            <button type="button" class="ImageCancel Unselected" id="BtnCancel" title="Close the form">
                Close
            </button>
        </div>


        <div class="Line">
            <div class="Caption">
                Type object
            </div>
            <cl content="Select.html" clValue="" clID="IDObject" clName="IDObject" clType="Object" clPlaceholder="" clDisabled="" clBefore="" clAfter=""/>
        </div>

        <div class="Line">
            <div class="Caption">
                Agent or descript
            </div>
            <cl content="Select.html" clValue="" clID="IDDescript" clName="IDDescript" clType="" clPlaceholder="" clDisabled="" clBefore="" clAfter=""/>
        </div>

        <div class="Line">
            <div class="Caption">
                Field mask
            </div>
            <input name="Field" id="Field"/>

            <button type="button" class="Unselected" id="BtnFieldAdd" title="Refresh the list of rights">
                Field add
            </button>
        </div>
    </div>


    <div class="Group List" id="List">
    </div>

</form>