<form class="DescriptForm" id="Form" method="post" enctype="multipart/form-data">

    <div class="Group">
        <h1>
            Файл #%ID%
        </h1>

        <div class="Toolbar">
            <button type="button" class="ImageCD Unselected" onclick="window.open('?&file=%ID%', '_blank');">
                 Скачать файл
            </button>
            <button type="button" class="ImageTrash Unselected" id="ImageClearCache">
                 Удаление кэша
            </button>
        </div>

        <cl content="DescriptCaptionEdit.html" pars="true"/>
  
        <div class="Line">
            <div class="Caption">
                MIME
            </div>
            <input name="MIME" id="MIME" value="%MIME%"/>
        </div>

        <div class="Line">
            <div class="Caption">
                Extention
            </div>
            <input name="Ext" id="Ext" value="%Ext%"/>
        </div>

    </div>


    <cl content="DescriptFormStandartFields.html" pars="true"/>

</form>

