<style>
.DescriptBind
{
    min-width:25em;
}

.DescriptBind .List
{
    display:flex;
    flex-direction:column;
    max-height:15em;
    overflow:auto;
}

.DescriptBind .List .Record
{
    display:flex;
}

.DescriptBind .List .Record .CaptionBind
{
    flex:1 1;
    padding-left:1em;
    margin-right:1em;
}

.DescriptBind .List .Record .CountChild
{
    flex:0 0;
    text-align:right;
    padding-left:1em;
    padding-right:1em;
}
</style>

<div class="DescriptBind">

    <h1>
        Children
    </h1>

    <div class="Toolbar">
        <button class="ImageLoad Unselected" id="BtnRefresh" title="">
            Refresh
        </button>
        <button class="ImageChangeRound Unselected" id="BtnDirect" title="Change direction">
            Direction
        </button>
        <div class="Space">
        </div>
        <button class="ImageCancel Unselected" id="BtnCancel" title="Close form">
           Cancel
        </button>
    </div>


<div class="Group">

    <div class="Line">
        <div class="Caption">
             Parent
         </div>
         <cl content="Select.html" clValue="" clID="IDParent" clName="IDChild" clType="" clPlaceholder="Родитель" clDisabled="" clBefore="" clAfter=""/>
    </div>

    <div class="Line">
        <div class="Caption">
             Bind
         </div>
         <cl content="Select.html" clValue="" clID="IDBind" clName="IDBBind" clType="Bind" clPlaceholder="Тип связи" clDisabled="" clBefore="" clAfter=""/>
    </div>

    <div class="Line">
        <div class="Caption">
             Child
        </div>
        <cl content="Select.html" clValue="" clID="IDChild" clName="IDChild" clType="" clPlaceholder="Потомок" clDisabled="" clBefore="" clAfter=""/>
        <button class="Unselected" id="BtnAdd" title="">
            Add
        </button>
    </div>
</div>


    <div class="List">
    </div>

</div>
