<form id="Form" type="post" enctype="multipart/form-data">
    <div class="Group">
        <h1>
            Spread binds 
        </h1>

        <p>
            The procedure scan the descripts graph by the semiconductor bind and add or remove the bind for each element.
        </p>

        <div class="Line">
            <div class="Caption">
                Start descript
            </div>
            <div class="Data">
                <cl content="Select.html" clValue="" clID="ID" clName="ID" clType="" clPlaceholder="Start descript"/>
            </div>
        </div>

        <div class="Line">
            <div class="Caption">
                Semiconductor bind
            </div>
            <div class="Data">
                <cl content="Select.html" clValue="" clID="IDBindConductor" clName="IDBindConductor" clType="Bind" clPlaceholder="Semiconductor bind"/>
            </div>
        </div>

        <div class="Line">
            <div class="Caption">
                Operation
            </div>
            <div class="Data">
                <select name="Operation" id="Operation">
                    <option value="Insert" selected="selected">Add</option>
                    <option value="Delete">Remove</option>
                </select>
            </div>
        </div>

        <div class="Line">
            <div class="Caption">
                Bind
            </div>
            <div class="Data">
               <cl content="Select.html" clValue="" clID="IDBindSpread" clName="IDBindSpread" clType="Bind" clPlaceholder="Binde for add or remove"/>
           </div>
        </div>
    </div>

    <div class="Toolbar">
        <button type="button" class="ImageOk Unselected" id="BtnOk" title="Start the action">
            Ok
        </button>
        <button type="button" class="ImageCancel Unselected" id="BtnCancel" title="Close this form">
            Cancel
        </button>
    </div>
</form>