<div>
    <span>Lat:</span>
    <span id="Latitude">%Latitude%</span>
    <span>Long:</span>
    <span id="Longitude">%Longitude%</span>
    <span>Accuracy:</span>
    <span id="Accuracy">%Accuracy%</span>
    <span>м</span>
</div>

