<style>
    <cl content="ImageView.css"/>
</style>

<div class="ImageView">
    <div class="Image" style="background-image:url( '?image=%IDImage%&scalex=1024&%DTUpdate%' ), url( '?image=%IDImage%&scalex=128&%DTUpdate%' )">
    </div>

    <div class="Toolbar">
        <button type="button" class="ImageLoad Unselected Refresh">
            Refresh
        </button>

        <div class="Space">
        </div>

        <button type="button" class="ImageArrowLeft Unselected RotateCCW">
            Rotate CWW
        </button>

        <button type="button" class="ImageArrowRight Unselected RotateCW">
            Rotate CW
        </button>

        <div class="Space">
        </div>

        <button type="button" class="ImageCancel Unselected Close">
            Close
        </button>
    </div>

</div>
