.ImageView
{
    display                 : flex;
    flex-direction          : column;
    flex                    : 1 1;
}

.ImageView .Image
{
    flex                    : 1 1;
    background-size         : contain;
    background-position     : center;
    background-repeat       : no-repeat;
}
