<h1>
    Install and setings
</h1>

<h2>
    Operation system
</h2>

<p>
    Any actual version of Linux is used as an operation system. Serviceability was tested on <a href="https://www.ubuntu.com/download/server">Ubuntu</a> & <a href="https://www.debian.org/">Debian</a>.
</p>

<p class="Warning">
   Installation is recommended on "pure" server. If you have any web application on the server, you need to undestand what are you doing, and undestand consequences of your actions for your applications.
</p>

<h3>
    Software installation
</h3>

<p>
    In the begining we need to update operation system and install following software <a href="https://nginx.org/ru/" target="_blank">nginx</a>, <a href="https://www.php.net/" target="_blank">php</a>, <a href="https://www.7-zip.org/" target="_blank">7z</a>, <a href="https://curl.haxx.se/" target="_blank">curl</a>.

    <code>
sudo apt -y update
sudo apt -y upgrade
sudo apt -y autoclean
sudo apt -y install nginx nginx-extras php-common php-cli php-fpm php-gd php-xml php-mbstring p7zip curl
    </code>
</p>

<p>
     After that, we check servisability of the web server, going to adress <var>http://[сервер]</var>. After a successful installation, we can get information about nginx.
</p>

<h2>
    NGIX settings
</h2>

<p>
    We have to modify the confugure file <var>/etc/nginx/sites-enabled/default</var>.
    <code>
sudo nano /etc/nginx/sites-enabled/default
    </code>
</p>

<p>
    The line in section <var>server</var> key <var>index</var> must look like this:
    <code>
index catlair/site/site_default/php/cl.php
    </code>
</p>

<p>
    Futher we uncomment the section:
    <code>
location ~ \.php$ {
    include snippets/fastcgi-php.conf;
    fastcgi_pass unix:/var/run/php/php7.2-fpm.sock;
}
    </code>
</p>

<p>
    Restart the nginx:
    <code>
sudo service nginx restart
    </code>
</p>

<p>
    If nginx is restarted, we can see the information about its version on the web page.
</p>

<h2>
     PHP settings
</h2>

<p>
    Detaled recommendation about instalation and settings are located <a href="http://php.net/manual/ru/install.php">here</a>.
</p>

<p>
    It is necessary to change this configure file <var>/etc/php/7.2/fpm/php.ini</var>.
    <code>
sudo nano /etc/php/7.2/fpm/php.ini
    </code>
    It is necessary to change parametes:
    <code>
memory_limit = 128M
post_max_size=2000М
upload_max_filesize=200M
max_file_uploads = 100
    </code>
    Later it makes sence to change these parameters under your specific needs.
</p>

<p>
   It is necessary to restart php after parameters changing.
   <code>
sudo service php7.2-fpm restart
   </code>
</p>

<h2>
    Installation Catlair
</h2>

<p>
    Скачиваем <a href="?file=catlair.7z">текущий релиз</a>, распаковываем его и удалем архив.
    <code>
sudo curl 'http://catlair.net/?&file=catlair.7z' -o /tmp/catlair.7z
sudo 7z -y x /tmp/catlair.7z -o/
sudo rm /tmp/catlair.7z
    </code>
</p>

<p>
    Start descripts reindexate:
    <code>
sudo php /var/www/html/catlair/site/site_default/php/descript_index_cli.php '*' site_default language_ru clear
    </code>
    После завершения процедуры будут построены поисковые индексы.
</p>

<p>
    Запускаем раздачу прав:
    <code>
sudo /var/www/right.sh;
    </code>
    Данная процедура выполняет раздачу прав к новым папкам и файлам <var>/var/www/html/*</var> для пользователя вебсервера.
</p>

<p>
    После выполнения указанных действий у вас есть копия Catlair. Обратившись по адресу <a href="http://localhost" target="_blank">http://localhost</a> с локальной машины вы можете открыть веб страницу.
</p>

<p>
    В случае если вы работаете с удаленного компьютера открыть страницу Catlair на вашем сервере возможное перейдя по ссылке <var>http://[ваш сервер]?/domain=localhost
</p>


<h2>
   Create sites
</h2>

<p>
    Change current directory.
    <code>
cd /var/www/html/catlair/site/site_default/php
    </code>
</p>

<p>
    You have site <var>default_site</var>. Do not recommende to change dafault site, becouse you will loose a possibility of updates. You have to crate new site with next command.
    <code>
sudo -u www-data php cl.php --call=Site.Create --IDSite="first_site" --IDLang="language_en" --Caption="First site"
    </code>
</p>

<p>
    You must bind one or more domains with you site. You can set IDDomain to other. For example: examle.com.
    <code>
sudo -u www-data php cl.php --call=Domain.Create --IDSite="first_site" --IDDomain="localhost" --IDLang="language_en"
    </code>
</p>

<p>
    You have to create administration account for your site.
    <code>
sudo -u www-data php cl.php --call=Account.Create --IDSite="first_site" --IDLang="language_en" --IDLogin="administrator"
    </code>
</p>

<p>
    And after that you have to change password.
    <code>
sudo -u www-data php cl.php --call=Account.SetPassword --IDSite="new_site" --IDLogin="administrator"
    </code>
</p>

<p>
    Now you site must aviable on adress <a href="http://localhost/?&dmn=localhost" target="_blank">http://localhost/?&dmn=localhost</a>. You can open <a href="http://localhost/?&body=Console.html" target="_blank">Consle</a>.
</p>

<p>
    Installation is compleeted.
</p>
