<form class="DescriptForm" id="Form" method="post" enctype="multipart/form-data">

    <div class="Group">
        <h1>
            Invite #%ID%
        </h1>

        <cl content="DescriptCaptionEdit.html" pars="true"/>     

        <div class="Line">
            <div class="Caption">
                Conteiner
            </div>
            <cl content="Select.html" clID="IDConteiner" clName="IDConteiner" clValue="" clPlaceholder="" clType=""/>
        </div>

        <div class="Line">
            <div class="Caption">
                Role 1
            </div>
            <cl content="Select.html" clID="IDRole1" clName="IDRole1" clValue="%IDRole1%" clPlaceholder="" clType="Agent"/>
        </div>
        <div class="Line">
            <div class="Caption">
                Role 2
            </div>
            <cl content="Select.html" clID="IDRole2" clName="IDRole2" clValue="%IDRole2%" clPlaceholder="" clType="Agent"/>
        </div>
        <div class="Line">
            <div class="Caption">
                Role 3
            </div>
            <cl content="Select.html" clID="IDRole3" clName="IDRole3" clValue="%IDRole3%" clPlaceholder="" clType="Agent"/>
        </div>
        <div class="Line">
            <div class="Caption">
                Role 4
            </div>
            <cl content="Select.html" clID="IDRole4" clName="IDRole4" clValue="%IDRole4%" clPlaceholder="" clType="Agent"/>
        </div>
        <div class="Line">
            <div class="Caption">
                Role 5
            </div>
            <cl content="Select.html" clID="IDRole5" clName="IDRole5" clValue="%IDRole5%" clPlaceholder="" clType="Agent"/>
        </div>

       
    </div>


    <cl content="DescriptFormStandartFields.html" pars="true"/>

</form>
