<h1>
    Catlair
</h1>

<p>
    Catlair is a concept of distributed database system. The content management system (CMS) is created on this concept.
</p>
<p>
    CMS Catlair compiles Web content using specific tag, based on XML sintaxis.
</p>
<h2>
    Software conditions
</h2>
<ul>
    <li>
        Linux (ubintu, debian) - as operation system;
    </li>
    <li>
        nginx - for web server;
    </li>
    <li>
        php - for script.
    </li>
    <li>
        MySQL or file system - for datasource.
    </li>
</ul>

<h2>
    Architecture
</h2>

<img src="?image=Catlair Architecture.svg"/>

<h2>
    Data model
</h2>

<cl content="DataModelManual.html"/>

<h2>
    Data architecture
</h2>

<img src="?image=DataArchetecture.svg"/>

<ul>
    <li>
        <b>Specific data API</b> is a list of modules containing specific CRUD methods for different data sources, like TMySQL, TPostgreeSQL etc.
    </li>
    <li>
        <b>TDataCore</b> - the object that contains main methods for CRUD and databases manipulation.
    </li>
</ul>



