<div class="Group">
    <h2>
        Card details
    </h2>

    <div class="Line">
        <div class="Caption">
             Card Number
        </div>
        <input id="CardNumber" name="CardNumber" type="text" autocomplete="off" value="" autofocus style="max-width:20em;" onkeyup="CardValidate(event);" onchange="CardValidate(event);" placeholder="0000 0000 0000 0000"/>
    </div>

    <div class="Line">
        <div class="Caption">
             Card Holder Name
        </div>
        <input id="CardHolderName" name="CardHolderName" type="text" autocomplete="off" value="" placeholder="Jhon Smith"/>
    </div>

    <div class="Line">
        <div class="Caption">
             Expiry Date
        </div>
        <select id="ExpareMonth" name="ExpareMonth">
            <option value="01">Jan</option>
            <option value="02">Feb</option>
            <option value="03">Mar</option>
            <option value="04">Apr</option>
            <option value="05">May</option>
            <option value="06">Jun</option>
            <option value="07">Jul</option>
            <option value="08">Aug</option>
            <option value="09">Sep</option>
            <option value="10">Oct</option>
            <option value="11">Nov</option>
            <option value="12">Dec</option>
        </select>
        <select id="ExpareYear" name="ExpareYear">
            <option value="21">2021</option>
            <option value="22">2022</option>
            <option value="23">2023</option>
            <option value="24">2024</option>
            <option value="25">2025</option>
            <option value="26">2026</option>
            <option value="27">2027</option>
            <option value="28">2028</option>
            <option value="29">2029</option>
            <option value="30">2030</option>
        </select>
    </div>

    <div class="Line">
        <div class="Caption">
            CVC/CVV
        </div>
        <input id="CVV" type="text" maxlength="4" autocomplete="off" value="" style="max-width:4em;" placeholder="000"/>
    </div>

</div>


