<style>
.PaymentForm
{
    display:flex;
    justify-content: center;
    align-items: center;
}
</style>


<h1>
    %CaptionPaymentMethod%
</h1>

<div class="Group">

        <div class="Line">
            <div class="Caption">
                Description
            </div>
            <input id="Description" value="%Description%"/>
        </div>

        <div class="Line">
            <div class="Caption">
                Amount
            </div>            
            <input id="Amount" value="%Amount%" style="max-width:10em; text-align:right;" autocomplete="off" />
            <select id="IDCurrency" value="%IDCurrency%"/>
                <option value="AUD">AUD</option>
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
            </select>
        </div>
</div>