.PayForm
{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center
}



.PayForm .Content
{
    display:flex;
    flex-direction: row;
    justify-content: center;
}



.PayForm .Pad
{
    min-width:12em;
    display:flex;
    flex-direction:column;
    padding-top:1em;
    padding:1em;
}



.PayForm .Pad .Line
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;  
}



.PayForm .Pad .Line .Button
{
    padding:0.5em;
    margin:0.5em;
    flex-grow:1;
}



.PayForm .Fields
{
    padding:1em;
    min-width:12em;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}



.PayForm .Fields .Field
{
    display: flex;
    flex-direction: column;
}



.PayForm .Fields .Field .Caption
{
    font-size:0.7em;
}



.PayForm .Fields .Field button
{
    text-align:right;
    background-position: left 0.5em center;
    background-size: 1.0em 1.0em;
    background-repeat: no-repeat;
}


@media (max-width:1024px)
{
    .PayForm .Content
    {
        flex-direction: column;
        justify-content: center;
    }
}
