<style>
    <cl content="PayForm.css"/>
</style>

<h1>
    Pay #<span id="Caption"></span>
</h1>

<div class="Content">

    <div class="Fields">    
        <div class="Field">
            <div class="Caption">
                Charge (calculate)
            </div>
            <button type="button" id="BtnCharge" class="ImageCheck Unselected"/>
                0.00
            </button> 
        </div>     
        <div class="Field">
            <div class="Caption">
                Payed
            </div>
            <button type="button" id="BtnPay" class="ImageCheck Unselected"/>
                0.00
            </button> 
        </div>
        <div class="Field">
            <div class="Caption">
                Income (set full income)
            </div>
            <button type="button" id="BtnIncome" class="ImageCheck Unselected"/>
                0.00
            </button> 
        </div>
        <div class="Field">
            <div class="Caption">
                Change
            </div>
            <button type="button" id="BtnChange" class="ImageCheck Unselected"/>
                0.00
            </button> 
        </div>
    </div>

    <div class="Pad">
        <div class="Line">
            <button type="button" class="Button Unselected">
                1
            </button>
            <button type="button" class="Button Unselected">
                2
            </button>
            <button type="button" class="Button Unselected">
                3
            </button>
        </div>
        <div class="Line">
            <button type="button" class="Button Unselected">
                4
            </button>
            <button type="button" class="Button Unselected">
                5
            </button>
            <button type="button" class="Button Unselected">
                6
            </button>
        </div>
        <div class="Line">
            <button type="button" class="Button Unselected">
                7
            </button>
            <button type="button" class="Button Unselected">
                8
            </button>
            <button type="button" class="Button Unselected">
                9
            </button>
        </div>
        <div class="Line">
            <button type="button" class="Button Unselected">
                0
            </button>
            <button type="button" class="Button Unselected">
                .
            </button>
            <button type="button" class="Button Unselected">
                C
            </button>
        </div>
    </div>
</div>

<div class="Toolbar">
    <button type="button" id="BtnPayCash" class="Unselected ImageStick">
        Pay cash
    </button>
    <button type="button" id="BtnPayCashless" class="Unselected ImageCheck">
        Pay cashless
    </button>
    <button type="button" id="BtnPayCard" class="Unselected ImageCard">
        Pay card
    </button>

    <div class="">
    </div>

    <button type="button" id="BtnClose" class="Unselected ImageCancel">
        Close
    </button>
</div>

