<div style="margin-top:1em; margin-bottom:1em">
    <input type="checkbox" id="ConfirmPaymentAndRefund">
        <label for="ConfirmPaymentAndRefund">
            I have read and confirm the <a href="?section=documents&document=PaymentAndRefundPolicy.html" target="_blank">Payments and refunds policy</a>.
        </label>
    </input>
</div>

<div class="Toolbar">
    <button type="button" id="BtnPay" class="Unselected ImageOk">
        Pay
    </button>
    <button type="button" id="BtnCancel" class="Unselected ImageCancel">
        Cancel
    </button>
</div>
