<style>
.Logo
{
    height:3em;
    background-repeat:no-repeat; 
    background-position:center right;
    background-size: contain;
    flex:0 0 4em;
}
</style>

<div>
    <cl content="PayFormStandartFields.html"/>

    <div style="display:flex;justify-content:flex-end; align-items:center; padding-top:2em;">
        <a target="_blank" class="Logo" style="background-image:url(?&image=Visa.svg);">
        </a>
        <a target="_blank" class="Logo" style="background-image:url(?&image=Maestro.svg);">
        </a>
        <a target="_blank" class="Logo" style="background-image:url(?&image=MasterCard.svg);">
        </a>
        <a target="_blank" class="Logo" style="background-image:url(?&image=AmericanExpress.svg);">
        </a>
        <a href="https://www.commbank.com.au" target="_blank" class="Logo" style="background-image:url(?&image=Commonwealth.png); flex:1 1;">
        </a>
    </div>

    <cl content="PayCardForm.html"/>
    <cl content="PayFormStandartButtons.html"/>
</div>
