<form class="DescriptForm" method="post" enctype="multipart/form-data" id="Form">
    <div class="Group">
        <h1>
            Payment method
        </h1>
        <cl content="DescriptCaptionEdit.html" pars="true"/>     
    </div>
    <cl content="PaymentMethodFields.html" pars="true"/>
    <cl content="DescriptFormStandartFields.html" pars="true"/>
</form>


