<style>
.Logo
{
    height:3em;
    background-repeat:no-repeat; 
    background-position:center right;
    background-size: contain;
    flex:0 0 4em;
}
</style>


<div>
    <div style="display:flex;justify-content:flex-end; align-items:center; padding-top:2em;">
        <a target="_blank" class="Logo" style="background-image:url(?&image=PayPal.svg);">
            PayPal
        </a>
     </div>

    <cl content="PayFormStandartFields.html"/>

    PayPal transfer fees are deducted from the payment amount.
    <input type="hidden" id="AmountForPayment"/>


    <input type="hidden" name="bussiness" value="" />
    <input type="hidden" name="cmd" value="_xclick" />
    <input type="hidden" name="charset" value="utf-8" />
    <input type="hidden" name="undefined_quantity" value="1" />

    <cl content="PayFormStandartButtons.html"/>
</div>




