<div class="Group">

    <h2>
         Parameters
    </h2>

    <div class="Line">
        <div class="Caption">
            Configuration name
        </div>
        <input id="Config" name="Config" title=""/>
    </div>

    <div class="Line">
        <div class="Caption">
            Payment method name
        </div>
        <input id="ExtLibrary" name="ExtLibrary" title=""/>
    </div>

    <div class="Line">
        <div class="Caption">
            Payment provider
        </div>
        <cl content="Select.html" clValue="" clID="IDPaymentProvider" clName="IDPaymentProvider" clType="Agent" clPlaceholder=""/>
    </div>

    <div class="Line">
        <div class="Caption">
            Payment recipient
        </div>
        <cl content="Select.html" clValue="" clID="IDPaymentRecipient" clName="IDPaymentRecipient" clType="Agent" clPlaceholder=""/>
    </div>

</div>


<div class="Group">

    <h2>
         External configuration
    </h2>


    <div class="Line">
        <div class="Caption">
            External server configuration
        </div>
        <cl content="Select.html" clValue="" clID="IDServerConfiguration" clName="IDServerConfiguration" clType="Configuration" clPlaceholder=""/>
    </div>

    <div class="Line">
        <div class="Caption">
            External client configuration
        </div>
        <cl content="Select.html" clValue="" clID="IDClientConfiguration" clName="IDClientConfiguration" clType="Configuration" clPlaceholder=""/>
    </div>

</div>











