<button type="button" data-click="Test.AddBefore">
    <
</button>
<button type="button" data-click="Test.Delete">
    -
</button>
<button type="button" data-click="Test.AddAfter">
    >
</button>

