<div class="Group">
    <table class="ScheduleTable">
        <tbody>
            <tr>
                <td></td>
                <td>00</td>
                <td>01</td>
                <td>02</td>
                <td>03</td>
                <td>04</td>
                <td>05</td>
                <td>06</td>
                <td>07</td>
                <td>08</td>
                <td>09</td>
                <td>10</td>
                <td>11</td>
                <td>12</td>
                <td>13</td>
                <td>14</td>
                <td>15</td>
                <td>16</td>
                <td>17</td>
                <td>18</td>
                <td>19</td>
                <td>20</td>
                <td>21</td>
                <td>22</td>
                <td>23</td>
            </tr>

            <tr>
                <td>
                    Mon
                </td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>

                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>

                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>

                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>

                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
            </tr>

            <tr>
                <td>
                    Tue
                </td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>

                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>

                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>

                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>

                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
            </tr>

            <tr>
                <td>
                    Wed
                </td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>

                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>

                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>

                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>

                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
            </tr>


            <tr>
                <td>
                    Thu
                </td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>

                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>

                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>

                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>

                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
            </tr>

            <tr>
                <td>
                    Fri
                </td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>

                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>

                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>

                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>

                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
            </tr>

            <tr style="background-color:#FF7C7C7C">
                <td>
                    Sat
                </td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>

                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>

                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>

                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>

                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
            </tr>

            <tr style="background-color:#FF7C7C7C">
                <td>
                    Sun
                </td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>

                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>

                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>

                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>

                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
                <td><div class="ManuscriptCheck"></div></td>
            </tr>
        </tbody>
    </table>
</div>



