<form class="DescriptForm" method="post" enctype="multipart/form-data" id="Form">
    <div class="Group">
        <h1>
            Schedule #%ID%
        </h1>
        <cl content="DescriptCaptionEdit.html" pars="true"/>     
    </div>

    <div class="Toolbar">
        <button type="button" class="ImageFlag Unselected" id="BtnText">
            Test
        </button>  
    </div>

    <cl content="FormDescriptSection.html" ContentSection="ScheduleFormFields.html" CaptionSection="Amounts" Collaps="False" pars="true"/>

    <cl content="FormDescriptSection.html" ContentSection="DescriptFormStandartFields.html" CaptionSection="Standart" Collaps="True" pars="true"/>

</form>
