<style>
.Section
{
    display:flex;
}  



.Section label
{
    padding-right:1em;
}



.ScheduleTable
{
}



.TimeInterval
{
    max-width:7em;
    text-align:center;
}

</style>



<div class="Group GroupYellow" id="ScheduleGroup">

    <h2>
        Schedule
    </h2>

    <div class="Line">
        <div class="Caption">
            Fill
        </div>
        <button type="button" onclick="cl.ScriptWait( [ 'ScheduleFormFields.js' ], () => TScheduleFormFields.Fill( cl, this, 'Never' ));">
            Never
        </button>
        <button type="button" onclick="cl.ScriptWait( [ 'ScheduleFormFields.js' ], () => TScheduleFormFields.Fill( cl, this, 'Always' ));">
            Always
        </button>
        <button type="button" onclick="cl.ScriptWait( [ 'ScheduleFormFields.js' ], () => TScheduleFormFields.Fill( cl, this, 'Night' ));">
            Nights
        </button>
    </div>

    <div class="Line">
        <div class="Caption">
            Monday
        </div>
        <input class="TimeInterval" name="MonInterval1" id="MonInterval1" placeholder="00:00 > 00:00">
        <div class="Caption">or</div>
        <input class="TimeInterval" name="MonInterval2" id="MonInterval2" placeholder="00:00 > 00:00">
        <div class="Caption">or</div>
        <input class="TimeInterval" name="MonInterval3" id="MonInterval3" placeholder="00:00 > 00:00">
        <div class="Caption">or</div>
        <input class="TimeInterval" name="MonInterval4" id="MonInterval4" placeholder="00:00 > 00:00">
    </div>

    <div class="Line">
        <div class="Caption">
            Tuesday
        </div>
        <input class="TimeInterval" name="TueInterval1" id="TueInterval1" placeholder="00:00 > 00:00">
        <div class="Caption">or</div>
        <input class="TimeInterval" name="TueInterval2" id="TueInterval2" placeholder="00:00 > 00:00">
        <div class="Caption">or</div>
        <input class="TimeInterval" name="TueInterval3" id="TueInterval3" placeholder="00:00 > 00:00">
        <div class="Caption">or</div>
        <input class="TimeInterval" name="TueInterval4" id="TueInterval4" placeholder="00:00 > 00:00">
    </div>

    <div class="Line">
        <div class="Caption">
            Wednesday
        </div>
        <input class="TimeInterval" name="WedInterval1" id="WedInterval1" placeholder="00:00 > 00:00">
        <div class="Caption">or</div>
        <input class="TimeInterval" name="WedInterval2" id="WedInterval2" placeholder="00:00 > 00:00">
        <div class="Caption">or</div>
        <input class="TimeInterval" name="WedInterval3" id="WedInterval3" placeholder="00:00 > 00:00">
        <div class="Caption">or</div>
        <input class="TimeInterval" name="WedInterval4" id="WedInterval4" placeholder="00:00 > 00:00">
    </div>

    <div class="Line">
        <div class="Caption">
            Thursday
        </div>
        <input class="TimeInterval" name="ThuInterval1" id="ThuInterval1" placeholder="00:00 > 00:00">
        <div class="Caption">or</div>
        <input class="TimeInterval" name="ThuInterval2" id="ThuInterval2" placeholder="00:00 > 00:00">
        <div class="Caption">or</div>
        <input class="TimeInterval" name="ThuInterval3" id="ThuInterval3" placeholder="00:00 > 00:00">
        <div class="Caption">or</div>
        <input class="TimeInterval" name="ThuInterval4" id="ThuInterval4" placeholder="00:00 > 00:00">
    </div>

    <div class="Line">
        <div class="Caption">
            Friday
        </div>
        <input class="TimeInterval" name="FriInterval1" id="FriInterval1" placeholder="00:00 > 00:00">
        <div class="Caption">or</div>
        <input class="TimeInterval" name="FriInterval2" id="FriInterval2" placeholder="00:00 > 00:00">
        <div class="Caption">or</div>
        <input class="TimeInterval" name="FriInterval3" id="FriInterval3" placeholder="000:00 > 00:00">
        <div class="Caption">or</div>
        <input class="TimeInterval" name="FriInterval4" id="FriInterval4" placeholder="00:00 > 00:00">
    </div>

    <div class="Line">
        <div class="Caption">
            Saturday
        </div>
        <input class="TimeInterval" name="SatInterval1" id="SatInterval1" placeholder="00:00 > 00:00">
        <div class="Caption">or</div>
        <input class="TimeInterval" name="SatInterval2" id="SatInterval2" placeholder="00:00 > 00:00">
        <div class="Caption">or</div>
        <input class="TimeInterval" name="SatInterval3" id="SatInterval3" placeholder="00:00 > 00:00">
        <div class="Caption">or</div>
        <input class="TimeInterval" name="SatInterval4" id="SatInterval4" placeholder="00:00 > 00:00">
    </div>

    <div class="Line">
        <div class="Caption">
            Sunday
        </div>
        <input class="TimeInterval" name="SunInterval1" id="SunInterval1" placeholder="00:00 > 00:00">
        <div class="Caption">or</div>
        <input class="TimeInterval" name="SunInterval2" id="SunInterval2" placeholder="00:00 > 00:00">
        <div class="Caption">or</div>
        <input class="TimeInterval" name="SunInterval3" id="SunInterval3" placeholder="00:00 > 00:00">
        <div class="Caption">or</div>
        <input class="TimeInterval" name="SunInterval4" id="SunInterval4" placeholder="00:00 > 00:00">
    </div>

    <div class="Line Expert">
        <div class="Caption">
            or include list of periods
        </div>
        <textarea rows="4" name="IntervalInclude" id="IntervalInclude" placeholder="DD.MM.YYYY hh:mm:ss > DD.MM.YYYY hh:mm:ss;"></textarea>
    </div>

    <div class="Line Expert">
        <div class="Caption">
            or include list of public holydays
        </div>
        <textarea rows="4" name="IntervalInclude_1" id="IntervalInclude_1" placeholder="DD.MM.YYYY hh:mm:ss > DD.MM.YYYY hh:mm:ss;"></textarea>
    </div>

    <div class="Line Expert">
        <div class="Caption">
            <div>and exclude periods</div>
            <div>with the highest priority</div>
        </div>
        <textarea rows="4" name="IntervalExclude" id="IntervalExclude" placeholder="DD.MM.YYYY hh:mm:ss > DD.MM.YYYY hh:mm:ss;"></textarea>
    </div>

    <div class="Line Expert">
        <div class="Caption">
            Schedule test for moment
        </div>
        <cl content="MomentInterval.html" clValue="" clID="TestMoment" clName="TestMoment"/>
        <button type="button" onclick="cl.ScriptWait( [ 'ScheduleFormFields.js' ], () => TScheduleFormFields.Test( cl, this ));">
            Test
        </button>
    </div>

</div>


