<form class="DescriptForm" method="post" enctype="multipart/form-data" id="Form">

    <div class="Group">
        <h1>
            Site
        </h1>
        <cl content="DescriptCaptionEdit.html" pars="true"/>     
    </div>

    <div class="Group">
        <h2>
            Основаная база данных сайта
        </h2>

        <div class="Line">
            <div class="Caption">
                Тип
            </div>
            <div class="Data">
                <input name="DatabaseType" id="DatabaseType"/>
            </div>
        </div>

        <div class="Line">
            <div class="Caption">
                Сервер
            </div>
            <div class="Data">
                <input name="DatabaseHost" id="DatabaseHost"/>
            </div>
        </div>

        <div class="Line">
            <div class="Caption">
                Пользователь
            </div>
            <div class="Data">
                <input name="DatabaseLogin" id="DatabaseLogin"/>
            </div>
        </div>

        <div class="Line">
            <div class="Caption">
                Имя
            </div>
            <div class="Data">
                <input name="DatabaseName" id="DatabaseName"/>
            </div>
        </div>
    </div>

    <cl content="DescriptFormStandartFields.html" pars="true"/>
</form>




