<form class="DescriptForm" method="post" enctype="multipart/form-data" id="Form">
    <div class="Group">
        <h1>
            Taxrate
        </h1>
        <cl content="DescriptCaptionEdit.html" pars="true"/>
        <cl content="TaxrateFormSection.html" pars="true"/>
    </div>
    <cl content="DescriptFormStandartFields.html" pars="true"/>
</form>
