<h2>
    Taxrate rules
</h2>

<div class="Line">
    <div class="Caption">
        Price
    </div>
    <input class="Money" name="Price" id="Price" value=""/>

    <div class="Caption">
        currency
    </div>
    <cl content="Select.html" clID="IDCurrency" clName="IDCurrency" clValue="" clPlaceholder="Currency" clType="Currency"/>

    <div class="Caption">
        Zero charge
    </div>
    <select name="ZeroCharge" id="ZeroCharge" value="">
        <option value="">Default</option>
        <option value="false">Disabled</option>
        <option value="true">Enabled</option>
    </select>
</div>

<div class="Line">
    <div class="Caption">
        Quantity
    </div>
    <select name="UseQuantity" id="UseQuantity" value="">
        <option value="">Default</option>
        <option value="false">Not use</option>
        <option value="true">Use</option>
    </select>
    <div class="Caption">
        value
    </div>
    <input class="Quantity" name="CountQuantity" id="CountQuantity" value=""/>
    <div class="Caption">
        by
    </div>
    <cl content="Select.html" clID="IDUnitQuantity" clName="IDUnitQuantity" clValue="" clPlaceholder="Quantity unit" clType="Unit"/>

    <div class="Caption">
        free
    </div>
    <input class="Quantity" name="FreeQuantity" id="FreeQuantity" value=""/>

    <div class="Caption">
        min
    </div>
    <input class="Quantity" name="MinQuantity" id="MinQuantity" value=""/>
    <div class="Caption">
        max
    </div>
    <input class="Quantity" name="MaxQuantity" id="MaxQuantity" value=""/>
</div>

<div class="Line">
    <div class="Caption">
        Duration
    </div>
    <select name="UseDuration" id="UseDuration" value="">
        <option value="">Default</option>
        <option value="Not">Not use</option>
        <option value="Accuracy">Use accuracy</option>
        <option value="Seed">Use seed</option>
    </select>
    <div class="Caption">
        length
    </div>
    <input class="Quantity" name="Duration" id="Duration" value=""/>
    <div class="Caption">
        by
    </div>
    <cl content="Select.html" clID="IDUnitDuration" clName="IDUnitDuration" clValue="" clPlaceholder="Duration unit" clType="Unit"/>

    <div class="Caption">
        free
    </div>
    <input class="Quantity" name="FreeDuration" id="FreeDuration" value=""/>

    <div class="Caption">
        min
    </div>
    <input class="Quantity" name="MinDuration" id="MinDuration" value=""/>
    <div class="Caption">
        max
    </div>
    <input class="Quantity" name="MaxDuration" id="MaxDuration" value=""/>
</div>

<div class="Line">
    <div class="Caption">
        Time seed
    </div>
    <select name="Timeseed" id="Timeseed" value="">
        <option value="">Default</option>
        <option value="Each">Each</option>
        <option value="Once">Once</option>
        <option value="Hour">Hour</option>
        <option value="Day">Day</option>
        <option value="Month">Month</option>
    </select>
</div>

<div class="Line">
    <div class="Caption">
        Recharge timeout hour
    </div>
    <input class="Quantity" name="RechargeTimeoutHour" id="RechargeTimeoutHour" value=""/>
</div>

<div class="Line">
    <div class="Caption">
        Provider
    </div>
    <cl content="Select.html" clID="IDProvider" clName="IDProvider" clValue="" clPlaceholder="Provider" clType="Agent"/>
</div>

<div class="Line">
    <div class="Caption">
        Client
    </div>
    <cl content="Select.html" clID="IDClient" clName="IDClient" clValue="" clPlaceholder="Client" clType="Agent"/>
</div>

<div class="Line">
    <div class="Caption">
        Active from
    </div>
    <cl content="MomentInterval.html" clValue="" clID="DTBegin" clName="DTBegin" clBegin="DTBegin" clEnd="DTEnd"/>
    <div class="Caption">
        to
    </div>
    <cl content="MomentInterval.html" clValue="" clID="DTEnd" clName="DTEnd" clBegin="DTBegin" clEnd="DTEnd"/>
</div>

<div class="Line">
    <div class="Caption">
        Shedule
    </div>
    <cl content="Select.html" clID="IDSchedule" clName="IDSchedule" clValue="" clPlaceholder="Schedule for charge" clType="Schedule"/>
</div>

<div class="Line">
    <div class="Caption">
        External library
    </div>
    <input name="ExtLibrary" id="ExtLibrary" value=""/>
</div>






