<a href="?&body=Body.html&page=Page.html">Catlair</a>
<a href="?&body=Body.html&page=Download.html">Download</a>
<a href="?&body=Body.html&page=Install.html">Setup</a>
<a style="display:none" href="?&body=Body.html&page=Manual.html&manual=IntroManual.html">Manual</a>
<div class="Space">
</div>
<a style="display:none" href="javascript:" onclick="cl.Lang({IDLang:'language_en'});" title="English language">EN</a>
<a style="display:none" href="javascript:" onclick="cl.Lang({IDLang:'language_ru'});" title="Русский язык">RU</a>
<a href="?&body=Body.html&page=Console.html">Console</a>
