<form class="DescriptForm" method="post" enctype="multipart/form-data" id="Form">
    <div class="Group">
        <h1>
            Unit transfer
        </h1>

        <cl content="DescriptCaptionEdit.html" pars="true"/>

        <div class="Line">
            <div class="Caption">
                Тип
            </div>
            <input name="ValueFrom" id="ValueFrom" value="%ValueFrom%"/>
            <cl content="Select.html" clValue="%IDUnitFrom%" clID="IDUnitFrom" clName="IDUnitFrom" clType="Unit" clPlaceholder=""/>
            =
            <input name="ValueTo" id="ValueTo" value="%ValueTo%"/>
            <cl content="Select.html" clValue="%IDUnitTo%" clID="IDUnitTo" clName="IDUnitTo" clType="Unit" clPlaceholder=""/>
        </div>

    </div>

    <cl content="DescriptFormStandartFields.html" pars="true"/>
</form>
