<form class="DescriptForm" method="post" enctype="multipart/form-data" id="Form">
    <div class="Group">
        <h1>
            Unit #%ID%
        </h1>

        <cl content="DescriptCaptionEdit.html" pars="true"/>

        <div class="Line">
            <div class="Caption">
                Transfer
            </div>
            <textarea name="Transfer" id="Transfer" style="width:100%;" rows="10" placeholder="1 = 10 unit"/>%ValueFrom%</textarea>
        </div>

    </div>

    <cl content="DescriptFormStandartFields.html" pars="true"/>
</form>
