<div>
    <h1>
        Pusa concept - WEB without JS Front
    </h1>

    <p>
        Pusa concept moves development to the Back-end, excluds JS works for a Front-end. 
        DOM elements and business logic are controlled on the Back-end side.
        There is no JS development for Front. The Pusa can be implemented at any Back-end:        
        <a href="https://gitlab.com/catlair/pusa/-/blob/main/site/pusa/src/language_default/man/pusa_php.md" target="_blank">
            PHP
        </a>, JS, Java, Go, Ruby, etc.
    </p>

    <h2>
        Positive features
    </h2>

    <ul>
        <li>
            Eliminated the need for front-end JS developers to participate.
        </li>
        <li>
            The client application in the browser is compact (6kb) and stable.
        </li>
        <li>
            The code remains on the back and is not available from the front.
        </li>
        <li>
            REST serialization problems are completely solved, no need for tools like gRPC etc.
        </li>
        <li>
            Eliminated back-end and front-end routing negotiation problems.
        </li>
        <li>
            Pure REST is supported, including stateless client state on the server side.
        </li>
    </ul>

    <h2>
       Technology
    </h2>

    <p>
        Pusa defines a protocol based on minimum
        <a href="https://gitlab.com/catlair/pusa/-/blob/main/site/pusa/src/language_default/man/pusa_php_methods.md" target="_blank">
             directives
        </a>.
    </p>

    <ul>
        <li>
            First, the brower loads the basic
            <a href="https://gitlab.com/catlair/pusa/-/blob/main/site/site_default/src/language_default/index.html" target="_blank">
                DOM content
            </a>
            and the core
            <a href="https://gitlab.com/catlair/pusa/-/blob/main/site/site_default/src/language_default/index.js" target="_blank">
                JS Pusa-Front
            </a>
        </li>
        <li>
            Pusa-Front sends browser events (such as click, blur, focus, keypress), 
            the element that triggered the event, its attributes, the URL of the current page, 
            as well as GET and POST parameters to the Pusa-Back via an Ajax request.
        </li>
        <li>
            Based on the received data, Pusa-Back determines the controller, 
            executes the payload and generates a response command set.
        </li>
        <li>
            Upon receiving a request response, Pusa-Front executes commands, 
            changing the DOM content and the environment of the browser.
        </li>
    </ul>

    <div class="Image" style="background-image:url(images/pusa_exchange.png?&scalex=1024);">
    </div>

    <p>
        Back sends commands back and has no way of verifying their execution.
        The Front state is generated but not controlled by the Back-end.
        Development for Pusa is similar to code for a video card or Canvas, 
        where the result of execution is not controlled by the developer.
    </p>

    <div class="Image" style="background-image:url(images/dom_scheme.png?&scalex=1024);">
    </div>

    <h2>
        Step by step
    </h2>

    <ol>
        <li>
            The focus moves to the body of the document;
        </li>
        <li>
            Child elements with className B are selected;
        </li>
        <li>
            Payload for focus elements is done;
        </li>
        <li>
            The parent of the current focus elements is selected;
        </li>
        <li>
            Focus moves to child C;
        </li>
        <li>
            Payload for element C is done.
        </li>
    </ol>



    <h2>
        The essence of working with the DOM
    </h2>

    <p>
        Pusa-Front defines the focus list of DOM elements based on Pusa-Back commands.
        All DOM actions, including changing content, creating and deleting elements, 
        change styles for focus elements only. Their list can be changed by the Pusa-back command. 
        This way, all DOM control is passed to the backend.
    </p>

    <h2>
        Confines
    </h2>

    <p>
        The following situations will require additional JS scripts on the client:
    </p>

    <ul>
        <li>
            Canvas and onmousemove, interactive applications.
        </li>
        <li>
            The need to use third-party JS scripts.
        </li>
    </ul>

    <p>
        There is the ability to download and use additional JS scripts.
    </p>

    <p>
        Pusa shifts part of the load from the Front-end to the Back-End and increases the frequency of interaction with the server.
    </p>


    <h2>
        Resume
    </h2>

    <p>
        Pusa does not focus on any particular implementation, but offers a paradigm shift
        in web development. PHP framework, implemented to demonstrate the technology's performance.

        Check out
        <a href="https://gitlab.com/catlair/pusa/-/blob/main/site/pusa/src/language_en/man/pusa_protocol.md" target="_blank">
             protocol
        </a> 
        and list of
        <a href="https://gitlab.com/catlair/pusa/-/blob/main/site/pusa/src/language_default/man/pusa_php_methods.md" target="_blank">
            PHP methods
        </a>.
    </p>
    
</div>
