<div>
    <h1>
        Pusa in incontainer
    </h1>

    <a href="https://hub.docker.com/r/catlairnet/pusa_ubutu_nginx_php_ssh" target="_blank">
        <button type="button">Start with Docker</button>
    </a>

     <h2>
        The container consists
    </h2>
    <ul>
        <li>
            ubuntu
        </li>
        <li>
            nginx
        </li>
        <li>
            php
        </li>
        <li>
            ssh
        </li>
        <li>
            pusa
        </li>
    </ul>

    <div style=
        "
        background-image    : url(images/pusa_ubuntu_nginx_php_ssh.png?scalex=1024); 
        width               : 100%;
        min-height          : 70vh;
        background-size     : contain; 
        background-position : center;
        background-repeat   : no-repeat;
        "
    >
    </div>
  
    <h2>
        Description
    </h2>

    <p>
        Container Pusa runs the <a href="https://gitlab.com/catlair/pusa/-/blob/main/site/pusa/php/keeper/keeper.php">keeper.php</a>.
        It starts the nginx, php, ssh and waits while container works.
        The Nginx,PHP и SSH are configured. All configs can be be changed for http ssl, another ports etc.
    </p>

    <p>
        The launch of the container is described by the <a href="https://hub.docker.com/r/catlairnet/pusa_ubutu_nginx_php_ssh" target="_blank">Link</a>.         
    </p>

</div>

