<style>
    <cl content="css/Examples.css"/>
</style>

<div class="Examples">

    <h1>
        Exampels
    </h1>

    <div class="Links">
        <div class="Local">
            <h2>
                List
            </h2>
            <a href="#SetContent">SetContent</a>
            <a href="#SetURLWithoutReloading">URL without reloading</a>
            <a href="#PostRequestAndAuthorization">Post request and authorization</a>
            <a href="#UploadOnScroll">Upload on scroll</a>
            <a href="#CRUDForm">CRUD form</a>
            <a href="#Timer">Timer events</a>
            <a href="#EventHandling">Event handling</a>
            <a href="#Clipboard">Clipboard</a>
            <a href="#FormExample">Form</a>
        </div>

        <div class="Local">
            <h2>
                Demo
            </h2>
            <a href="https://file.pusa.dev" target="_blank">File sharing demo</a>
            <a href="https://engram.catlair.net" target="_blank">English grammar</a>
            <a href="https://todo.catlair.net" target="_blank">Todo demo</a>
        </div>

        <div class="External">
            <h2>
                Links
            </h2>
            <a href="https://gitlab.com/catlair/pusa/-/blob/main/site/pusa/src/language_default/man/pusa_php_methods.md#GetAttributes" target="_blank">
                Methods
            </a>
            <a href="https://gitlab.com/catlair/pusa/-/blob/main/php/core/pusa_core.php" target="_blank">
                Core of Pusa
            </a>
            <a href="https://gitlab.com/catlair/pusa/-/blob/main/site/pusa/php/pusa/Main.php" target="_blank">
                Controller Main
            </a>
            <a href="https://gitlab.com/catlair/pusa/-/blob/main/site/pusa/php/pusa/Test.php" target="_blank">
                Contoller Test
            </a>
            <a href="https://gitlab.com/catlair/pusa/-/blob/main/site/pusa/php/pusa/auth.php" target="_blank">
                Auth trait
            </a>
        </div>
    </div>



    <div class="Item">
        <a class="Anchor" name="SetContent"></a>
        <h2>
            Set Content
        </h2>
        <p>
            Demonstration of setting content for an arbitrary element on the page.
            The onclick event for the button is set in the PHP controller by the Main method Examples.
        </p>
        <div class="Toolbar">
            <cl content="ExampleGUIDBtn.html"/>
        </div>
        <div class="HTML">
            <cl content="ExampleGUIDBtn.html" convert="code"/>
        </div>
        <div  class="PHP">
            <cl content="ExampleGUIDPHP.html" convert="code"/>
        </div>
    </div>



    <div class="Item">
        <a class="Anchor" name="SetURLWithoutReloading"></a>
        <h2>
            URL without reloading
        </h2>
        <p>
            The example changes the URL of the current page without reloading it.
            The HTML code sets the onclick event via the HTML data-event attribute.
        </p>
        <cl content="ExampleURLBtn.html"/>
        <div class="HTML">
            <cl content="ExampleURLBtn.html" convert="code"/>
        </div>
        <div class="PHP">
            <cl content="ExampleURLPHP.html" convert="code"/>
        </div>
    </div>



    <div class="Item">
        <a class="Anchor" name="PostRequestAndAuthorization"></a>
        <h2>
            Post request and authorization
        </h2>
        <p>
            The authorization example demonstrates how to work with POST requests through a form.
            Password containes the login plus one "*". It can be found in the 
            <a href="https://gitlab.com/catlair/pusa/-/blob/main/site/pusa/php/pusa/auth.php" target="_blank">
                PHP example
            </a>.
        </p>

        <cl content="ExampleAuthForm.html"/>
    </div>

    <div class="Item">
        <a class="Anchor" name="UploadOnScroll"></a>
        <h2>
            Upload on scroll
        </h2>
        <p>
            Demonstration of loading a dynamic list. Scrolling to the bottom of the page loads the next GUID package.
        </p> 
        <a href="https://gitlab.com/catlair/pusa/-/blob/main/site/pusa/php/pusa/guids.php" target="_blanks">
            PHP on Git
        </a>.
        <cl content="ExampleGUIDList.html"/>
    </div>




    <div class="Item">
        <a class="Anchor" name="CRUDForm"></a>
        <h2>
            CRUD Form
        </h2>
        <p>
            The Form shows an example of CRUD operations without JS. This is visual demonstration only.
            <a href="https://gitlab.com/catlair/pusa/-/blob/main/site/pusa/php/pusa/CRUD.php" target="_blanks">
                PHP on Git
            </a>. 
            A full CRUD demo for PostgreSQL and MySQL is hosted on the
            <a href="https://todo.catlair.net" target="_blank">
                TODO demo site
            </a>.
        </p>
        <div class="Space">
        </div>
        <div class="Toolbar">
            <button type="button" class="CRUDAddFirst">
                First
            </button>
            <button type="button" class="CRUDAddLast">
                Last
            </button>
            <div class="Space">
            </div>
            <button type="button" class="CRUDScrollTop">
                Top
            </button>
            <button type="button" class="CRUDScrollBottom">
                Bottom
            </button>
            <div class="Space">
            </div>
            <button type="button" class="CRUDClear">
                Clear
            </button>
        </div>
        <div class="CRUDContainer Container">
            <div class="List">
            </div>
        </div>
        <p>
            Images used from <a href="https://picsum.photos" target="_blank">https://pics.photos</a>.
        </p>
    </div>


    <div class="Item">
        <a class="Anchor" name="Timer"></a>
        <h2>
            Timer events
        </h2>
        <p>
            You can start timer for any object.
            <a href="https://gitlab.com/catlair/pusa/-/blob/main/site/pusa/php/pusa/Timer.php" target="_blanks">
                PHP on Git
            </a>.
        </p>

        <div class="Space">
        </div>

        <div class="Toolbar">
            <button type="button" class="HalfSecond">
                Half second
            </button>
            <button type="button" class="OneSecond">
                One second
            </button>
            <button type="button" class="FiveSeconds">
                Five seconds
            </button>
        </div>
    </div>



    <div class="Item">
        <a class="Anchor" name="EventHandling"></a>
        <h2>
            Event handling
        </h2>
        <p>
            Demonstrates three methods for handling DOM events.
            <a href="https://gitlab.com/catlair/pusa/-/blob/main/site/pusa/php/pusa/Events.php" target="_blanks">
                PHP on Git
            </a>
        </p>
        <div class="Toolbar Events">
            <button class="BackendEvent">
                Backend
            </button>
            <button class="FrontendEvent">
                Frontend
            </button>
            <button class="JSEvent">
                JS
            </button>
        </div>
    </div>





    <div class="Item">
        <a class="Anchor" name="Clipboard"></a>
        <h2>
            Clipboard
        </h2>
        <p>
            The example copying text to the clipboard. Сopy event is used without calling back.
            <a href="https://gitlab.com/catlair/pusa/-/blob/main/site/pusa/php/pusa/clipboard.php" target="_blanks">
                PHP on Git.
            </a>
        </p>
        <div class="Toolbar Events">
            <button class="BtnCopyValue">
                Copy 
            </button>
        </div>

        <textarea class="SourceTextarea Container">The text is placed in the textarea value. Click the Copy button. The text will be moved to the clipboard.</textarea>
        <textarea class="DestTextarea Container" style="display:none" placeholder="Stand in this field and press CTRL+V"></textarea>

    </div>




    <div class="Item">
        <a class="Anchor" name="FormExample"></a>
        <h2>
            Form
        </h2>
        <p>
            The form example.
            <a href="https://gitlab.com/catlair/pusa/-/blob/main/site/pusa/php/pusa/form.php" target="_blanks">
                PHP on Git.
            </a>
        </p>

        <form class="DemoForm Form">

            <div class="Line">
                <label class ="Left">
                    Textarea
                </label>
                <textarea name="ATextarea" placeholder="Text value" rows="5"></textarea>
            </div>

            <div class="Line">
                <label class="Left">
                    Text
                </label>
                <input name="AString" placeholder="Input value">
            </div>

            <div class="Line">
                <label class="Left">
                    Select
                </label>
                <select name="ASelect">
                    <option value="Select1">Select 1</option>
                    <option value="Select2">Select 2</option>
                    <option value="Select3">Select 3</option>
                </select>
            </div>

            <div class="Line">
                <label class="Left">
                    File
                </label>
                <input type="file" name="AFiles" multiple="multiple">
            </div>

            <div class="Line">
                <label>
                    <input type="checkbox" name="ACheckbox"/>
                    Check box
                </label>
            </div>

            <div class="Line">
                <label>
                    <input type="radio" name="ARadio" value="Radio1"/>
                    Radio 1
                </label>
            </div>

            <div class="Line">
                <label>
                    <input type="radio" name="ARadio" value="Radio2"/>
                    Radio 2
                </label>
            </div>

            <div class="Toolbar">
                <button type="button" class="FormSend">
                    Send
                </button>
            </div>

        </form>

        <div class="FormResult Form">
        </div>

    </div>
</div>
