<div id="ExamplePerson">
    <button 
        type="button" 
        data-event="click.Person.Click" 
        data-person="John the Smith" 
        data-age="33"
    >
        Fill
    </button>
    <div>
        Person:
        <span id="Person">
        </span>
    </div>
    <div>
        Age:
        <span id="Age">
        </span>
    </div>
</div>
