/*
    Simple login form for Pusa examples
*/
<input name="login" placeholder="login">
<input type="password" name="password" placeholder="password">
<button type="button" class="Login">
    login
</button>
