<h2>
    Uploaded form
</h2>
<h6>
    %IDGroup%
</h6>

<div class="FormData">    
</div>

<div class="FilesGroup" style="display:none;">
    <h3>
         Uploaded files
    </h3>
    <div class="Files">
    </div>
</div>
