<div class="Header">
    <div class="Logo">
        <div class="Name">
            <b>Pusa</b> framework
        </div>
        <div class="Slogan">
            WEB without JS frontend
        </div>
    </div>
    <div class="Space">
    </div>
    <a 
        href="https://www.gnu.org/licenses/agpl-3.0.en.html" 
        target="_blank" 
        class="Baner" 
        style="background-image:url(https://www.gnu.org/graphics/agplv3-155x51.png)"
    >
    </a>
</div>

<div class="Menu">
    <div class="Item Action Main" data-action="Main">
        Hello world
    </div>
    <div class="Item Action Concept" data-action="Concept">
        Concept
    </div>
    <div class="Item Action Examples" data-action="Examples">
        Examples
    </div>
    <div class="Item Action Manual" data-action="Manual">
        Manual
    </div>
    <div class="Item Action Docker" data-action="Docker">
        Docker
    </div>
    <a class="Item" href="https://gitlab.com/catlair/pusa/-/tree/main" target="_blank">
        Git
    </a>
    <div class="Space">
    </div>
    <cl content="Languages.html"/>
</div>


<div class="Frame Asd">
</div>

<div class="Bottom">
    <a href="http://t.me/pusa_catlair_net" target="_blank">
        telegram
    </a>
    <div class="Space">
    </div>
    <a href="https://pusa.dev">
        Developed on Catlair 2021
    </a>
    <a href="http://itserv.ru?lang=language_en" target="_blank">
        itserv.ru
    </a>
</div>

