<h1>
    Memorandum of the development 
</h1>
<div>
   of a free version of Pusa-PHP
</div>
<div>
   2022-01-30 V1.
</div>

<h2>
    Table of contents
</h2>

<ul class="Content">
    <li>
        <a href="#Intro">Introduction</a>
    </li>
    <li>
        <a href="#Issue">Issue</a>
    </li>
    <li>
        <a href="#Solution">Solution</a>
    </li>
    <li>
        <a href="#PusaPHP">Roadmap for the free version of Pusa-PHP</a>
    </li>
    <li>
        <a href="#GiftAgreement">Donation agreement</a>
    </li>
</ul>
