<div class="DonateForm">
    <div class="Info">
        The mechanism for collecting donations will be published.
        Documents and information are published for public review.
    </div>

    <div style="display:none;">
        <input id="MemorandumConfirm" type="CheckBox">
        <label for="MemorandumConfirm">
            я ознакомился с нижеследующим Меморандумом развития и 
            <a href="#GiftAgreement">
                соглашением сторон о пожертвовании
            </a>.
        </div>
    </div>
</div>

