<a class="Anchor" name="Intro"></a>

<h2>
    Introduction
</h2>

<p>
    Creating a WEB application involves the development of a pair of components: 
a client and a server. Differences between client and server require 
specialization of development methods for the execution of each application 
task. This requires learning and maintaining heterogeneous components such as 
JavaScript, frameworks, serialization tools, and so on.
</p>

<p>
    The <a href="?section=Concept">Pusa concept</a> moves all development to the 
BackEnd. Management of the browser and displayed content is carried out on the 
BackEnd. Pusa does not add a new components and respects the 
<a href="https://ru.wikipedia.org/wiki/REST">REST</a>.
</p>


<p> <a 
href="https://hub.docker.com/r/catlairnet/pusa_ubutu_nginx_php_ssh">available</a> 
under the aGPL.v3 free licence. The Pusas source code and manuals are <a 
href="https://gitlab.com/catlair/pusa/-/tree/main" target="_blank"> 
published</a> in the public domain as proof of the effectiveness of the 
technology. </p>

<p class="Info"> We guarantee that the public implementation of Pusa will be 
free and available to all developers and their clients. Check out the 
Development Memorandum. Support the project financially. </p>
