<form class="DescriptForm" id="Form" method="post" enctype="multipart/form-data">

    <div class="Group">
        <h1>
            Учетная запись #%ID%
        </h1>

        <div class="Toolbar">
            <button type="button" id="ChangePassword" class="Unselected ImageKey Hide">
                Смена пароля
            </button>
        </div>

        <cl content="DescriptCaptionEdit.html" pars="true"/>
  
        <div class="Line">
            <div class="Caption">
                Основная организация
            </div>
            <cl content="Select.html" clID="" clName="IDEmployer" clValue="%IDEmployer%" clPlaceholder="Agent" clType="Agent"/>
        </div>

        <div class="Line">
            <div class="Caption">
                Пользователь
            </div>
            <cl content="Select.html" clID="" clName="IDUser" clValue="%IDUser%" clPlaceholder="Agent" clType="Agent"/>
        </div>

        <div class="Line">
            <div class="Caption">
                <label for="SelfSelect">Право самопросмотра</label>
            </div>
            <select name="SelfSelect" id="SelfSelect"/>
                <option value="false">нет</otion>
                <option value="true">есть</otion>
            </select>
        </div>

        <div class="Line">
            <div class="Caption">
                <label for="SelfUpdate">Право саморедактирования</label>
            </div>
            <select name="SelfUpdate" id="SelfUpdate"/>
                <option value="false">нет</otion>
                <option value="true">есть</otion>
            </select>
        </div>

    </div>


    <cl content="DescriptFormStandartFields.html" pars="true"/>

</form>
