        <cl content="DescriptCaptionEdit.html" pars="true"/>

        <div class="Line">
            <div class="Caption">
                General employer
            </div>
            <cl content="Select.html" clID="" clName="IDEmployer" clValue="%IDEmployer%" clPlaceholder="Agent" clType="Agent"/>
        </div>

        <div class="Line">
            <div class="Caption">
                <label for="SelfSelect">Self <b>select</b> right</label>
            </div>
            <select name="SelfSelect" id="SelfSelect" value="%SelfSelect%">
                <option value="false">nope</otion>
                <option value="true">yes</otion>
            </select>
        </div>

        <div class="Line">
            <div class="Caption">
                <label for="SelfUpdate">Self <b>update</b> right</label>
            </div>
            <select name="SelfUpdate" id="SelfUpdate" value="%SelfUpdate%">
                <option value="false">nope</otion>
                <option value="true">yes</otion>
            </select>
        </div>
