<form class="DescriptForm" method="post" enctype="multipart/form-data" id="Form">
    <div class="Group">
        <h1>
            Agent
        </h1>
        <cl content="DescriptCaptionEdit.html" pars="true"/>     
    </div>

    <cl content="AgentSettingsFields.html" pars="true"/>

    <div class="Group">
        <h2>
            Billing
        </h2>
        <cl content="BillingRuleFields.html" pars="true"/>
    </div>

    <cl content="DescriptParentRule.html" pars="true"/>
    <cl content="DescriptFormStandartFields.html" pars="true"/>

</form>


