    <div class="Group">

        <h2>
            Contacts
        </h2>

        <div class="Line">
            <div class="Caption">
                Address
            </div>
            <input id="Address" name="Address">
        </div>

        <div class="Line">
            <div class="Caption">
                Phone
            </div>
            <input id="Phone" name="Phone">
        </div>

        <div class="Line">
            <div class="Caption">
                Email
            </div>
            <input id="Email" name="Email">
        </div>

        <div class="Line">
            <div class="Caption">
                Website
            </div>
            <input id="Website" name="Website">
        </div>

    </div>


    <div class="Group Expert">

        <h2>
            Requisite
        </h2>

        <div class="Line">
            <div class="Caption">
                ABN Number
            </div>
            <input id="ABN" name="ABN">
        </div>

        <div class="Line">
            <div class="Caption">
                Bank name
            </div>
            <input id="BankName" name="BankName">

            <div class="Caption">
                Branch
            </div>
            <input id="BranchName" name="BranchName">
        </div>

        <div class="Line">
            <div class="Caption">
                Account Type
            </div>
            <input id="AccountType" name="AccountType">

            <div class="Caption">
                Account Name
            </div>
            <input id="AccountName" name="AccountName">
        </div>

        <div class="Line">
            <div class="Caption">
                Account number
            </div>
            <input id="AccountNumber" name="AccountNumber">

            <div class="Caption">
                BSB
            </div>
            <input id="BSB" name="BSB">
        </div>
        
    </div>



    <div class="Group Expert">
        <h2>
            Document config
        </h2>
        <div class="Line">
            <div class="Caption">
                PDF document head
            </div>
            <cl content="Select.html" clValue="%IDPrintHead%" clID="IDPrintHead" clName="IDPrintHead" clType="Content" clPlaceholder=""/>
        </div>
    </div>



    <div class="Group Expert">
        <h2>
            Invoce config
        </h2>
        <div class="Line">
            <div class="Caption">
                Signature
            </div>
            <textarea name="BillSignature" id="BillSignature" style="width:100%; height:3em;"></textarea>
        </div>
        <div class="Line">
            <div class="Caption">
                Invoce person
            </div>
            <cl content="Select.html" clValue="%IDAgentBill%" clID="IDAgentBill" clName="IDAgentBill" clType="" clPlaceholder=""/>
        </div>
    </div>



    <div class="Group Expert">
        <h2>
            Settings
        </h2>
        <div class="Line">
            <div class="Caption">
                Currency
            </div>
            <cl content="Select.html" clValue="%IDCurrency%" clID="IDCurrency" clName="IDCurrency" clType="Currency" clPlaceholder=""/>
        </div>
        <div class="Line">
            <div class="Caption">
                GST tax rate
            </div>
            <select id="ChargeTaxPolicy" name="ChargeTaxPolicy">
                <option value=""></option>
                <option value="TaxNone">None</option>
                <option value="TaxIncluded">Included</option>
                <option value="TaxPlus">Plus</option>
            </select>
            <div class="Caption">
                value
            </div>
            <input name="ChargeTaxrate" id="ChargeTaxrate" style="max-width:5em;text-align:right;"/>%
        </div>

    </div>



<div class="Group Expert">
    <h2>
        Notifications
    </h2>
    <div class="Line">
        <div class="Caption">
            Notification address
        </div>
        <input name="NotificationAddress" id="UnhandledNotificationAddress" placeholder="List of contacts for unhandled notification"/>

        <button type="button" id="BtnUnhandledTest" style="display:none;">
            Test
        </button>
    </div>
    <cl content="ScheduleFormFields.html" pars="true"/>
</div>











