<cl content="%IDPrintHead%" pars="true"/>  

<h1>
    Invoice application #%ID%
</h1>

<div style="display:flex;">

    <div class="Group" style="width:100%">

        <div class="Line">
            <div class="Caption">
                Invoice Moment
            </div>
            <span class="Text">%DTActual%</span>
        </div>

        <div class="Line">
            <div class="Caption">
                Billing period from
            </div>
            <span class="Text">%DTFrom%</span>
            <div class="Caption">
                to
            </div>
            <span class="Text">%DTTo%</span>
        </div>

    </div>

</div>



<div style="display:flex; padding-top:1em;">

    <div class="Group" style="flex: 1 0 50%;">

        <div class="Line">
            <div class="Caption">
                Provider
            </div>
            <span class="Text">%CaptionProvider%</span>
        </div>

        <div class="Line" style="display:none;">
            <div class="Caption">
               Post Address
            </div>
            <span class="Text">%Provider_Address%</span>
        </div>

        <div class="Line">
            <div class="Caption">
                ABN Number
            </div>
            <span class="Text">%Provider_ABN%</span>
        </div>

        <div class="Line">
            <div class="Caption">
                Phone
            </div>
            <span class="Text">%Provider_Phone%</span>
        </div>

        <div class="Line">
            <div class="Caption">
                Email
            </div>
            <span class="Text">%Provider_Email%</span>
        </div>

        <div class="Line">
            <div class="Caption">
                Web site
            </div>
            <span class="Text">%Provider_Website%</span>
        </div>

    </div>


    <div class="Group" style="flex: 1 0 50%;">

        <div class="Line">
            <div class="Caption">               
                Buyer
            </div>
            <span class="Text">%CaptionClient%</span>
        </div>

        <div class="Line">
            <div class="Caption">
               Post Address
            </div>
            <span class="Text">%Client_Address%</span>
        </div>

        <div class="Line">
            <div class="Caption">
                ABN Number
            </div>
            <span class="Text">%Client_ABN%</span>
        </div>

        <div class="Line">
            <div class="Caption">
                Phone
            </div>
            <span class="Text">%Client_Phone%</span>
        </div>

        <div class="Line">
            <div class="Caption">
                Email
            </div>
            <span class="Text">%Client_Email%</span>
        </div>

        <div class="Line">
            <div class="Caption">
                Web site
            </div>
            <span class="Text">%Client_Website%</span>
        </div>

    </div>


</div>



<table class="RecordList" id="RecordList" style="margin-bottom:2em;margin-top:2em;">



    <thead>
        <tr>
            <th>
                Charge moment
            </th>
            <th>
                Service
            </th>
            <th>
                Position
            </th>
            <th>
                Quantity
            </th>
            <th>
                Units
            </th>
            <th>
                Duration
            </th>
            <th>
                Units
            </th>
            <th>
                Rate %IDCurrency%
            </th>
            <th>
                Discount
            </th>
            <th class="Red">
                Charged
            </th>
            <th class="Blue" style="display:none;">
                Payed
            </th>
        </tr>
    </thead>

    <tbody id="BillAmount">
        <cl call="Bill.SaleSelect" TypeContent="HTML" IDRecordTemplate="BillAmountPDFRecord.html" ID="%ID%"/>
    </tbody>

</table>


<div style="display:flex;">

    <div class="Group" style="flex: 1 0 50%;">
        <div class="Line">
            <div class="Caption">               
                Bank Name
            </div>
            <span class="Text">%Provider_BankName%</span>
        </div>
        <div class="Line">
            <div class="Caption">               
                Branch
            </div>
            <span class="Text">%Provider_BranchName%</span>
        </div>
        <div class="Line">
            <div class="Caption">               
                Account Type
            </div>
            <span class="Text">%Provider_AccountType%</span>
        </div>
        <div class="Line">
            <div class="Caption">               
                Account Name
            </div>
            <span class="Text">%Provider_AccountName%</span>
        </div>
        <div class="Line">
            <div class="Caption">               
                BSB
            </div>
            <span class="Text">%Provider_BSB%</span>
        </div>
        <div class="Line">
            <div class="Caption">               
                Account Number
            </div>
            <span class="Text">%Provider_AccountNumber%</span>
        </div>
    </div>

    <div class="Group" style="flex: 1 0 50%;">
        <div class="Line" style="display:none;">
            <div class="Caption">               
                GST
            </div>
            <span class="Text">%Provider_ChargeTaxPolicy%</span>
            <span class="Text">%Provider_ChargeTaxrate%%</span>
        </div>

        <div class="Line">
            <div class="Caption">               
                Charge (%IDCurrency%)
            </div>
            <span class="Money">$%TotalCharge%</span>
        </div>

        <div class="Line">
            <div class="Caption">               
                GST (%IDCurrency%)
            </div>
            <span class="Money">$%ChargeTaxAmount%</span>
        </div>

        <div class="Line">
            <div class="Caption">               
                Charge with GST
            </div>
            <span class="Money">$%TotalChargeWithTax%</span>
        </div>

        <div class="Line">
            <div class="Caption">               
                Total payed
            </div>
            <span class="Money">$%TotalPay%</span>
        </div>

       <div class="Line">
            <div class="Caption">               
                Total for pay
            </div>
            <span class="Money"><b>$%TotalForPay%</b></span>
        </div>
    </div>
</div>

<div style="display:block; flex-grow:1;">
</div>

<div class="Text" style="padding-top:1em; padding-bottom:1em; font-weight:bolder;">%Provider_BillSignature%</div>

<cl content="PrintBottom.html" pars="true"/>  
