<cl header="Content-Type: text/css"/>



.Log
{
    z-index:10000;
    overflow:auto;
    position:fixed;
    right:1em;
    top:1em;
    max-width:50%;
    max-height:80%;
    font-size:0.8em;
}



.LogLine
{
    background-position:5px 5px;
    background-repeat:no-repeat;
    background-size: 32px 32px;
    padding: 5px 5px 5px 48px;
}



.LogTime
{
    font-size:0.5em;
}



.LogMessage
{
}



.LogErr
{
 background-image: url(?&image=Error.png&scalex=32&scaley=32);
}



.LogInf
{
    background-image: url(?&image=Info.png&scalex=32&scaley=32);
}



.LogWar
{
    background-image: url(?&image=Warning.png&scalex=32&scaley=32);
}



.LogDeb
{
    background-image: url(?&image=Debug.png&scalex=32&scaley=32);
}




.PostIndicator
{
    font-size:12px;
    text-align:center;
    padding:32px;
    z-index:9999;
    position:fixed;
    top:50%;
    left:50%;
    width:1em;
    height:1em;
    background-image:url('?image=Loader.png');
    background-position:center center;
    background-repeat:no-repeat;
    margin-left:-32px;
    margin-top:-32px;

    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

