/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Alternates Regular'), local('MontserratAlternates-Regular'), url(https://fonts.gstatic.com/s/montserratalternates/v10/mFTvWacfw6zH4dthXcyms1lPpC8I_b0juU055qfQOJ0.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Alternates Regular'), local('MontserratAlternates-Regular'), url(https://fonts.gstatic.com/s/montserratalternates/v10/mFTvWacfw6zH4dthXcyms1lPpC8I_b0juU0576fQOJ0.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Alternates Regular'), local('MontserratAlternates-Regular'), url(https://fonts.gstatic.com/s/montserratalternates/v10/mFTvWacfw6zH4dthXcyms1lPpC8I_b0juU055afQOJ0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Alternates Regular'), local('MontserratAlternates-Regular'), url(https://fonts.gstatic.com/s/montserratalternates/v10/mFTvWacfw6zH4dthXcyms1lPpC8I_b0juU0566fQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}




html
{
    height: 100%;
    background-color: silver;
}


body
{
    font-size: 0.9em;
    font-family: 'Montserrat Alternates', sans-serif;
}


.Page
{
 padding: 1em;
 flex-grow:1;
 flex-shrink:1;
}



.Top
{
    padding:1em;
    background-color:black;
    color:white;
    display:flex;
}



.Top .Space
{
    flex-grow:2;
    flex-shrink:2;
}

.Top a
{
    padding:0 1em 0 1em;
    color:orange;
}



.Bottom
{
    font-size:0.8em;
    padding:1em;
}



.Bottom a
{
    padding:0 1em 0 1em;
}



.CustomInput
{
    display:inline-flex;
    position:relative;
    width:100%;
    overflow:hidden;
    vertical-align:middle;
    padding:0.3em 0.5em 0.3em 0.5em;
    border-radius: 0.2em;
    background-color:silver;
    color: black;
    box-sizing:border-box;
    border:1px solid gray;
}


input, textarea, select, button
{
    vertical-align:middle;
    padding:0.3em 0.5em 0.3em 0.5em;
    border-radius: 0.2em;
    border:0;
    background-color: silver;
    color: black;
    outline:none;
    box-sizing:border-box;
    border:1px solid gray;
}



.CustomInput input, .CustomInput textarea, .CustomInput select, .CustomInput button
{
    border-radius: 0;
    background-color: rgba(0,0,0,0);
    margin:0;
    padding:0;
    border:none;
}



.CustomInput .Gliph
{
    display:inline-block;
    width:1em;
}




.MenuPopup
{
    background-color:#FFFFFF;
    color: black;
    box-shadow:0em 0em 1em rgba(0,0,0,0.3);
}






code
{
    background-color: #FFFFC0;
}



.Warning
{
    padding: 0.5em 3.5em 0.5em 3.5em;
    background-image:url(?&image=Warning.png&scalex=64&scaley=64);
    background-size: 2.5em 2.5em;
    background-position: 0.5em 0.5em;
    background-repeat: no-repeat;
    min-height:2.5em;
}



.Inf
{
    padding: 0.5em 3.5em 0.5em 3.5em;
    background-color: #C0C0FF;
    background-image:url(?&image=Image/Info.png&scalex=64&scaley=64);
    background-size: 2.5em 2.5em;
    background-position: 0.5em 0.5em;
    background-repeat: no-repeat;
}



.Message
{
 padding-bottom:0.5em;
}



.Message .Body
{
 white-space:pre-line;
}



.CaptionTop
{
    font-size:0.5em;
}



.Unselected
{
    text-decoration: none;
    cursor:pointer;
    border-radius: 0.3em;
}



.Unselected:hover
{
    background-color:orange;
}



.UserBody
{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:stretch;
    min-height:100%;
}
