<div style="display:flex; width:100%; height: 100%; flex-direction: column; justify-content: center; align-items: center;">
    <div style="font-size:1.5em; max-width:30em; ">
        %Content%
    </div>
    <div class="Toolbar" style="font-size:2em;">
        <button type="button" class="BtnOk Unselected %ImageClass%" id="ConfirmObject">
            Ok
        </button>
        <button type="button" class="BtnYes Unselected ImageFingerUp">
            Yes
        </button>
        <button type="button" class="BtnNo Unselected ImageFingerDown">
            No
        </button>
        <button type="button" class="BtnCancel Unselected ImageCancel">
            Cancel
        </button>
    </div>
</div>