<option value=""></option>
<option value="H:i:s d-m-Y">23:59:59 31-12-2021 - Australia</option>
<option value="d-m-Y H:i:s">31-12-2021 23:59:59 - Netherlands, Portugal, Denmark (International)</option>
<option value="d.m.Y H,i,s">31.12.2021 23,59,59 - Switzerland</option>
<option value="d.m.Y H:i:s">31.12.2021 23:59:59 - Germany, France, Norway</option>
<option value="d.m.Y H.i.s">31.12.2021 23.59.59 - Serbia, Yugoslavia, Africa</option>
<option value="d/m/Y H:i:s">31/12/2021 23:59:59 - Arabian, Great Britain, Latin America, Brazil, Belgium, Spain</option>
<option value="d/m/Y H.i.s">31/12/2021 23.59.59 - Italy</option>
<option value="m/d/Y H:i:s">12-31-2021 11:59:59 - USA</option>
<option value="Y-m-d H:i:s">2021-31-12 23:59:59 - China, Japan, Canada ,Eastern Europe, Litva (ODBC)</option>
<option value="Y-m-d H.i.s">2021-31-12 23.59.59 - Finland, Sweden</option>
