<form method="post" enctype="multipart/form-data" id="Form" class="DescriptForm">

    <div class="Group">
        <h1>
            Редактор #%ID%
        </h1>

        <div class="Line">
            <div class="Caption">
                Описание
            </div>
            <cl content="DescriptEdit.html" Name="Caption" ID="%ID%" Caption="%Caption%" Placeholder=""/>
        </div>
    </div>

    <cl content="DescriptFormStandartFields.html" pars="true"/>

</form>
