<div class="Group">
    <h2>
        Template settings
    </h2>
    <button type="button" class="FieldsListLoad">
        Fields list load
    </button>
    <div class="FieldsList">
    </div>
</div>