<label for="%IDField%" class="Unselected">
    <input type="checkbox" class="Checkbox" name="%IDField%" id="%IDField%">
    <div class="Caption" >%CaptionField%</div>
    <div class="ID">%IDField%</div>
</label>
