<form>

    <div class="Group">
        <h1>
            Parameters
        </h1>
        <div class="Line">
            <div class="Caption">
                 Parent the source
             </div>
             <cl content="Select.html" clValue="" clID="IDDescript" clName="IDDescript" clType="" clPlaceholder="" clDisabled=""/>
        </div>
    </div>

    <div>
        <textarea class="Parameters" style="font-family:monospace;" cols="60" rows="15"></textarea>
    </div>

    <div class="Toolbar">
        <button type="button" class="ImageLoad Unselected BtnLoad" title="">
            Load
        </button>
        <button type="button" class="ImageOk Unselected BtnSave" title="">
            Save
        </button>
        <button type="button" class="ImageCancel Unselected BtnCancel" title="Close this form">
            Cancel
        </button>
    </div>

</form>
