<h1>
    Операции
</h1>

<div class="Toolbar">
    <button class="ImageMove Unselected" id="BtnMove" title="Перенести запись в указанный контейнер">
        Перенос
    </button>
    <button class="ImageClip Unselected" id="BtnLink" title="Создать ссылку на запись в указанном контейнере">
        Ссылка
    </button>
    <button class="ImageHome Unselected" id="BtnPlace" title="Разместить запись в указанном контейнере и оставить в текущем контейнере">
        Размещение
    </button>
    <button class="ImageCopy Unselected" id="BtnCopy" title="Создать копию имеющейся записи">
        Копия
    </button>
</div>
