<h1>
    Recharge period
</h1>

<div class="Group">
    <div class="Warning">
        All unpayed charges will be delete from opened bills.
    </div>

    <div class="Line">
        <div class="Caption">
            Object
        </div>
        <cl content="Select.html" clID="IDDescript" clName="IDDescript" clValue="" clPlaceholder="" clType=""/>
    </div>

    <div class="Line">
        <div class="Caption">
            Sale
        </div>
        <cl content="Select.html" clID="IDSale" clName="IDSale" clValue="" clPlaceholder="none" clType="Sale"/>
    </div>

    <div class="Line">
        <div class="Caption">
            From
        </div>
        <cl content="MomentInterval.html" clValue="" clID="DTBegin" clName="DTBegin" clBegin="DTBegin" clEnd="DTEnd"/>
        <div class="Caption">
            To
        </div>
        <cl content="MomentInterval.html" clValue="" clID="DTEnd" clName="DTEnd" clBegin="DTBegin" clEnd="DTEnd"/>
    </div>
</div>

<div class="Toolbar">
    <button type="button" class="ImageLoad" id="BtnRechargeRefresh">Refresh</button>
    <button type="button" class="ImageOk" id="BtnRechargeOk">Ok</button>
    <button type="button" class="ImageCancel" id="BtnCancel">Cancel</button>
</div>
