<div class="Group">
    <h2>
        Childs
    </h2>
    <div class="Line">
        <div class="Caption">
            Type of childs
        </div>
        <cl content="Select.html" clValue="" clID="IDTypeChild" clName="IDTypeChild" clType="Object" clPlaceholder="for new records"/>
    </div>

    <div class="Line">
        <div class="Caption">
            Childs identify
        </div>
        <input id="ChildIDMasq" name="ChildIDMasq" placeholder="GUID,Number=N,String=N,Now=Ymd,AnySymbols"/>
    </div>

    <div class="Line">
        <div class="Caption">
            Source site for childs
        </div>
        <cl content="Select.html" clValue="" clID="IDSiteRequest" clName="IDSiteRequest" clType="Site" clPlaceholder="Soure cite for childrens"/>
    </div>

    <div class="Line">
        <div class="Caption">
           Children life span
        </div>
        <input name="ChildrenLifeSpan" id="ChildrenLifeSpan"/>
        <div class="Caption">
           day
        </div>
    </div>

    <div class="Line">
        <div class="Caption">
            Sort of childs
        </div>
        <select name="Order" id="Order">
                <option value="">Default</option>
                <option value="Caption">Caption</option>
                <option value="DTActual">Moment of actual</option>
                <option value="DTInsert">Moment of insert</option>
                <option value="ID">Identifer</option>
                <option value="Sequence">Sequence</option>

        </select>

        <div class="Caption">
            by order
        </div>

        <select name="OrderDirect" id="OrderDirect">
                <option value="az">ascent (az)</option>
                <option value="za">descent (za)</option>
        </select>
    </div>

</div>
