<style>

.DescriptParentForm
{  
    min-width:20em;
}

.DescriptParentForm .List
{  
    max-height:15em;
    overflow-y:auto;
}

.DescriptParentForm .List .Record
{
    display:flex;
    border-bottom: 2px dashed;
    margin-bottom: 0.5em;
}

.DescriptParentForm .List .Record .Parent
{
    flex: 1 1 auto;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    margin-right:2em;
}

.DescriptParentForm .List .Record .Bind
{
    flex: 0 0 35%;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.DescriptParentForm .List .Record .Delete
{
    flex: 0 0 6em;
}


</style>



<form class="DescriptParentForm" id="Form" type="post" enctype="multipart/form-data">
    <div class="Group">
        <h1>
            Parents
        </h1>

        <div class="Toolbar">
            <button type="button" class="ImageLoad Unselected" id="BtnRefresh" title="Refresh the list of rights">
                Refresh
            </button>
            <button type="button" class="ImagePlus Unselected" id="BtnParentAdd" title="Add new parent for this object">
                Add
            </button>
            <div class="Space">
            </div>
            <button type="button" class="ImageCancel Unselected" id="BtnCancel" title="Close the form">
                Close
            </button>
        </div>

        <div class="Line">
            <div class="Caption">
                Child
            </div>
            <cl content="Select.html" clValue="" clID="ID" clName="ID" clType="" clPlaceholder="" clDisabled="" clBefore="" clAfter=""/>
        </div>

        <div class="Line">
            <div class="Caption">
                Bind
            </div>
            <cl content="Select.html" clValue="" clID="IDBind" clName="IDBind" clType="Bind" clPlaceholder="" clDisabled="" clBefore="" clAfter=""/>
        </div>

        <div class="Line">
            <div class="Caption">
                Parent
            </div>
            <cl content="Select.html" clValue="" clID="IDParent" clName="IDParent" clType="" clPlaceholder="" clDisabled="" clBefore="" clAfter=""/>
        </div>

    </div>

    <div class="Group">
        <div class="List" id="List">
        </div>
    </div>
</form>


