<form method="post" enctype="multipart/form-data" id="Form" class="DescriptForm">
    <div class="Group">
        <h2>
            Добавление объекта
        </h2>

        <div class="Line">
            <div class="Caption">
                Тип
            </div>
            <cl content="Select.html" clID ="IDType" clName="IDType" clValue="" clType="Object"  clPlaceholder="Тип объекта" clDisabled="" clBefore="" clAfter=""/>
        </div>

        <div class="Line">
            <div class="Caption">
                Описание
            </div>
            <input style="width:100%" type="text" name="Caption" value="" placeholder="Описание объекта или иная информация" autocomplete="off"/>
        </div>

        <div class="Line">
            <div class="Caption">
                Родитель
            </div>
            <cl content="Select.html" clName="IDParent" clID="IDParent" clValue="" clType="" clPlaceholder="Родитель" clDisabled="" clBefore="" clAfter=""/>
        </div>

        <div class="Line">
            <div class="Caption">
                ID
            </div>
            <input style="width:100%" type="text" name="ID" value="" placeholder="Уникальный идентификатор" autocomplete="off"/>
        </div>
    </div>
</form>
