<h1>
    Информация
</h1>

<div class="Group">
    <div class="Line">
        <div class="Caption">
            Момент создания
        </div>
        <div class="Data">
            %MomentInsert%
        </div>
    </div>
    <div class="Line">
        <div class="Caption">
            Автор
        </div>
        <div class="Data">
            %CaptionUserInsert% (%IDUserInsert%)
        </div>
    </div>
    <div class="Line">
        <div class="Caption">
            Последнее редактирование
        </div>
        <div class="Data">
            %MomentUpdateLast%
        </div>
    </div>
    <div class="Line">
        <div class="Caption">
            Редактор
        </div>
        <div class="Data">
            %CaptionUserUpdateLast% (%IDUserUpdateLast%)
        </div>
    </div>
</div>