<div class="Group">
    <div class="Caption">
        Дескрипт
    </div>
    <div class="Contein1">
        <button type="button" class="ImageOk Unselected" id="BtnSave" title="Save changes in form">
            Сохранить
        </button>
        <button type="button" class="ImageLoad Unselected" id="BtnRefresh" title="Reload form">
            Обновить
        </button>
        <button type="button" class="ImageInfo Unselected" id="BtnDescriptInfo" title="Информация о дескрипте">
            Инфо
        </button>
        <button type="button" class="ImageDescript Unselected" id="BtnContent" title="Редактор контента для дескрипта"> 
            Контент
        </button>
    </div>
</div>

<div class="Group">
    <div class="Caption">
        Действия
    </div>
    <div class="Contein1">
        <button type="button" class="ImagePen Unselected" id="BtnRenameID" title="Change the descript's identifer">
            Смена ID
        </button>

        <button type="button" class="ImageTrash Unselected" id="BtnDelete" title="Descript delete">
            Удалить
        </button>

        <button type="button" class="ImageLock Unselected" id="BtnDescriptOpen" title="Открыть дескрипт" style="display:none;">
            Закрыт
        </button>
        <button type="button" class="ImageUnlock Unselected" id="BtnDescriptClose" title="Закрыть дескрипт" style="display:none;">
            Открыт
        </button>
     </div>
</div>




