<div style="padding-left:3em; background-image:url(?image=%IDImagePreview%&scalex=64);background-repeat:no-repeat; background-position:left center; background-size:2.5em 2.5em;"/>
    <h1>
        %Caption%
    </h1>
    <div class="Group">
        #%ID%
    </div>
</div>

<h2>
    Actions
</h2>

<div class="Toolbar">
    <button class="ImagePlus Unselected" id="BtnInsert" title="Create a new record in this container">
        Create
    </button>
    <button class="ImagePen Unselected" id="BtnEdit" title="Change the record">
        Edit
    </button>
    <button class="ImageSource Unselected" id="BtnParams" title="Show parameters for object">
        Params
    </button>
    <button class="ImageTrash Unselected" id="BtnRemove" title="Remove object from this folder and delete it">
        Remove
    </button>
    <button class="ImageBreak Unselected" id="BtnClear" title="Remove all object from this container">
        Clear
    </button>
    <button class="ImageTable Unselected" id="BtnImport" title="Import descripts from a text">
        Import
    </button>
</div>

<h2>
    Options
</h2>

<div class="Toolbar">
    <button class="ImageDescript Unselected" id="BtnContent" title="Content record hange">
        Content
    </button>
    <button class="ImageBook Unselected" id="BtnIndexSingle" title="Indexate current object">
        Index
    </button>
    <button class="ImageBook Unselected" id="BtnIndex" title="Indexate current object and all his childs">
        Index childs
    </button>
    <button class="ImageInfo Unselected" id="BtnInfo" title="Descript information">
        Info
    </button>
    <button class="ImagePath Unselected" id="BtnPath" title="Pathes for descript">
        Path
    </button>
    <button class="ImageTask Unselected" id="BtnTask" title="Descript task">
        Tasks
    </button>
    <button class="ImageOk Unselected" id="BtnEnabledHistory" title="Show Enabled status history">
        Enabled
    </button>
</div>

<h2>
    Binds & rights
</h2>

<div class="Toolbar">
    <button class="ImageBindChilds Unselected" id="BtnChilds" title="List of child and add new child">
        Children
    </button>
    <button class="ImageBind Unselected" id="BtnParents" title="List of parents with binds and rights for this object">
        Parents
    </button> 

    <div class="Space">
    </div>

    <button class="ImageImportExport Unselected" id="BtnBindSpreadDown" title="Spraed the bind">
        Spread binds
    </button>
    <button class="ImageDNA Unselected" id="BtnRightFromParent" title="Receives rights from parent">
        Rights from parent
    </button>
    <button class="ImageDNA Unselected" id="BtnRightDown" title="Gives rights to children">
        Rights to children
    </button>
    <button class="ImageDNA Unselected" id="BtnRightNorm" title="Normalize rights for record, copy rights from parent without clear self rights">
        Rights normalize
    </button>

    <div class="Space">
    </div>


    <button class="ImageForm Unselected" id="BtnFieldsRight" title="Field rights for this object as agent">
        Fields rights
    </button>
    <button class="ImageForm Unselected" id="BtnTemplateFields" title="Field for template objects">
        Template fields
    </button>
    <button class="ImageImportExport Unselected" id="BtnParamsToChild" title="Spread parameters from current object to childs">
        Prameters to childs
    </button> 
</div>



