<div class="Frame Unselected Status%FOF% DelitedStatus%DeletedStatus%" id="BtnEdit" style="background-image:url('?image=%IDImagePreview%&scalex=64&scaley=64&colorize=%RGBAHex%');">
    <div class="Caption">
        %Caption%
        <div class="DescriptEnabled%Enabled%">
        </div>
        <div class="DescriptIndexate%Indexate%">
        </div>
    </div>
    <div class="CaptionType">
        %CaptionType%
    </div>
    <div class="ID Expert">
        %ID%
    </div>
</div>
