<style>
.TemplateFieldsForm .List
{
    max-height:70vh;
    overflow-y:auto;
}

.TemplateFieldsForm .List .Record
{
}

.TemplateFieldsForm .List .Record label
{
    display:flex;
    flex-wrap:nowrap;
    align-items: center;
}

.TemplateFieldsForm .List .Record label .Checkbox
{
    flex:0 0;
    margin:0 0.5em;
}

.TemplateFieldsForm .List .Record label .Caption
{
    flex:1 1 60%;
    margin:0 0.5em;
}

.TemplateFieldsForm .List .Record label .ID
{
    flex:1 1 40%;
    margin:0 0.5em;
}


</style>

<form class="TemplateFieldsForm" id="Form" type="post" enctype="multipart/form-data">
    <div class="Group">
        <h1>
            Fields for export as template
        </h1>

        <div class="Toolbar">
            <button type="button" class="ImageLoad Unselected" id="BtnRefresh" title="Refresh the list of rights">
                Refresh
            </button>
            <button type="button" class="ImageCancel Unselected" id="BtnCancel" title="Close the form">
                Close
            </button>
        </div>

        <div class="Line">
            <div class="Caption">
                Object
            </div>
            <cl content="Select.html" clValue="" clID="IDDescript" clName="IDDescript" clType="" clPlaceholder="" clDisabled="" clBefore="" clAfter=""/>
        </div>
    </div>

<div class="Group List" id="List">
</div>
</form>

