<div class="DescriptPopup">

    <div class="Toolbar">
        <div class="CustomInput">
            <input name="String" id="String">
        </div>
        <button class="ImageZoom Unselected" id="BtnSearch" title="Refresh the list of records with current search line">
            Search
        </button>
        <button class="ImagePlus Unselected" id="BtnAdd" title="Create new record with value from current search line">
            Add
        </button>
        <button class="ImageCancel Unselected" id="BtnCancel" title="Close the dialog without apply the choice">
            Close
        </button>
    </div>

    <div class="Expert">
        <input type="checkbox" name="SiteRequest" id="SiteRequest"/>
        <label for="SiteRequest">Search on default site</label>
    </div>

    <div id="SearchResult" class="Records" style="padding-top:1em;">
    </div>

</div>
