<div class="Group">
    <h2>
        Внешний вид
    </h2>
    <div class="Line">
        <div class="Caption">
            Изображение
        </div>
        <cl content="Select.html" clValue="%IDImage%" clID="IDImage" clName="IDImage" clType="File" clPlaceholder="" clDisabled="" clBefore="" clAfter=""/>
    </div>

    <div class="Line">
        <div class="Caption">
            HTML Класс
        </div>
        <input name="HTMLClass" id="HTMLClass" placeholder="Имя HTML класса"/>
    </div>

    <div class="Line">
        <div class="Caption">
            Цвет
        </div>
        <input name="ColorR" id="ColorR" placeholder="R = 0..1" size="3" style="border-left:0.2em solid red; width:5em;"/>
        <input name="ColorG" id="ColorG" placeholder="G = 0..1" size="3" style="border-left:0.2em solid green; width:5em;"/>
        <input name="ColorB" id="ColorB" placeholder="B = 0..1" size="3" style="border-left:0.2em solid blue; width:5em;"/>
        <input name="ColorA" id="ColorA" placeholder="A = 0..1" size="3" style="border-left:0.2em solid gray; width:5em;"/>
        <div class="Space">
        </div>
    </div>
</div>