<div class="Group">
    <h2>
        Classification
    </h2>
    <input name="ID" value="%ID%" type="hidden"/>

    <div class="Line">
        <div class="Caption">
            Type
        </div>
        <cl content="Select.html" clValue="%Type%" clID="IDType" clName="IDType" clType="Object" clPlaceholder="Type object required"/>
    </div>

    <div class="Line">
        <div class="Caption">
            Subtype
        </div>
        <cl content="Select.html" clValue="" clID="IDSubtype" clName="IDSubtype" clType="Subtype" clPlaceholder="Type object required"/>
    </div>
</div>
