<h1>
    Recharging initiation moment
</h1>

<div class="Group">
    <div class="Warning">
        All unpayed charges will be delete from opened bills.
    </div>

    <div class="Line">
        <div class="Caption">
            Object
        </div>
        <cl content="Select.html" clID="IDDescript" clName="IDDescript" clValue="" clPlaceholder="" clType=""/>
    </div>

    <div class="Line">
        <div class="Caption">
            From
        </div>
        <cl content="MomentInterval.html" clValue="" clID="DTBegin" clName="DTBegin" clBegin="DTBegin" clEnd=""/>
    </div>


    <div class="Line">
        <div class="Caption">
            Client
        </div>
        <cl content="Select.html" clID="IDClient" clName="IDClient" clValue="" clPlaceholder="all" clType="Agent"/>
    </div>

</div>

<div class="Toolbar">
    <button type="button" class="ImageOk BtnOk">Ok</button>
    <button type="button" class="ImageCancel BtnCancel">Cancel</button>
</div>
