<div class="Set">

    <div class="Line">
        <div class="Expend Unselected" id="Expend">
        </div>
        <label class="Caption Unselected Status%FOF% DelitedStatus%DeletedStatus%" id="Caption" draggable="true" style="background-image:url('?&image=%IDImagePreview%&scalex=16&scaley=16');">
            <input type="radio" name="Folder" class="Check">
            <span class="Select" id="Select">
                %Caption%
            </span>
        </label>
        <button class="Options Unselected" type="button">
        </button>
    </div>

    <div class="Childs" id="Childs">
        <div class="BindType Unselected" id="BindType">
            <div class="BindCaption" id="BindCaption">
            </div>
        </div>

        <div class="ChildList" id="ChildList">
        </div>
    </div>

</div>
