<form method="post" enctype="multipart/form-data" id="Form" style="display:flex; flex-direction:column; position:absolute; top:0; bottom:0; left:0; right:0;">
    <h1>
        Content editor #<span id="ID"></span>
    </h1>
    <div style="">
        <input id="DescriptCaption" name="Caption" style="width:100%;" placeholder="Caption for descript" autocomplete="off"/>
    </div>
    <div style="height:1em;">     
    </div>
    <div style="flex-stretch:1; flex-grow:1;">
        <textarea id="DescriptContent" name="Content" style="font-family:monospace; resize: none; width:100%; height:100%;" placeholder="Content"></textarea>
    </div>
    <div class="Group" style="">
        <div class="Line">
            <div class="Caption" for="Indexate">
                Indexate
            </div>
            <div class="Data">
                <input type="checkbox" name="Indexate" id="Indexate" %Indexate%/>
            </div>
        </div>
    </div>
</form>
