<h2 style="display:flex;">
    <div class="Unselected ImagePlus" id="BtnSystemParams" style="display:inline-block;width:1em;height:1em; background-position:center center; background-repeat:no-repeat; background-size:1em 1em;">
    </div>
    <span>
        System parameters
    </span>
</h2>

<div id="WndSystemParams" style="display:none; border-left:0.1em solid black; padding-left:1em;">
    <cl content="DescriptFormStandartFields.html" pars="true"/>
</div>
