<style>
.DisabledHistrory .List
{
    margin-top:1em;
    margin-bottom:1em;
}

.DisabledHistrory .List .Record
{
    display:flex;
}

.DisabledHistrory .List .Record .From
{
}

.DisabledHistrory .List .Record .To
{
}

.DisabledHistrory .List .Record .Separator
{
    margin-left:1em;
    margin-right:1em;
}


</style>

<div class="DisabledHistrory">

<h1>
    Enabled history
</h1>

<div class="Group">
    <div class="Line">
        <div class="Caption">
             Объект
        </div>
        <cl content="Select.html" clValue="" clID="IDDescript" clName="IDDescript" clType="Content" clPlaceholder=""/>
    </div>
    <div class="Line">
        <div class="Caption">
            Period from
        </div>
        <cl content="MomentInterval.html" clValue="" clID="DTBegin" clName="DTBegin" clBegin="DTBegin" clEnd="DTEnd"/>
        <div class="Caption"> 
            to
        </div>
        <cl content="MomentInterval.html" clValue="" clID="DTEnd" clName="DTEnd" clBegin="DTBegin" clEnd="DTEnd"/>
     </div>
 </div>

<div class="List">
</div>

<div class="Toolbar">
    <button type="button" class="BtnRefresh ImageLoad Unselected">
        Refresh
    </button>
</div>

</div>
