<div class="Toolbar Element" style="font-size:2em;">
    <button class="ImageFingerUp Unselected BtnArm">
        Arm
    </button>
    <button class="ImageFingerDown Unselected BtnDisarm">
        Disarm
    </button>
    <div class="Space">
    </div>
    <button class="ImageCancel Unselected BtnCancel">
        Cancel
    </button>
</div>