<style>
.ExtraScheduleControl
{
    margin:1em;
    display:flex;
    align-items:stretch;
    justify-content:space-around;
    flex-direction:column;
    min-height:100%;
}

.ExtraScheduleControl .Element
{
    flex: 0 0;   
}

.TimeList
{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
}

.TimeList .Item
{
   padding:0.5em;
   width:6em;
   display:flex;
   flex-direction:column;
   align-items: center;
}


.TimeList .Item .Value
{
   font-size:2em;
}


</style>


<div class="ExtraScheduleControl">

    <div class="Element">
        <h1>
           Temporarily control
           <spam class="CaptionTypeObject">
              Cameras
           </spam>
        </h1>
    </div>

    <div class="Warning Element">
        You must remember the following: we are changing the schedules in the system. All your devices will work without changes. In disarming mode, we discard only all events from your devices.
    </div>

    <div class="TimeList">
         <div class="Item Unselected" time="1"><div class="Value">1</div><div class="Unit">minute</div></div>
         <div class="Item Unselected" time="10"><div class="Value">10</div><div class="Unit">minutes</div></div>
         <div class="Item Unselected" time="30"><div class="Value">30</div><div class="Unit">minutes</div></div>
         <div class="Item Unselected" time="60"><div class="Value">1</div><div class="Unit">hour</div></div>
         <div class="Item Unselected" time="120"><div class="Value">2</div><div class="Unit">hours</div></div>
         <div class="Item Unselected" time="360"><div class="Value">6</div><div class="Unit">hours</div></div>
         <div class="Item Unselected" time="720"><div class="Value">12</div><div class="Unit">hours</div></div>
         <div class="Item Unselected" time="1440"><div class="Value">1</div><div class="Unit">day</div></div>
         <div class="Item Unselected" time="14400"><div class="Value">10</div><div class="Unit">days</div></div>
    </div>    

    <div class="Toolbar Element" style="font-size:1.5em;">
        <button class="ImageCancel Unselected BtnCancel">
            Cancel
        </button>
    </div>

</div>
