<div class="Group">
    <h2>
        Settings
    </h2>

    <div class="Line">
        <div class="Caption">
            Type of data
        </div>
        <select name="Datatype" id="Datatype">
            <option value="Integer">
                Boolean
            </option>
            <option value="Integer">
                Integer
            </option>
            <option value="String">
                String
            </option>
            <option value="Float">
                Float
            </option>
            <option value="Moment">
                Moment
            </option>
        </select>

        <div class="Caption">
            Element
        </div>
        <select name="Type" id="Type">
            <option value="Manual">
                Manual
            </option>
            <option value="Manual">
                HTML
            </option>
            <option value="Edit">
                Edit
            </option>
            <option value="Textarea">
                Textarea
            </option>
            <option value="Moment">
                Moment
            </option>
            <option value="Select">
                Select
            </option>
            <option value="List">
                List
            </option>
            <option value="Descript">
                Descript
            </option>
        </select>

        <div class="Caption">
            HTML template
        </div>
        <cl content="Select.html" clValue="" clID="IDTemplate" clName="IDTemplate" clType="Content" clPlaceholder=""/>
    </div>

    <div class="Line">
        <div class="Caption">
            Default value
        </div>
        <input name="DefaultValue" id="DefaultValue">
    </div>

</div>



