<div id="Status" class="Status">
</div>
<div id="Name" class="Name">
</div>
<div id="Result" class="Result">
</div>
<div class="Space">
</div>
<div id="Size" class="Size">
</div>
<div id="Loaded" class="Loaded">
</div>
<div id="Speed" class="Speed">
</div>