.Page
{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    align-items:stretch;
}



.UploadForm
{
    text-align:center;
    margin:1em;
}



.UploadForm .Link
{
    display: block;
    text-align:center;
    margin:1em;
}



.FileButton
{
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    position:absolute; 
    opacity:0.5;
    padding:0;
    margin:0;
    cursor:pointer;
    margin:1em;
}



.FileList 
{
    margin:1em;
}



.FileList .Record
{
    display:flex;
    justify-content:space-between;
    align-items:center;
}



.FileList .Record .Space
{
    flex-grow:1;
}



.FileList .Record .Status
{
    width:1em;
    height:1em;
    margin-right:0.5em;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}



.FileList .Record>div
{
    overflow:hidden;
}



.FileList .Record .Name
{
    width:50%;
}



.FileList .Record .Result
{
    display:none;
}




.FileList .Record .Size
{
    width:10%;
    text-align:right;
}



.FileList .Record .Speed
{
    width:10%;
    text-align:right;
}



.FileList .Record .Loaded
{
    width:10%;
    text-align:right;
}



.FileList .Record .Time
{
    border:1px solid black;
    width:10%;
}



.FileList .Record .StatusWait
{
    background-image: url("?&image=Sandclock.png&scalex=32&scaley=32&colorize=7C000000");
}



.FileList .Record .StatusError
{
    background-image: url("?&image=Error.png&scalex=32&scaley=32&colorize=00FF0000");
}



.FileList .Record .StatusOk
{
    background-image: url("?&image=Ok.png&scalex=32&scaley=32&colorize=00007C00");
}



.FileList .Record .StatusUploading
{
    background-image: url("?&image=CD.png&scalex=32&scaley=32");
}






.FileDownloadPage
{
    padding:0em 1em 1em 1em;
}



.FileDownloadPage .List
{
    display:flex;
    flex-direction:column;
}



.FileDownloadPage .List .Record
{
    display:flex;
    align-items:center;
}



.FileDownloadPage .List .Record .Name
{
}



.FileDownloadPage .List .Record .Size
{
    padding-left:1em;
}

