<style>
    <cl content="FileExchange.css" pars="true"/>
</style>

<script>
    <cl content="clDebug.js" pars="true"/>
</script>

<script>
    <cl content="clDOM.js" pars="true"/>
</script>

<script>
    <cl content="ajax.js" pars="true"/>
</script>

<script>
    <cl content="FileExchange.js" pars="true"/>
</script>

<script>
    <cl content="clString.js" pars="true"/>
</script>



<script>
window.onload = function()
{
    var Log = new TLog();
    var Exchange = new TFileExchange (Log);
    Exchange.SetFiles(document.getElementById('FileButton'));
    Exchange.SetDownloadLink(window.location.protocol +'//'+ window.location.hostname+'/?body=Body.html&page=FileExchangeUpload.html&IDGroup=%IDGroup%');
    Exchange.SetDownloadContainer(document.getElementById('FileGroupResult'));
    Exchange.FileList = document.getElementById('FileList');
}
</script>


<form class="UploadForm" id="FormSend">
        <button type="button" style="display:inline-block;position:relative; font-size:2em; display:inline-block;">
            Загрузка файлов
        <input id="FileButton" style="top:0; left:0; width:100%; height:100%; position:absolute; opacity:0.0; padding:0; margin:0em; cursor:pointer;" multiple="multiple" title="Загрузка файлов" type="file">
        </button>
    <a class="Link" href="" id="FileGroupResult" target="_blank" style="display:none;"></a> 
</form>


<div id="FileList" class="FileList">
</div>

