<style>
    <cl file="FileExchange.css"/>
</style>

<div class="FileDownloadPage">
    <h1>
        Файлы
    </h1>

    <p>
       <a href="http://catlair.net/?&body=Body.html&page=FileExchange.html">Загрузить новые файлы</a>
    </p>

    <div class="List">
        <cl call="FileExchange.DownloadList" ContentType="HTML" IDRecord="FileExchangeUploadLink.html"/>
    </div>
</div>