<form class="DescriptForm" method="post" enctype="multipart/form-data" id="Form">
    <h1>
        Folder
    </h1>
    <div class="Group">
        <cl content="DescriptCaptionEdit.html" pars="true"/>     
    </div>
    <cl content="DescriptFormStandartFields.html" pars="true"/>
</form>


