<style>
    .CollapsTrue
    {
        display:flex;
        flex-direction:column;
    }



    .CollapsTrue .Header
    {
        min-width:2em;
        background-image: url('?image=Plus.png&scalex=32');
        background-repeat:no-repeat;
        background-position:0.5em center;
        background-size:1em 1em;
        padding-left:2em;

    }

    .CollapsTrue .Content
    {
        display:none;
    }





    .CollapsFalse
    {
        display:flex;
        flex-direction:column;     
    }



    .CollapsFalse .Header
    {
        min-width: 2em;
        background-image: url('?image=Minus.png&scalex=32');
        background-repeat:no-repeat;
        background-position: 0.5em center;
        background-size:1em 1em;
        padding-left:2em;
    }



    .CollapsFalse .Content
    {
        margin-left: 1em;
        border-left: 1px solid black;
        padding-left: 1em;
    }
</style>




<div class="Collaps%Collaps%">

    <div class="Unselected Header" id="%IDSection%" onclick="if (this.parentNode.classList.contains( 'CollapsTrue' )) { this.parentNode.classList.remove( 'CollapsTrue' ); this.parentNode.classList.add( 'CollapsFalse') } else { this.parentNode.classList.remove( 'CollapsFalse' ); this.parentNode.classList.add( 'CollapsTrue' ) };">
        %CaptionSection%
    </div>

    <div class="Content">
         <cl content="%ContentSection%" pars="true"/>
    </div>

</div>


