<form id="Form" type="post" enctype="multipart/form-data">
    <div class="Group">
        <h1>
            Распространение связи
        </h1>

        <p>
            Процедура обходит граф дескриптов следуя по пути связи носителя и для каждого элемента добавляет или удаляет указанную связь для действия.
        </p>

        <div class="Line">
            <div class="Caption">
                Дескрипт
            </div>
            <div class="Data">
                <cl content="Select.html" clValue="" clID="ID" clName="ID" clType="" clPlaceholder="Начальный узел" clDisabled="" clBefore="" clAfter=""/>
            </div>
        </div>

        <div class="Line">
            <div class="Caption">
                Связь проводник
            </div>
            <div class="Data">
                <cl content="Select.html" clValue="" clID="IDBindConductor" clName="IDBindConductor" clType="Bind" clPlaceholder="Связь проводник" clDisabled="" clBefore="" clAfter=""/>
            </div>
        </div>

        <div class="Line">
            <div class="Caption">
                Операция
            </div>
            <div class="Data">
                <select name="Operation" id="Operation">
                    <option value="Insert" selected="selected">Добавить</option>
                    <option value="Delete">Убрать</option>
                </select>
            </div>
        </div>

        <div class="Line">
            <div class="Caption">
                Связь
            </div>
            <div class="Data">
               <cl content="Select.html" clValue="" clID="IDBindSpread" clName="IDBindSpread" clType="Bind" clPlaceholder="Тип связи" clDisabled="" clBefore="" clAfter=""/>
           </div>
        </div>
    </div>

    <div class="Toolbar">
        <button type="button" class="ImageOk Unselected" id="BtnOk" title="Выполнение действия">
            Ok
        </button>
        <button type="button" class="ImageCancel Unselected" id="BtnCancel" title="Закрыть диалог">
            Отмена
        </button>
    </div>
</form>