<div class="Group">
    <h1>
        Добавление новой связи 
    </h1>

    <div class="Line">
        <div class="Caption">
             Родитель
         </div>
         <cl content="Select.html" clValue="" clID="IDParent" clName="IDChild" clType="" clPlaceholder="Родитель" clDisabled="" clBefore="" clAfter=""/>
    </div>

    <div class="Line">
        <div class="Caption">
             Связь
         </div>
         <cl content="Select.html" clValue="" clID="IDBind" clName="IDBBind" clType="Bind" clPlaceholder="Тип связи" clDisabled="" clBefore="" clAfter=""/>
    </div>

    <div class="Line">
        <div class="Caption">
             Потомок
         </div>
         <cl content="Select.html" clValue="" clID="IDChild" clName="IDChild" clType="" clPlaceholder="Потомок" clDisabled="" clBefore="" clAfter=""/>
    </div>

</div>

<div class="Toolbar">
    <button class="ImageOk Unselected" id="BtnOk" title="Выполнить добавление новой связи">
        Ok
    </button>
    <button class="ImageCancel Unselected" id="BtnCancel" title="Закрыть диалог">
        Отмена
    </button>
    <button class="ImageChangeRound Unselected" id="BtnDirect" title="Поменять направление связи">
        Направление
    </button>
</div>
