<div>
    <span>Широта:</span>
    <span id="Latitude">%Latitude%</span>
    <span>Долгота:</span>
    <span id="Longitude">%Longitude%</span>
    <span>Точность:</span>
    <span id="Accuracy">%Accuracy%</span>
    <span>м</span>
</div>

