<div class="Group Expert" id="MonitoringGroup">

    <h2>
        Monitoring
    </h2>

    <div class="Line" id="PingMonitoringLine">
        <div class="Caption">
            Ping monitoring
        </div>
        <select name="PingMonitoring" id="PingMonitoring">
            <option name="False">Disabled</option>
            <option name="True">Enabled</option>
        </select>
    </div>

    <div class="Line" id="HostAddressLine">
        <div class="Caption">
            Host
        </div>
        <input id="HostAddress" name="HostAddress" title="IP address or DNS name" placeholder="undefined"/>
    </div>

    <div class="Line" id="PingTimeoutLine">
        <div class="Caption">
            Check timeout sec
        </div>
        <input id="PingTimeout" name="PingTimeout" title="Timeout for sucessfull ping in microseconds"/>
    </div>

    <div class="Line" id="PingIntervalLine">
        <div class="Caption">
            Check interval sec
        </div>
        <input id="PingInterval" name="PingInterval" title="Interval between ping attempts"/>
    </div>

</div>



<div class="Group Expert" id="MaintenanceGroup">

    <h2>
        Maintenance
    </h2>

    <div class="Line" id="IDPropertyOwnerLine">
        <div class="Caption">
            Host owner
        </div>
        <cl content="Select.html" clValue="%IDPropertyOwner%" clID="IDPropertyOwner" clName="IDPropertyOwner" clType="Agent" clPlaceholder=""/>
    </div>

    <div class="Line" id="DeviceModelLine">
        <div class="Caption">
            Device model
        </div>
        <input id="DeviceModel" name="DeviceModel" title="not defined"/>
    </div>

    <div class="Line" id="DeviceSerialLine">
        <div class="Caption">
            Device serial code
        </div>
        <input id="DeviceSerial" name="DeviceSerial" title="not defined"/>
    </div>

    <div class="Line" id="ExternalDeviceURLLine">
        <div class="Caption">
            Support URL
        </div>
        <input id="ExternalDeviceURL" name="ExternalDeviceURL" title="not defined"/>
    </div>

    <div class="Line" id="ChargePeriodLine">
        <div class="Caption">
            Install from
        </div>
        <cl content="MomentInterval.html" clValue="" clID="DTChargeBegin" clName="DTChargeBegin"/>
    </div>

</div>




