.ImageView
{
    display                : flex;
    flex-direction         : column;
}

.ImageView .Image
{
    background-size         : cover;
    background-poisition    : center;
    backgroudd-repeat       : no-repeat;
    background-
}
