<cl header="Content-Type: text/css"/>

.Zoom
{
    border: 1px solid black;
    zIndex: 10000;
    position: fixed;
    box-shadow: 0.3em 0.3em 0.5em #00000030;
    cursor:pointer;
    border-radius:0.3em;
    background-color: #000000;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items: center;
    color:#FFFFFF7c;
    font-size:2em;
}

