<cl header="Content-Type: text/css"/>


.BackObject
{
    background-color: rgba(0,0,0,0.5);
}

.MenuPopup
{
    margin: 0;
    padding: 1em;
}


.WindowBack
{
   position             : fixed;
   display              : flex;
   justify-content      : center;
   align-items          : center;
   top                  : 0;
   left                 : 0;
   right                : 0;
   bottom               : 0;
   background-color     : #0000007C;
}
