<div class="Agent" style="background-image:url('?&image=%IDImageAccountInsert%&scalex=32&scaley=32');">
    %CaptionAccountInsert%
</div>

<pre class="Content">%Content%</pre>

<div class="DTInsert">
    %DTInsert%
</div>
