<cl header="Content-Type: text/css"/>

.MessageList .Record
{
    padding:1em;
    display:flex;
    justify-content:space-between;
}


.MessageList .Record:nth-child(odd)
{
    background-color:#DDDDDD;
}


.MessageList .Record:nth-child(even)
{
    background-color:#EEEEEE;
}


.MessageList .Record .Agent
{
    padding-top:3em;
    width:4em;
    background-position:center top;
    background-repeat: no-repeat;
    text-align:center;
}

.MessageList .Record .Content
{
    flex-grow:1;
    font-family:monospace;
}
