<div class="Moment CustomInput %class%" style="%style%;width:13em;align-items:center;" clBegin="%clBegin%" clEnd="%clEnd%">
    <input class="MomentValue" id="%clID%" name="%clName%" value="%clValue%" style="flex-grow:1; flex-shrink:1; width:0;" autocomplete="off"/>
    <button type="button" class="MomentButton Unselected ImageMonth" style="flex-grow:0;flex-shrink:0;background-repeat:no-repeat;background-size:1em 1em;background-position:center;border:none;outline:none;min-width:auto;min-height:auto;font-size:inherit;padding:0;width:1em;height:1em;">
    </button>
</div>
