<style>


.DateTimePopup
{
   position:fixed;
   top:0!important;
   bottom:0!important;
   left:0!important;
   right:0!important;

   display:flex;
   flex-direction:column;
   justify-content:space-between;

   padding:0;
   border-radius:0;
   overflow:auto;
}



.DTModeFull
{
}



.Calendar
{
    display:flex;
    justify-content:center;
}



.DTPTable tbody .Interval
{
    border:1px solid #FFFFFF7C;
}



.DTPTable 
{
    user-select:none;
    text-align:center; 
    display:inline-block; 
    margin:0 1em 0 1em;
}



.DTPTable tbody td 
{
    width:2em;
    height:2em;
    border-radius: 1em;
}



.Holyday
{
   font-weight:bolder;
}



.DTPTable thead td
{
   padding:0.3em;
}


.DTPTable .Day
{
    font-size:0.7em;
}



@media all and (max-width: 1024px)
{
    .DTPTable tbody td 
    {
        width:1.5em;
        height:1.2em;
    }

    .Calendar .DTPTable:nth-child(1)
    {
        display:none;
    }

    .Calendar .DTPTable:nth-child(3)
    {
        display:none;
    }

    .CalendarYearButton
    {
        display:none;
    }
}

</style>

<div style="flex-grow:1">
</div>


<input type="hidden" class="Current"/>
<input type="hidden" class="MomentBegin"/>
<input type="hidden" class="MomentEnd"/>


<div class="Toolbar DTModeFull" style="justify-content:center;">
    <button type="button" class="ImageArrowLeft Unselected BtnYearPrev" id="YearPrev">
        Previos year
    </button>
    <button type="button" class="ImageArrowLeft Unselected BtnMonthPrev" id="MonthPrev">
        Previos month
    </button>
    <button type="button" class="ImageArrowRight Unselected BtnMonthNext" id="MonthNext">
        Next month
    </button>
    <button type="button" class="ImageArrowRight Unselected BtnYearNext" id="YearNext">
        Next year
    </button>
</div>

<div class="Calendar">


    <table id="Left" class="DTPTable DTModeFull TableLeft">
        <thead>
            <tr>
                <td colspan="7" id="CaptionLeft" class="MonthAndYear">
                </td>
            </tr>
            <tr class="Day">
                <td>Sun</td>
                <td>Mon</td>
                <td>Tue</td>
                <td>Wen</td>
                <td>Thu</td>
                <td>Fri</td>
                <td>Sat</td>
            </tr>
        </thead>

        <tbody class="TableLeftBody">
            <tr>
                <td id="c11"></td>
                <td id="c12"></td>
                <td id="c13"></td>
                <td id="c14"></td>
                <td id="c15"></td>
                <td id="c16"></td>
                <td id="c17"></td>
            </tr>
            <tr>
                <td id="c21"></td>
                <td id="c22"></td>
                <td id="c23"></td>
                <td id="c24"></td>
                <td id="c25"></td>
                <td id="c26"></td>
                <td id="c27"></td>
            </tr>
            <tr>
                <td id="c31"></td>
                <td id="c32"></td>
                <td id="c33"></td>
                <td id="c34"></td>
                <td id="c35"></td>
                <td id="c36"></td>
                <td id="c37"></td>
            </tr>
            <tr>
                <td id="c41"></td>
                <td id="c42"></td>
                <td id="c43"></td>
                <td id="c44"></td>
                <td id="c45"></td>
                <td id="c46"></td>
                <td id="c47"></td>
            </tr>
            <tr>
                <td id="c51"></td>
                <td id="c52"></td>
                <td id="c53"></td>
                <td id="c54"></td>
                <td id="c55"></td>
                <td id="c56"></td>
                <td id="c57"></td>
            </tr>
            <tr>
                <td id="c61"></td>
                <td id="c62"></td>
                <td id="c63"></td>
                <td id="c64"></td>
                <td id="c65"></td>
                <td id="c66"></td>
                <td id="c67"></td>
            </tr>
        </tbody>
    </table>

    <table id="Center" class="DTPTable TableCenter">
        <thead>
            <tr>
                <td colspan="7" id="CaptionCenter" class="MonthAndYear">
                </td>
            </tr>
            <tr class="Day">
                <td>Sun</td>
                <td>Mon</td>
                <td>Tue</td>
                <td>Wen</td>
                <td>Thu</td>
                <td>Fri</td>
                <td>Sat</td>
            </tr>
        </thead>
        <tbody class="TableCenterBody">
            <tr>
                <td id="c11"> </td>
                <td id="c12"> </td>
                <td id="c13"> </td>
                <td id="c14"> </td>
                <td id="c15"> </td>
                <td id="c16"> </td>
                <td id="c17"> </td>
            </tr>
            <tr>
                <td id="c21"> </td>
                <td id="c22"> </td>
                <td id="c23"> </td>
                <td id="c24"> </td>
                <td id="c25"> </td>
                <td id="c26"> </td>
                <td id="c27"> </td>
            </tr>
            <tr>
                <td id="c31"> </td>
                <td id="c32"> </td>
                <td id="c33"> </td>
                <td id="c34"> </td>
                <td id="c35"> </td>
                <td id="c36"> </td>
                <td id="c37"> </td>
            </tr>
            <tr>
                <td id="c41"> </td>
                <td id="c42"> </td>
                <td id="c43"> </td>
                <td id="c44"> </td>
                <td id="c45"> </td>
                <td id="c46"> </td>
                <td id="c47"> </td>
            </tr>
            <tr>
                <td id="c51"> </td>
                <td id="c52"> </td>
                <td id="c53"> </td>
                <td id="c54"> </td>
                <td id="c55"> </td>
                <td id="c56"> </td>
                <td id="c57"> </td>
            </tr>
            <tr>
                <td id="c61"> </td>
                <td id="c62"> </td>
                <td id="c63"> </td>
                <td id="c64"> </td>
                <td id="c65"> </td>
                <td id="c66"> </td>
                <td id="c67"> </td>
            </tr>
        </tbody>
    </table>

    <table id="Right" class="DTPTable TableRight">
        <thead>
            <tr>
                <td colspan="7" id="CaptionRight" class="MonthAndYear">
                </td>
            </tr>
            <tr class="Day">
                <td>Sun</td>
                <td>Mon</td>
                <td>Tue</td>
                <td>Wen</td>
                <td>Thu</td>
                <td>Fri</td>
                <td>Sat</td>
            </tr>
        </thead>

        <tbody class="TableRightBody">
            <tr>
                <td id="c11"> </td>
                <td id="c12"> </td>
                <td id="c13"> </td>
                <td id="c14"> </td>
                <td id="c15"> </td>
                <td id="c16"> </td>
                <td id="c17"> </td>
            </tr>
            <tr>
                <td id="c21"> </td>
                <td id="c22"> </td>
                <td id="c23"> </td>
                <td id="c24"> </td>
                <td id="c25"> </td>
                <td id="c26"> </td>
                <td id="c27"> </td>
            </tr>
            <tr>
                <td id="c31"> </td>
                <td id="c32"> </td>
                <td id="c33"> </td>
                <td id="c34"> </td>
                <td id="c35"> </td>
                <td id="c36"> </td>
                <td id="c37"> </td>
            </tr>
            <tr>
                <td id="c41"> </td>
                <td id="c42"> </td>
                <td id="c43"> </td>
                <td id="c44"> </td>
                <td id="c45"> </td>
                <td id="c46"> </td>
                <td id="c47"> </td>
            </tr>
            <tr>
                <td id="c51"> </td>
                <td id="c52"> </td>
                <td id="c53"> </td>
                <td id="c54"> </td>
                <td id="c55"> </td>
                <td id="c56"> </td>
                <td id="c57"> </td>
            </tr>
            <tr>
                <td id="c61"> </td>
                <td id="c62"> </td>
                <td id="c63"> </td>
                <td id="c64"> </td>
                <td id="c65"> </td>
                <td id="c66"> </td>
                <td id="c67"> </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="Toolbar" style="justify-content:center;">

    <button class="ImageArrowLeft Unselected BtnPeriodPrev" id="PeriodPrev">
        Back
    </button>

    <button class="ImageArrowRight Unselected BtnPeriodNext" id="PeriodNext">
        Next
    </button>

    <button class="ImageMonth Unselected BtnMonthCurrent" id="MonthCurrent">
        Month
    </button>

    <button class="ImageMonth Unselected BtnWeekCurrent" id="WeekCurrent">
        Week
    </button>

    <button class="ImageDay Unselected BtnToday" id="Today">
        Today
    </button>

    <div class="Delimeter">
    </div>

    <button class="ImageMoon Unselected BtnMidnight" id="Midnight">
        Midnight  
    </button>

    <button class="ImageClock Unselected BtnNow" id="Now">
        Now
    </button>

    <button class="ImageSun Unselected BtnNoon" id="Noon">
        Noon
    </button>
</div>

<div style="padding-bottom:1em; text-align:center;" class="DTModeFull">
    <select id="Hour">
    </select>
    <select id="Minute">
    </select>
    <select id="Second">
    </select>
</div>

<div class="Toolbar" style="justify-content:center;">
    <button type="button" class="ImageOk Unselected BtnOk" id="Ok">
        Ok
    </button>
    <button type="button" class="ImageEye Unselected BtnReset" id="Reset">
        Reset
    </button>
    <button type="button" class="ImageCancel Unselected BtnCancel" id="BtnCancel">
        Cancel
    </button>
</div>

<div style="flex-grow:1">
</div>
