<div class="Group">
    <h2>
        Fields settings
    </h2>
    <div class="Line">
        <div class="Caption">
            List of fields
        </div>
        <textarea id="FieldsList" name="FieldsList" rows="10">
        </textarea>
    </div>
</div>