<style>
    .Auth
    {
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        display:flex;
        justify-content:center;
        align-items:center;
    }

    .Auth form
    {
        width:20em;
    }
</style>

<div class="Auth">
    <form id="Form" method="post" enctype="multipart/form-data">
    <div class="Group">
        <h1>
            Change password
        </h1>

        <div class="Line">
            <div class="Caption">
                Current password
            </div>
            <input type="password" name="CurrentPassword" name="CurrentPassword" value="" placeholder="Current password" 
autocomplete="off"/>
        </div>

        <div class="Line">
            <div class="Caption">
                New password
            </div>
            <input type="password" name="NewPassword" id="NewPassword" value="" placeholder="New password" 
autocomplete="off"/>
        </div>

        <div class="Line">
            <div class="Caption">
                Check password
            </div>
            <input type="password" name="CheckPassword" id="CheckPassword" value="" placeholder="Check password" 
autocomplete="off"/>
        </div>

       <div class="Toolbar">
           <button class="ImageOk Unselected" id="BtnOk" type="button">
               Change
           </button>
           <button class="ImageCancel Unselected" id="BtnCancel" type="button">
               Cancel
           </button>
       </div>
    </div>
    </form>
</div>
