<style>
.PayMethod
{
    display:flex;
    justify-content: center;
    align-items: center;
}

.PayMethod .List .Record
{
    font-size:1em;
    padding:0.5em 0.5em 0.5em 3em;
    background-position:1em center;
    background-repeat:no-repeat;
    background-size:auto 70%;
    background-color:white;
    color:black;
    margin: 0.5em;
}
</style>

<div>
    <h1>
        Payments methods
    </h1>

    <div class="List">
    </div>

    <div class="Toolbar">
        <button type="button" id="BtnCancel" class="Unselected ImageCancel">
            Cancel
        </button>
    </div>
</div>




