@media print 
{
    @page 
    {
    }
}



body
{
    font-size:0.6em;
}



h1, h2, h3, h4
{
    padding:0;
    margin:0.3em 0 0.3em 0;
    page-break-after: avoid;
}



.Image
{
    width:100%;
    box-sizing:border-box;
    padding:2px;
    border:1px solid gray;
    border-radius:0.3em;
    margin-top:1em;
}



.Information
{
    box-sizing:border-box;
    padding:2px;
    border:1px solid gray;
    border-radius:0.3em;
    min-height:5em;
    white-space:pre-wrap;
}



.FlexGroup
{
    display:flex;
    flex-wrap:wrap;
    justify-content:stretch;
    flex-direction:row;
}



.FlexGroup .Group
{
    margin-right:2em;
    margin-bottom:1em;
    flex:1 1 50%;
}



.FlexGroup .Group h1, .FlexGroup .Group h2, .FlexGroup .Group h3
{
    border-bottom:1px solid black;
    margin-bottom:0.5em;
}



.Group
{
    box-sizing:border-box;
    flex-direction:column;
    display:flex;
    width:100%;
}



.Group .Line
{
    display:flex;
    flex-direction:row;
    justify-content:start;
    align-items:center;
}




.Group .Line .Caption
{
    text-align:center;
    color: gray;
    justify-content:start;
}



.Group .Line .Caption:first-child
{
    flex:0 0 12em;
    text-align:left;
}



.Group .Line .Caption:not(:first-child)
{
    padding-left:1em;
}



.Group .Line .Text
{
    padding-right:1em;  
}



.Group .Line .Data .Caption
{
    padding-right: 1em;
    min-width:none;
    justify-content:start;
}



.Group .Line .Caption:not(:empty):after
{
    content:":";
}



.Group .Line .Data
{
    display:flex;
    flex-wrap:wrap;
}


.Text
{
}


 



.List
{
    display:flex;
    flex-direction:row;
}



.ListLine
{
    display:flex;
    flex-direction:row;
    align-items:center;
}



.Title
{
    border-bottom: 1px solid gray;
    margin-bottom: 1em;
}



.Invisible
{
    display:none;
}



.Page
{
    page-break-after:always;
    page-break-before:always;
}



table
{
   font-size:1.0em;
   width:100%;
   border-collapse:collapse;
}



table thead
{
   font-size:0.9em;
   font-weight:normal;
   background-color:#CCCCFFFF;
   display:table-header-group;
}



table td, table th
{
   padding:0.25em 0.25em 0.25em 0.25em;
   text-align:center;
}



table tr td col:nth-child(odd)
{
   background-color:#FFFFFFFF;
}



table tr td:nth-child(even)
{
   background-color:#FFFFAAFF;
}




table thead th
{
   border:1px solid #BBBBEEFF;
}



table tbody td
{
   border-bottom:1px solid #CCCCCCFF;
}



table .Moment
{
   text-align:center;
   white-space:nowrap;
}



table .Number, table .Float, table .Integer
{
    text-align:right;
}




table .Caption
{
    text-align:left;
}

table .Quantity
{
    text-align:right;
}


table .Total
{
   background-color:#FFCCCCFF!important;
}



.Money
{
    min-width:6em;
    text-align:right;
}

.Percent
{
    min-width:4em;
    text-align:right;
}

.Percent:after
{
    content:'%';
}










.Manuscript
{
    border: 1px solid gray;
    border-radius: 0.3em;
    min-height: 0.7cm;
    min-width: 1.0cm;
    margin:0.1cm;
}



.ManuscriptCheck
{
    border:1px solid gray;
    border-radius:0.3em;
    width:0.6cm;
    height:0.5cm;
    margin:0.1cm;
}

.CheckCaption
{
    padding-left:0.5em;
    padding-right:2em;
}


.ManuscriptDate
{
    border:1px solid gray;
    border-radius:0.3em;
    width:5cm;
}



.ManuscriptTime
{
    border:1px solid gray;
    border-radius:0.3em;
    width:4cm;
}



.ManuscriptPerson
{
    border:1px solid gray;
    border-radius:0.3em;
    width:10cm;
}



.ManuscriptEmail, .ManuscriptPhone, .ManuscriptTelegram
{
    border:1px solid gray;
    border-radius:0.3em;
    min-width:8cm;
}



.Signate
{
    background-color:silver;
    border:1px solid gray;
    border-radius:0.3em;
    width:8cm;
}

