.Container
{
    display:flex;
}



.WindowBack
{
   position:fixed;
   display:flex;
   justify-content:center;
   align-items:center;
   top:0;
   left:0;
   right:0;
   bottom:0;
   background-color:#0000007C;
}



.WindowClassic
{
    position:absolute;
    background-color:white;
    min-width:20em;
    min-height:10em;
}



.WindowDialog
{
    position:absolute;
    background-color:white;
    min-width:20em;
    min-height:10em;
    padding:0;
    display:flex;
    flex-direction:column;
    box-shadow:0 0 1em #0000007c;
    border-radius:0.2em;
    overflow:hidden;
}



.WindowTitle
{
    padding:0.1em 0.1em 0.1em 1em;
    background-color:#EEEEEE;
    align-items: center;
}



.WindowTitle .WindowBtn
{
    margin:0.1em;
    border:0;
    width:1em;
    height:1em;
    background-position:center;
    background-size:60%;
    background-repeat:no-repeat;
}



.WindowTitle .WindowBtnClose
{
    background-image:url('?image=Cancel.png&scalex=64&scaley=64&colorize=000000FF');
}



.WindowTitle .WindowBtnMinimize
{
    background-image:url('?image=Minus.png&scalex=64&scaley=64&colorize=000000FF');
}



.WindowTitle .WindowBtnMaximize
{
    background-image:url('?image=Plus.png&scalex=64&scaley=64&colorize=000000FF');
}



.WindowTitle
{
    display:flex;
}



.WindowTitle .WindowLabel
{
    flex: 1 1 0;
}



.WindowDialogItem
{
}



.WindowActions
{
    display:flex;
    justify-content:center;
}



.WindowActions button
{
    margin:0.5em 0.2em 0.5em 0.2em;
}



.WindowDialog .WindowClient
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
}