<h1>
    The Pusa Test
</h1>


<div style="border:1em solid silver;">

    <h1>
        Conatainer
    </h1>

    <div class="Bar">
        <button type="button" data-event="click.Test.Clear">
            Clear
        </button>
        <button type="button" data-event="click.Test.AddFirst">
            <
        </button>
        <button type="button" data-event="click.Test.AddLast">
            >
        </button>
        <button type="button" data-event="click.Test.HelloWorld">
            Pusa
        </button>
        <button type="button" data-event="click.Test.NewsRu">
            News Ru
        </button>
        <button type="button" data-event="click.Test.HideList">
            Hide list
        </button>
        <button type="button" data-event="click.Test.ShowList">
            Show list
        </button>
        <button type="button" data-event="click.Test.URLParam">
            Set URL param
        </button>
        <button type="button" data-event="click.Test.WinDlg">
            Dialog
        </button>
    </div>

    <div class="Container" style="padding:1em;border:1px solid black; display:flex; flex-direction:row; flex-wrap:wrap" >
    </div>


    <form style="padding:1em;border:1px solid black;" name="Form">
        <h1>
            Form
        </h1>
    
        <div class="Line">
            <div class="Label">
                Value 1
            </div>
            <input name="Value1">
        </div>

        <div class="Line">
            <div class="Label">
                Value 2
            </div>
            <input name="Value2">
        </div>

        <div class="Line">
            <input type="checkbox" name="Value3" id="Value3"> <label for="Value3">Checkbox</label>
        </div>


        <div class="Line">
            <input type="radio" name="Radio" id="Radio1"> <label for="Radio1">Radio1</label>
            <input type="radio" name="Radio" id="Radio2"> <label for="Radio2">Radio2</label>
        </div>


        <div class="Bar">
            <button type="button" data-click="Test.Form">
                Send
            </button>
        </div>
    </form>

</div>
