<style>
.Section
{
    display:flex;
}  

.Section label
{
    padding-right:1em;
}

.ScheduleTable
{
}

.ScheduleTable input
{
    max-width:2em;
}

</style>

<div class="Group">

    <div class="Line">
        <div class="Caption">
            Day name
        </div>

        <table class="ScheduleTable">
            <tbody>
                <tr>
                <td>
                Day
                </td>
                <td>
                00
                </td>
                <td>
                01
                </td>
                <td>
                02
                </td>
                <td>
                03
                </td>
                <td>
                04
                </td>
                <td>
                05
                </td>
                <td>
                06
                </td>
                <td>
                07
                </td>
                <td>
                08
                </td>
                <td>
                09
                </td>
                <td>
                10
                </td>
                <td>
                11
                </td>
                <td>
                12
                </td>
                <td>
                13
                </td>
                <td>
                14
                </td>
                <td>
                15
                </td>
                <td>
                16
                </td>
                <td>
                17
                </td>
                <td>
                18
                </td>
                <td>
                19
                </td>
                <td>
                20
                </td>
                <td>
                21
                </td>
                <td>
                22
                </td>
                <td>
                23
                </td>
            </tr>

                <tr>
                <td>
                Mon
                </td>
                <td>
                <input name="Mon-00" value="" id="Mon-00">
                </td>
                <td>
                <input name="Mon-01" value="" id="Mon-01">
                </td>
                <td>
                <input name="Mon-02" value="" id="Mon-02">
                </td>
                <td>
                <input name="Mon-03" value="" id="Mon-03">
                </td>
                <td>
                <input name="Mon-04" value="" id="Mon-04">
                </td>
                <td>
                <input name="Mon-05" value="" id="Mon-05">
                </td>
                <td>
                <input name="Mon-06" value="" id="Mon-06">
                </td>
                <td>
                <input name="Mon-07" value="" id="Mon-07">
                </td>
                <td>
                <input name="Mon-08" value="" id="Mon-08">
                </td>
                <td>
                <input name="Mon-09" value="" id="Mon-09">
                </td>
                <td>
                <input name="Mon-10" value="" id="Mon-10">
                </td>
                <td>
                <input name="Mon-11" value="" id="Mon-11">
                </td>
                <td>
                <input name="Mon-12" value="" id="Mon-12">
                </td>
                <td>
                <input name="Mon-13" value="" id="Mon-13">
                </td>
                <td>
                <input name="Mon-14" value="" id="Mon-14">
                </td>
                <td>
                <input name="Mon-15" value="" id="Mon-15">
                </td>
                <td>
                <input name="Mon-16" value="" id="Mon-16">
                </td>
                <td>
                <input name="Mon-17" value="" id="Mon-17">
                </td>
                <td>
                <input name="Mon-18" value="" id="Mon-18">
                </td>
                <td>
                <input name="Mon-19" value="" id="Mon-19">
                </td>
                <td>
                <input name="Mon-20" value="" id="Mon-20">
                </td>
                <td>
                <input name="Mon-21" value="" id="Mon-21">
                </td>
                <td>
                <input name="Mon-22" value="" id="Mon-22">
                </td>
                <td>
                <input name="Mon-23" value="" id="Mon-23">
                </td>
                </tr>

                <tr>
                <td>
                Tue
                </td>
                <td>
                <input name="Tue-00" value="" id="Tue-00">
                </td>
                <td>
                <input name="Tue-01" value="" id="Tue-01">
                </td>
                <td>
                <input name="Tue-02" value="" id="Tue-02">
                </td>
                <td>
                <input name="Tue-03" value="" id="Tue-03">
                </td>
                <td>
                <input name="Tue-04" value="" id="Tue-04">
                </td>
                <td>
                <input name="Tue-05" value="" id="Tue-05">
                </td>
                <td>
                <input name="Tue-06" value="" id="Tue-06">
                </td>
                <td>
                <input name="Tue-07" value="" id="Tue-07">
                </td>
                <td>
                <input name="Tue-08" value="" id="Tue-08">
                </td>
                <td>
                <input name="Tue-09" value="" id="Tue-09">
                </td>
                <td>
                <input name="Tue-10" value="" id="Tue-10">
                </td>
                <td>
                <input name="Tue-11" value="" id="Tue-11">
                </td>
                <td>
                <input name="Tue-12" value="" id="Tue-12">
                </td>
                <td>
                <input name="Tue-13" value="" id="Tue-13">
                </td>
                <td>
                <input name="Tue-14" value="" id="Tue-14">
                </td>
                <td>
                <input name="Tue-15" value="" id="Tue-15">
                </td>
                <td>
                <input name="Tue-16" value="" id="Tue-16">
                </td>
                <td>
                <input name="Tue-17" value="" id="Tue-17">
                </td>
                <td>
                <input name="Tue-18" value="" id="Tue-18">
                </td>
                <td>
                <input name="Tue-19" value="" id="Tue-19">
                </td>
                <td>
                <input name="Tue-20" value="" id="Tue-20">
                </td>
                <td>
                <input name="Tue-21" value="" id="Tue-21">
                </td>
                <td>
                <input name="Tue-22" value="" id="Tue-22">
                </td>
                <td>
                <input name="Tue-23" value="" id="Tue-23">
                </td>
                </tr>

                <tr>
                <td>
                Wed
                </td>
                <td>
                <input name="Wed-00" value="" id="Wed-00">
                </td>
                <td>
                <input name="Wed-01" value="" id="Wed-01">
                </td>
                <td>
                <input name="Wed-02" value="" id="Wed-02">
                </td>
                <td>
                <input name="Wed-03" value="" id="Wed-03">
                </td>
                <td>
                <input name="Wed-04" value="" id="Wed-04">
                </td>
                <td>
                <input name="Wed-05" value="" id="Wed-05">
                </td>
                <td>
                <input name="Wed-06" value="" id="Wed-06">
                </td>
                <td>
                <input name="Wed-07" value="" id="Wed-07">
                </td>
                <td>
                <input name="Wed-08" value="" id="Wed-08">
                </td>
                <td>
                <input name="Wed-09" value="" id="Wed-09">
                </td>
                <td>
                <input name="Wed-10" value="" id="Wed-10">
                </td>
                <td>
                <input name="Wed-11" value="" id="Wed-11">
                </td>
                <td>
                <input name="Wed-12" value="" id="Wed-12">
                </td>
                <td>
                <input name="Wed-13" value="" id="Wed-13">
                </td>
                <td>
                <input name="Wed-14" value="" id="Wed-14">
                </td>
                <td>
                <input name="Wed-15" value="" id="Wed-15">
                </td>
                <td>
                <input name="Wed-16" value="" id="Wed-16">
                </td>
                <td>
                <input name="Wed-17" value="" id="Wed-17">
                </td>
                <td>
                <input name="Wed-18" value="" id="Wed-18">
                </td>
                <td>
                <input name="Wed-19" value="" id="Wed-19">
                </td>
                <td>
                <input name="Wed-20" value="" id="Wed-20">
                </td>
                <td>
                <input name="Wed-21" value="" id="Wed-21">
                </td>
                <td>
                <input name="Wed-22" value="" id="Wed-22">
                </td>
                <td>
                <input name="Wed-23" value="" id="Wed-23">
                </td>
                </tr>

                <tr>
                <td>
                Thu
                </td>
                <td>
                <input name="Thu-00" value="" id="Thu-00">
                </td>
                <td>
                <input name="Thu-01" value="" id="Thu-01">
                </td>
                <td>
                <input name="Thu-02" value="" id="Thu-02">
                </td>
                <td>
                <input name="Thu-03" value="" id="Thu-03">
                </td>
                <td>
                <input name="Thu-04" value="" id="Thu-04">
                </td>
                <td>
                <input name="Thu-05" value="" id="Thu-05">
                </td>
                <td>
                <input name="Thu-06" value="" id="Thu-06">
                </td>
                <td>
                <input name="Thu-07" value="" id="Thu-07">
                </td>
                <td>
                <input name="Thu-08" value="" id="Thu-08">
                </td>
                <td>
                <input name="Thu-09" value="" id="Thu-09">
                </td>
                <td>
                <input name="Thu-10" value="" id="Thu-10">
                </td>
                <td>
                <input name="Thu-11" value="" id="Thu-11">
                </td>
                <td>
                <input name="Thu-12" value="" id="Thu-12">
                </td>
                <td>
                <input name="Thu-13" value="" id="Thu-13">
                </td>
                <td>
                <input name="Thu-14" value="" id="Thu-14">
                </td>
                <td>
                <input name="Thu-15" value="" id="Thu-15">
                </td>
                <td>
                <input name="Thu-16" value="" id="Thu-16">
                </td>
                <td>
                <input name="Thu-17" value="" id="Thu-17">
                </td>
                <td>
                <input name="Thu-18" value="" id="Thu-18">
                </td>
                <td>
                <input name="Thu-19" value="" id="Thu-19">
                </td>
                <td>
                <input name="Thu-20" value="" id="Thu-20">
                </td>
                <td>
                <input name="Thu-21" value="" id="Thu-21">
                </td>
                <td>
                <input name="Thu-22" value="" id="Thu-22">
                </td>
                <td>
                <input name="Thu-23" value="" id="Thu-23">
                </td>
                </tr>

                <tr>
                <td>
                Fri
                </td>
                <td>
                <input name="Fri-00" value="" id="Fri-00">
                </td>
                <td>
                <input name="Fri-01" value="" id="Fri-01">
                </td>
                <td>
                <input name="Fri-02" value="" id="Fri-02">
                </td>
                <td>
                <input name="Fri-03" value="" id="Fri-03">
                </td>
                <td>
                <input name="Fri-04" value="" id="Fri-04">
                </td>
                <td>
                <input name="Fri-05" value="" id="Fri-05">
                </td>
                <td>
                <input name="Fri-06" value="" id="Fri-06">
                </td>
                <td>
                <input name="Fri-07" value="" id="Fri-07">
                </td>
                <td>
                <input name="Fri-08" value="" id="Fri-08">
                </td>
                <td>
                <input name="Fri-09" value="" id="Fri-09">
                </td>
                <td>
                <input name="Fri-10" value="" id="Fri-10">
                </td>
                <td>
                <input name="Fri-11" value="" id="Fri-11">
                </td>
                <td>
                <input name="Fri-12" value="" id="Fri-12">
                </td>
                <td>
                <input name="Fri-13" value="" id="Fri-13">
                </td>
                <td>
                <input name="Fri-14" value="" id="Fri-14">
                </td>
                <td>
                <input name="Fri-15" value="" id="Fri-15">
                </td>
                <td>
                <input name="Fri-16" value="" id="Fri-16">
                </td>
                <td>
                <input name="Fri-17" value="" id="Fri-17">
                </td>
                <td>
                <input name="Fri-18" value="" id="Fri-18">
                </td>
                <td>
                <input name="Fri-19" value="" id="Fri-19">
                </td>
                <td>
                <input name="Fri-20" value="" id="Fri-20">
                </td>
                <td>
                <input name="Fri-21" value="" id="Fri-21">
                </td>
                <td>
                <input name="Fri-22" value="" id="Fri-22">
                </td>
                <td>
                <input name="Fri-23" value="" id="Fri-23">
                </td>
                </tr>

                <tr>
                <td>
                Sat
                </td>
                <td>
                <input name="Sat-00" value="" id="Sat-00">
                </td>
                <td>
                <input name="Sat-01" value="" id="Sat-01">
                </td>
                <td>
                <input name="Sat-02" value="" id="Sat-02">
                </td>
                <td>
                <input name="Sat-03" value="" id="Sat-03">
                </td>
                <td>
                <input name="Sat-04" value="" id="Sat-04">
                </td>
                <td>
                <input name="Sat-05" value="" id="Sat-05">
                </td>
                <td>
                <input name="Sat-06" value="" id="Sat-06">
                </td>
                <td>
                <input name="Sat-07" value="" id="Sat-07">
                </td>
                <td>
                <input name="Sat-08" value="" id="Sat-08">
                </td>
                <td>
                <input name="Sat-09" value="" id="Sat-09">
                </td>
                <td>
                <input name="Sat-10" value="" id="Sat-10">
                </td>
                <td>
                <input name="Sat-11" value="" id="Sat-11">
                </td>
                <td>
                <input name="Sat-12" value="" id="Sat-12">
                </td>
                <td>
                <input name="Sat-13" value="" id="Sat-13">
                </td>
                <td>
                <input name="Sat-14" value="" id="Sat-14">
                </td>
                <td>
                <input name="Sat-15" value="" id="Sat-15">
                </td>
                <td>
                <input name="Sat-16" value="" id="Sat-16">
                </td>
                <td>
                <input name="Sat-17" value="" id="Sat-17">
                </td>
                <td>
                <input name="Sat-18" value="" id="Sat-18">
                </td>
                <td>
                <input name="Sat-19" value="" id="Sat-19">
                </td>
                <td>
                <input name="Sat-20" value="" id="Sat-20">
                </td>
                <td>
                <input name="Sat-21" value="" id="Sat-21">
                </td>
                <td>
                <input name="Sat-22" value="" id="Sat-22">
                </td>
                <td>
                <input name="Sat-23" value="" id="Sat-23">
                </td>
                </tr>

                <tr>
                <td>
                Sun
                </td>
                <td>
                <input name="Sun-00" value="" id="Sun-00">
                </td>
                <td>
                <input name="Sun-01" value="" id="Sun-01">
                </td>
                <td>
                <input name="Sun-02" value="" id="Sun-02">
                </td>
                <td>
                <input name="Sun-03" value="" id="Sun-03">
                </td>
                <td>
                <input name="Sun-04" value="" id="Sun-04">
                </td>
                <td>
                <input name="Sun-05" value="" id="Sun-05">
                </td>
                <td>
                <input name="Sun-06" value="" id="Sun-06">
                </td>
                <td>
                <input name="Sun-07" value="" id="Sun-07">
                </td>
                <td>
                <input name="Sun-08" value="" id="Sun-08">
                </td>
                <td>
                <input name="Sun-09" value="" id="Sun-09">
                </td>
                <td>
                <input name="Sun-10" value="" id="Sun-10">
                </td>
                <td>
                <input name="Sun-11" value="" id="Sun-11">
                </td>
                <td>
                <input name="Sun-12" value="" id="Sun-12">
                </td>
                <td>
                <input name="Sun-13" value="" id="Sun-13">
                </td>
                <td>
                <input name="Sun-14" value="" id="Sun-14">
                </td>
                <td>
                <input name="Sun-15" value="" id="Sun-15">
                </td>
                <td>
                <input name="Sun-16" value="" id="Sun-16">
                </td>
                <td>
                <input name="Sun-17" value="" id="Sun-17">
                </td>
                <td>
                <input name="Sun-18" value="" id="Sun-18">
                </td>
                <td>
                <input name="Sun-19" value="" id="Sun-19">
                </td>
                <td>
                <input name="Sun-20" value="" id="Sun-20">
                </td>
                <td>
                <input name="Sun-21" value="" id="Sun-21">
                </td>
                <td>
                <input name="Sun-22" value="" id="Sun-22">
                </td>
                <td>
                <input name="Sun-23" value="" id="Sun-23">
                </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



