<div class="CustomInput %class%" style="%style%;align-items:center;">
    <input class="SelectValue" id="%clID%" name="%clName%" value="%clValue%" type="hidden" cltype="%clType%"/>
    <input class="SelectCaption" id="Caption%clID%" name="Caption%clName%" style="flex-grow:1; flex-shrink:1; width:0;" placeholder="%clPlaceholder%" %clDisabled% autocomplete="off"/>
    <button type="button" class="SelectButton Unselected ImageZoom" style="flex-grow:0;flex-shrink:0;background-repeat:no-repeat;background-size:1em 1em;background-position:center;border:none;outline:none;min-width:auto;min-height:auto;font-size:inherit;padding:0;width:1em;height:1em;">
    </button>
</div>
