<div class="Frame" style="min-width:20em; margin-bottom:1em;">

    <h2>
        %IDTask%
    </h2>

    <div style="display:flex;">
    <div class="Toolbar" style="flex-direction:column;">
        <button type="Button" class="BtnControl ImageStop" id="Stop">
            Stop
        </button>

        <button type="Button" class="BtnControl ImagePlay" id="Start">
            Start
        </button>

        <button type="Button" class="BtnControl ImageOk" id="Execute">
            Execute
        </button>

        <div class="Space">
        </div>

        <button type="Button" class="BtnControl ImageTrash" id="Delete">
            Delete
        </button>
    </div>

    <div class="Group" style="margin-left:1em;">
        <div class="Line">
            <div class="Caption">
                Work status
            </div>
            <div class="Data">
                %WorkStatus%
            </div>
        </div>
        <div class="Line">
            <div class="Caption">
                Work message
            </div>
            <div class="Data">
                %WorkMessage%
            </div>
        </div>
        <div class="Line">
            <div class="Caption">
                ID Task journal
            </div>
            <div class="Data">
                %IDRecord%
            </div>
        </div>
        <div class="Line">
            <div class="Caption">
                Priority
            </div>
            <div class="Data">
                %Priority%
            </div>
        </div>
        <div class="Line" title="Creation moment of task">
            <div class="Caption">
                Create
            </div>
            <div class="Data">
                %DTCreate%
            </div>
        </div>
        <div class="Line">
            <div class="Caption">
                Start moment
            </div>
            <div class="Data">
                %DTActual%
            </div>
            <div class="Caption">
                in
            </div>
            <div class="Data">
                %DTActualNow%
            </div>
        </div>
        <div class="Line">
            <div class="Caption">
                Last start moment
            </div>
            <div class="Data">
                %DTBegin%
            </div>
            <div class="Caption">
                ago
            </div>
            <div class="Data">
                %DTBeginNow%
            </div>
        </div>
        <div class="Line">
            <div class="Caption">
                Last complete moment
            </div>
            <div class="Data">
                %DTComplete%
            </div>
            <div class="Caption">
                length
            </div>
            <div class="Data">
                %DTCompleteLength%
            </div>
        </div>
        <div class="Line">
            <div class="Caption">
                Last statistic
            </div>
            <div class="Data">
                %DTStatistics%
            </div>
        </div>

        <div class="Line">
            <div class="Caption">
                Params
            </div>
            <div class="Data">
                %Params%
            </div>
        </div>      

        <div class="Line">
            <div class="Caption">
                Statistic
            </div>
            <div class="Data">
                %Statistics%
            </div>
        </div>      
    </div>
    </div>

</div>