<form method="post" enctype="multipart/form-data" id="Form" class="TaskForm">

    <div class="Group">

        <h1>
            Задача #<span id="IDLabel"></span>
            <input name="ID" id="ID" value="" type="hidden"/>
            <input name="IDType" id="IDType" value="" type="hidden"/>
            <input name="IDParent" id="IDParent" value="" type="hidden"/>
        </h1>

        <div class="Line">
            <div class="Caption">
                Задача
            </div>
            <div class="Data">
                <cl content="DescriptEdit.html" Name="Caption" ID="%ID%" Caption="%Caption%" Placeholder=""/>
            </div>
        </div>

        <div class="Line">
            <div class="Caption">
                Тэги
            </div>
            <div class="Data">
                <input name="Tag" id="Tag" placeholder="Поисковые тэги со знаком #tag1 #tag2 #tag3 ..."/>
            </div>
        </div>

        <div class="Inf">
            Для изменения статуса или приоритета стереть текущее значение и выбрать из списка кнопкой "вниз" или двойным кликом.
        </div>
        <div class="Line">
            <div class="Caption">
                Приоритет
            </div>
            <div class="Data">
                <cl content="Select.html" clValue="%IDPriority%" clID="IDPriority" clName="IDPriority" clType="Priority" clPlaceholder="Приоритет (кнопка вниз для выбора)" clDisabled="" clBefore="" clAfter=""/>
            </div>
        </div>

        <div class="Line">
            <div class="Caption">
                Статус
            </div>
            <div class="Data">
                <cl content="Select.html" clValue="%IDStatus%" clID="IDStatus" clName="IDStatus" clType="Status" clPlaceholder="Статус (кнопка вниз для выбора)" clDisabled="" clBefore="" clAfter=""/>
            </div>
        </div>

    </div>

</form>



<form method="post" enctype="multipart/form-data" id="FormMessage">
    <h2>
        Сообщение
    </h2>
    <input type="hidden" name="Caption" id="Caption"/>
    <div class="CustomInput" style="height:10em;">
        <textarea name="Content" id="Message" style="width:100%;height:100%;" placeholder="Текст сообщения"></textarea>
    </div>
</form>


<div class="MessageList" id="MessageList">
</div>
