<div class="Group">
    <div class="Caption">
        Задача
    </div>
    <div class="Contein1">
        <button type="button" class="ImageOk Unselected" id="BtnSave" title="Сохранить изменения">
            Сохранить
        </button>
        <button type="button" class="ImageLoad Unselected" id="BtnRefresh" title="Обновить форму редактора">
            Обновить
        </button>
        <button type="button" class="ImageTrash Unselected" id="BtnDelete" title="Удаление дескрипта">
            Удалить
        </button>
     </div>
</div>
