<div class="Frame">

    <div class="Status" id="BtnStatus" style="background-image:url('?image=%IDImageStatus%&scalex=32&scaley=32&colorize=%ARGBHEXStatus%');" title="Статус">
        %CaptionStatus%
    </div>

    <div class="Unselected TaskEdit" id="BtnEdit" title="Задача">
        <div class="Caption">
            <b>%Caption%</b> (%CaptionPriority%)
            <div>%Tag%</div>
        </div>
        <div class="CaptionType">
            %DTInsert%
        </div>
        <div class="ID">
            %ID%
        </div>
    </div>

</div>
