<cl header="Content-Type: text/css"/>



.Tasks .Record .Frame
{
    padding:1em;
    display:flex;
}



.Tasks .Record .Status
{
    padding-top:5em;
    background-size:4em 4em;
    background-position:center 1em;
    background-repeat: no-repeat;
    font-size:0.5em;
    width:7em;
    text-align:center;
}



.Tasks .Record .Frame .TaskEdit
{
    padding:0.5em;
    flex-grow:1em;
}

.Tasks .Record .Frame
{
}



.Tasks .Record .Frame .ID
{
    font-size:0.5em;
}



.TaskForm
{
    padding:0 2em 0 2em;
}
