<div class="Toolbar">
    <div style="padding:0.2em; box-sizing:border-box; display:inline-block; vertical-align:middle; width:15em; height:100%;">
        <input style="font-size:1.5em; padding:0 0.5em 0 0.5em; box-sizing:border-box; height:100%; width:100%; vertical-align:middle;" name="ID" id="Search" placeholder="поиск"/>
    </div>

    <button type="button" class="ImageLoad Unselected" id="BtnRefresh">
        Обновить
    </button>
    <button type="button" class="ImagePlus Unselected" id="BtnAdd">
        Добавить
    </button>
</div>
