<option value=""></option>
<option value="-12.00">-12:00 International Day Line</option>
<option value="-11.00">-11:00</option>
<option value="-10.00">-10:00</option>
<option value="-09.50">-09:30</option>
<option value="-09.00">-09:00</option>
<option value="-08.00">-08:00</option>
<option value="-07.00">-07:00</option>
<option value="-06.00">-06:00</option>
<option value="-05.00">-05:00</option>
<option value="-04.00">-04:00</option>
<option value="-03.50">-03:30</option>
<option value="-03.00">-03:00</option>
<option value="-02.00">-02:00</option>
<option value="-01.00">-01:00</option>
<option value="+00.00">+00:00 GMT</option>
<option value="+01.00">+01:00</option>
<option value="+02.00">+02:00</option>
<option value="+03.00">+03:00</option>
<option value="+03.50">+03:30</option>
<option value="+04.00">+04:00</option>
<option value="+04.50">+04:30</option>
<option value="+05.00">+05:00</option>
<option value="+05.50">+05:30</option>
<option value="+05.75">+05:75</option>
<option value="+06.00">+06:00</option>
<option value="+06.50">+06:30</option>
<option value="+07.00">+07:00</option>
<option value="+08.00">+08:00</option>
<option value="+08.75">+08:45</option>
<option value="+09.00">+09:00</option>
<option value="+09.50">+09:30</option>
<option value="+09.50">+09:30</option>
<option value="+10.00">+10:00</option>
<option value="+10.50">+10:30</option>
<option value="+11.00">+11:00</option>
<option value="+12.00">+12:00 International Day Line</option>
<option value="+12.75">+12:45</option>
<option value="+13.00">+13:00</option>
<option value="+14.00">+14:00</option>