<form class="DescriptForm" method="post" enctype="multipart/form-data" id="Form">
    <div class="Group">
        <h1>
            Unit
        </h1>

        <cl content="DescriptCaptionEdit.html" pars="true"/>

        <div class="Line">
            <div class="Caption">
                Translation table
            </div>
            <textarea name="TranslationTable" id="TranslationTable">%TranslationTable%</textarea>
        </div>
    </div>

    <cl content="DescriptFormStandartFields.html" pars="true"/>
</form>
