<div class="Group">
    <h2>
        Visit settings
    </h2>
    <div class="Line">
        <div class="Caption">
            Write rule
        </div>
        <select id="Grouping" name="Grouping">
            <option value="Hour">Grouping by hour</option>
            <option value="Day">Grouping by day</option>
            <option value="Month">Grouping by month</option>
            <option value="Continues">Use interval</option>
            <option value="Ungroup">Single</option>
        </select>
        <div class="Caption">
            interval type
        </div>
        <select id="TypeContinuesTimeout" name="TypeContinuesTimeout">
            <option value="TimeoutValue">Value</option>
            <option value="TimeoutInfinity">Infinity</option>
        </select>
        <div class="Caption">
            timeout in seconds
        </div>
        <input name="ContinuesTimeout" id="ContinuesTimeout"/>
    </div>
</div>



