<cl header="Content-Type: text/css"/>
<cl content="css/debug.css"/>
<cl content="css/win.css"/>



*
{
    padding             : 0;
    margin              : 0;
}



input, textarea
{
    outline: none;
}



html
{
    display             : flex;
    min-height          : 100%;
}


p
{
    padding             : 1em;
}



body
{
    display             : flex;
    flex-direction      : column;
    min-width           : 100%;
    min-height          : 100%;
}



.Body
{
    display             : flex;
    flex                : 1 1 100%;
    flex-direction      : column;
}



.Body>.Toolbar
{
    padding             : 1em;
    display             : flex;
    position            : sticky;
    top                 : 0;
    background-color    : white;
    box-shadow          : 0 0.3em 0.5em #00000044;
}



.Toolbar .Space
{
    flex                : 1 1;
    min-width           : 2em;
}



button
{
    background-color    : green;
    border              : 0;
    color               : white;
    padding             : 1em;
    border-radius       : 0.5em;
}



input
{
    padding             : 1em;
    border-radius       : 0.5em;
    border              : 1px solid black;
}



.NewTask
{
    flex                : 1 1;
}



.Record
{
    display             : flex;
    margin              : 1em;
    border-radius       : 0.5em;
    background-color    : #AAFFAA;
    overflow            : hidden;
}



.Record .Field
{
    flex                : 1 1;
    display             : flex;
    flex-direction      : column;
    padding             : 1em;
}



.Record .Field .Info
{
    flex-direction      : row;
    font-size           : 0.8em;
    color               : #000000AA;
}



.Record .Field .Info span
{
    display             : inline-block;
    padding-right       : 0.5em;
}


.Record .Text
{
    flex                : 1 1;
    border              : 0;
    resize              : none;
    padding             : 0em;
    background-color    : #00000000;
}



.Record button
{
    border-radius       : 0;
    min-width           : 7em;
}


.Record .Toolbar
{
    flex                : 0 0 5em;
}



.Top
{
    margin              : 1em;
}



.Bottom
{
    margin              : 1em;
    display             : flex;
}


.Bottom .Space
{
    flex                : 1 1;
    min-height          : 1em;
}




.Edit
{
    background-color    : #FFAAAA!important;
}



.Bottom a
{
    padding-right       : 1em;
}



.Log
{
    box-shadow          : 0 0 1em #00000044;
    font-size           : 1.0em;
}



.LogLine
{
    background-color    : white;
    border-left         : 4px black solid;
}



.Record .Status
{
    flex                : 0 0 4em;
    background-position : center 1em;
    background-repeat   : no-repeat;
    background-size     : 2em;
}



.Record .Done
{
    background-image    : url( "?image=icons/Ok.png&scalex=64" )
}



.Record .Wait
{
    background-image    : url( "?image=icons/Clock.png&scalex=64" )
}



.Record .New
{
    background-image    : url( "?image=icons/Star.png&scalex=64" )
}






@media (min-width:0px) and (max-width:640px)
{
    .Toolbar
    {
        flex-direction  : column-reverse;
    }

    .Toolbar .Space
    {
        min-height      : 1em;
    }

    .Bottom
    {
        flex-direction  : column;
    }

    .Record
    {
        flex-direction  : column;
    }
}
