<h1>
    Pusa file sharing demo
</h1>

<form>
    <label for="Files" class="FilesButton">
        Select files for upload
        <input type="file" class="Files" id="Files" multiple="multiple" style="display:none;">
    </label>
</file>

<div class="Download">
    <button type="button" class="CopyLink">
        Copy download link
    </button>
    <a class="DownloadLink">
        <button type="button" class="OpenLink">
            Open download link
        </button>
    </a>
</div>

<div class="FileList">
</div>

<div class="Bottom">
    <a href="https://pusa.dev" target="_blank">pusa</a>
    <a href="https://hub.docker.com/r/catlairnet/pusa_file_sharing" target="_blank">docker</a>
    <a href="https://gitlab.com/catlair/pusa/-/tree/main/site/file" target="_blank">git</a>
    <a href="https://t.me/pusa_catlair_net" target="_blank">telegram</a>
</div>
