/*
    Tags styles
*/
a,
.Man
{
    cursor              : pointer;
    text-decoration     : underline;
    color               : #006907;
}


.Anchor
{
    position:relative;
    top:-3em;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}



h1
{
    color               : black;
    font-size           : 2em;
}



h2
{
    font-size           : 1.5em;
}



html
{
}



/*
    Header
*/
.Header
{
    padding             : 1em 1em 0 1em;
    display             : flex;
    flex-direction      : row;
}



.Header .Logo
{
    height              : 4em;
    background-image    : url( PusaLogo.png?&scalex=64 );
    background-size     : contain;
    background-position : left center;
    background-repeat   : no-repeat;
    flex                : 0 0 15em;
    padding-left        : 5em;
}



.Header .Name
{
    padding-top         : 0.5em;
    flex                : 1 0 10em;
    font-size           : 1.3em;
}



.Header .Slogan
{
    min-width           : 4em;
    font-size           : 0.82em;
}



.Menu
{
    display             : flex;
    flex-wrap           : wrap;
    justify-content     : center;
    align-items         : end;
    position            : sticky;
    top                 : 0;
    background-color    : #ffffffee;
    padding             : 0.5em;
    box-shadow          : 0 0.3em 0.2em #00000022;
}



.Menu .Space
{
    min-width           : 3em;
    flex                : 1 1;
}



.Menu .Item
{
    padding             : 0.3em 1.0em 0.3em 1.0em;
    border-radius       : 0.2em;
}



.Menu .Active
{
    cursor              : pointer;
    color               : white;
    background-color    : black;
}



.Menu .Item
{
    border-bottom       : 1px solid #00000000;
}



.Menu .Item:hover
{
    cursor              : pointer;
    border-bottom       : 1px solid #006907;
}



.Bottom
{
    display             : flex;
}



.Bottom *
{
    padding             : 1em;
}



.Bottom .Space,
.Header .Space
{
    flex                : 1 1;
}



.Header .Baner
{
    padding             : 1em;
    min-height          : 2em;
    width               : 4em;
    background-position : center;
    background-repeat   : no-repeat;
    background-size     : auto 1.5em;
}



/*
    Frame
*/


select,
textarea,
input
{
    border-radius       : 0.2em;
    padding             : 0.3em;
    border              : 1px solid gray;
    background-color    : silver;
    box-sizing          : border-box;
}


textarea
{
    width               : 100%;
}




button
{
    border-radius       : 0.2em;
    padding             : 0.2em 1.0em 0.2em 1.0em;
    border              : 0em solid;
    background-color    : black;
    color               : white;
}



button:disabled
{
    background-color    : grey;
    border              : 0 solid;
    color               : silver;
}



.Frame
{
    max-width           : 50em;
    margin              : 1em;
    flex                : 1 1 0;
    display             : flex;
    justify-content     : center;
    flex-direction      : column;
    padding             : 0 3em 1em 3em;
}



.Frame .Image
{
    width               : 100%;
    min-height          : 80vh;
    background-size     : contain;
    background-position : center;
    background-repeat   : no-repeat;
    -webkit-print-color-adjust  : exact;
    -moz-print-color-adjust     : exact;
    -ms-print-color-adjust      : exact;
    print-color-adjust          : exact;
}



.Frame .Links
{
    display             : flex;
    flex-wrap           : wrap;
    justify-content     : space-between;
}



.Frame .Links a
{
}


/*
    The code sections
*/

.Code
{
    display             : flex;
    overflow-x          : auto;
}

.Code .Numbers
{
    font-family         : monospace;
    text-align          : right;
    margin-right        : 1em;
    opacity             : 0.5;
    min-width           : 3em;
}

.Code .Lines
{
    font-family         : monospace;
    white-space         : pre;
}

.Code .Lines .Comment
{
    opacity             : 0.5;
}

.Abstract, .HTML, .PHP, .JS
{
    padding             : 0.5em;
    margin-bottom       : 0.5em;
    margin-top          : 0.5em;
    border-radius       : 0.3em;
}


.Abstract
{
    background-color    : #001133;
    color               : #FFFFFF;
}

.HTML
{
    background-color    : #c65a00;
    color               : #FFFFFF;
}

.PHP
{
    background-color    : #006907;
    color               : #FFFFFF;
}

.JS
{
    background-color    : #7C0033;
    color               : #FFFFFF;
}

.PHP:before
{
    content             : "php";
}

.HTML:before
{
    content             : "html";
}

.JS:before
{
    content             : "JS";
}




/*
*/

.Log
{
    background-color    : white;
    box-shadow          : 0em 0em 1em #00000055;
}



.LogLine
{
    font-size           : 1.3em;
}


.Language
{
    display             : flex;
}


.Mermaid
{
    width               : fit-content;
}



@media (min-width:0px) and (max-width:640px)
{
    .Header
    {
        flex-direction      : column;
    }



   .Header .Logo
    {
        flex                : 0 0 4em;
    }



    .Header .Framework
    {
        display             : none;
    }



    .Frame
    {
        padding             : 0 0 0 0;
    }



    .Frame .Links
    {
        flex-direction      : column;
    }



    .Frame .Links a
    {
        padding             : 0.5em 0 0.5em 0;
    }



    .HTML .Line:nth-child(odd),
    .PHP .Line:nth-child(odd)
    {
        background-color    : #ffffff11;
    }


    .Bottom
    {
        display             : flex;
        flex-direction      : column;
        padding-bottom      : 1em;
        font-size           : 0.8em;
    }

    .Bottom *
    {
        padding             : 0 1em 1em 1em;
    }


    .Menu
    {
        flex-direction      : column;
        position            : static;
        align-items         : stretch;
    }


    .Top
    {
    }


    .Toolbar
    {
        flex-direction      : column;
    }


    .Form .Line
    {
        flex-direction      : column;
    }


    .Form .Line .Left
    {
        flex                : 0 0 auto;
    }
}



