/*
    Examples
*/

.Examples .Item
{
    padding-bottom      : 2em;
}



.Examples .Links
{
    display             : flex;
    flex-wrap           : wrap;
}


.Examples .Links .Local,
.Examples .Links .External
{
    display             : flex;
    flex-direction      : column;
}



.Examples .Container
{
    margin-top          : 1em;
    min-height          : 10em;
    max-height          : 20em;
    border-radius       : 0.5em;
    border              : 1px solid silver;
    display             : flex;
    min-width           : 100%;
    padding             : 0.5em;
}



.Examples .List
{
    overflow-y              : scroll;
    margin                  : 0.2em;
    flex                    : 1 1 100%;
}



.Examples .CRUDContainer
{
    overflow                : hidden;
}



.Examples .CRUDContainer .List
{
    display                 : flex;
    flex-direction          : row;
    flex-wrap               : wrap;
}



.Examples .CRUDContainer .Record
{
    display                 : flex;
    flex-direction          : column;
    padding                 : 0.5em;
    margin                  : 0.5em;
    border-radius           : 0.2em;
    box-shadow              : 0 0 0.3em #000000AA;
}



.Examples .CRUDContainer .Record .Toolbar
{
    display                 : flex;
    justify-content         : space-between;
}



.Examples .Toolbar
{
     display                : flex;
}



.Examples .Toolbar .Space
{
     flex: 1 1;
}


.Examples .Toolbar button
{
    margin:0.1em;
}



.GUIDs
{
    margin-top              : 1em;
    height                  : 10em;
    border-radius           : 0.5em;
    border                  : 1px solid silver;
    display                 : flex;
}


.GUIDs .Record
{
    padding                 : 0.5em;
    font-family             : mono;
}



.Form
{
    border-radius           : 0.5em;
    border                  : 1px solid silver;
    display                 : flex;
    flex-direction          : column;
    padding                 : 1em;
}



.Line
{
    display                 : flex;
    margin-bottom           : 0.3em;
}



.Line .Left
{
    flex                    : 0 0 10em;
}



.Line .Top
{
    display                 : inline;
}



.FormData
{
    padding-bottom          : 1em;
}
