.Page
{
    padding: 1em;
    flex-grow:1;
    flex-shrink:1;
}



.Top
{
    padding:1em;
    background-color:black;
    color:white;
    display:flex;
}



.Top .Space
{
    flex-grow:2;
    flex-shrink:2;
}



.Top a
{
    padding:0 1em 0 1em;
    color:orange;
}



.Bottom
{
    font-size:0.8em;
    padding:1em;
    display:flex;
    flex-wrap:wrap;
}



.Bottom .Space
{
    flex: 1 1;
}



.Bottom a
{
    padding:0 1em 0 1em;
}



.CustomInput
{
    width               : 100%;
    vertical-align      : middle;
    padding             : 0.3em 0.5em 0.3em 0.5em;
    border-radius       : 0.2em;
    background-color    : silver;
    color               : black;
    box-sizing          : border-box;
    border              : 1px solid gray;
}



input, textarea, select, button
{
    vertical-align:middle;
    padding             : 0.2em 1.0em 0.2em 1.0em;
    border-radius       : 0.2em;
    border              : 0;
    background-color    : silver;
    color               : black;
    outline             : none;
    box-sizing          : border-box;
    border              : 1px solid gray;
}



.CustomInput input, .CustomInput textarea, .CustomInput select, .CustomInput button
{
    border-radius: 0;
    background-color: #00000000;
    margin:0;
    padding:0;
    border:none;
}



.CustomInput .Gliph
{
    display:inline-block;
    width:1em;
}



.MenuPopup
{
    background-color:#FFFFFF;
    color: black;
    box-shadow:0em 0em 1em rgba(0,0,0,0.3);
}



code
{
    background-color: #FFFFC0;
}



.Warning
{
    padding: 0.5em 3.5em 0.5em 3.5em;
    background-image:url(?&image=icons/Warning.png&scalex=64&scaley=64);
    background-size: 2.5em 2.5em;
    background-position: 0.5em 0.5em;
    background-repeat: no-repeat;
    min-height:2.5em;
}



.Inf
{
    padding: 0.5em 3.5em 0.5em 3.5em;
    background-color: #C0C0FF;
    background-image:url(?&image=Image/Info.png&scalex=64&scaley=64);
    background-size: 2.5em 2.5em;
    background-position: 0.5em 0.5em;
    background-repeat: no-repeat;
}



.Message
{
 padding-bottom:0.5em;
}



.Message .Body
{
 white-space:pre-line;
}



.CaptionTop
{
    font-size:0.5em;
}



.Unselected
{
    text-decoration: none;
    cursor:pointer;
    border-radius: 0.3em;
}



.Unselected:hover
{
    background-color:orange;
}



.UserBody
{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:stretch;
    min-height:100%;
}
