.Log
{
    z-index             : 10;
    overflow            : auto;
    position            : fixed;
    right               : 1em;
    top                 : 1em;
    max-width           : 70%;
    max-height          : 80%;
    font-size           : 0.8em;
}



.LogLine
{
    background-position : 1em center;
    background-repeat   : no-repeat;
    background-size     : 2em 2em;
    padding             : 0.5em 1em 0.5em 3.5em;
    min-height          : 2em;
    align-items         : center;
}



.LogTime
{
    font-size           : 0.5em;
}



.LogMessage
{
}



.LogErr
{
    background-image    : url(?&image=icons/Error.png&scalex=64);
}



.LogInf
{
    background-image    : url(?&image=icons/Info.png&scalex=64&colorize=0000FFFF);
}



.LogWar
{
    background-image    : url(?&image=icons/Warning.png&scalex=64&colorize=FF7C00FF);
}



.LogDeb
{
    background-image    : url(?&image=icons/Debug.png&scalex=64);
}



.PostIndicator
{
    font-size           : 12px;
    text-align          : center;
    padding             : 32px;
    z-index             : 9999;
    position            : fixed;
    top                 : 50%;
    left                : 50%;
    width               : 1em;
    height              : 1em;
    background-image    : url('?image=icons/Loader.png');
    background-position : center center;
    background-repeat   : no-repeat;
    margin-left         : -32px;
    margin-top          :-32px;
    -webkit-transition  : opacity 0.2s ease-in-out;
    -moz-transition     : opacity 0.2s ease-in-out;
    transition          : opacity 0.2s ease-in-out;
}



.Log .Value
{
    font-weight: bolder;
}
