/*
    Default styles
*/



*
{
    font-size       : inherit;
    margin          : 0;
    padding         : 0;
}



p
{
    padding-bottom  : 0.5em;
    padding-top  : 0.5em;
    text-align      : justify;
}



ul
{
    padding         : 0 0 0.5em 1em;
}



ol
{
    padding         : 0 0 1em 1em;
}



ul li,
ol li
{
    padding-left    : 0.5em;
    text-align      : justify;
    padding-bottom  : 0.5em;
}



code
{
    display         : block;
    white-space     : pre-wrap;
}



h1,h2,h3,h4,h5,h6
{
    padding-bottom     : 0.1em;
    padding-top        : 0.5em;
    color              : #7c7c7c;
    font-weight        : 300;
    line-height        : 1.1;
}



h1 {font-size:1.6em;}
h2 {font-size:1.3em;}
h3 {font-size:1.2em;}
h4 {font-size:1.1em;}
h5 {font-size:1.0em;}
h6 {font-size:0.9em;}



var
{
    font-weight         : bolder;
}



html
{
    display             : flex;
    flex-direction      : column;
    min-height          : 100%;
    min-width           : 100%;
    font-size           : 1.0em;
    font-family         : Ubuntu, Arial, 'libra sans', sans-serif;
    background-color    : white;
    justify-content     : center;
    align-items         : center;
}



body
{
    display             : flex;
    flex-direction      : column;
    min-height          : 100%;
    min-width           : 100%;
    flex                : 1 1;
    justify-content     : center;
}



a
{
    word-wrap           : break-word;
    display             : inline-block;
}


.Gliph
{
    background-size:1em;
    background-repeat:no-repeat;
    background-position:0em center;
    vertical-align:middle;
    min-height:1em;
    padding-left:1.5em;
}



.GliphInput
{
    padding-left:2em;
    background-size:1em;
    background-repeat:no-repeat;
    background-position:0.5em center;
}



.Gliph:empty
{
    width:1em;
    display:inline-block;
}



@media (max-width:1024px)
{
    p
    {
        padding-bottom  : 0.5em;
        text-align      : left;
    }



    ul li,
    ol li
    {
        text-align      : left;
    }
}



/******************************************************************************
    Interface
*/

.UserSelectNone
{
    -webkit-user-select     : none; /* Chrome all  Safari all */
    -moz-user-select        : none; /* Firefox all */
    -ms-user-select         : none; /* IE 10+ */
    user-select             : none; /* Likely future */
}



/*
    Mistake
*/
.TextError
{
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-style: wave;
}



/*
    Correct
*/
.TextCorrect
{
  text-decoration: underline;
  text-decoration-color: green;
  text-decoration-style: solid;
}
