/*
    Form elements
*/

.Group .Line
{
    display                 : flex;
}



.Group .Line .Caption
{
    flex-grow               : 0;
    flex-shrink             : 0;
    padding-right           : 0.5em;
    text-align              : right;
    opacity                 : 0.5;
    white-space             : nowrap;
    font-size               : 0.7em;
}



.Group .Line .Caption:after
{
    content: ":";
}



.Group .Line .Data
{
    flex:1 1;
    display:flex;
    justify-content:space-between;
    align-items:center;
}



.Group .Line .Data input[type=checkbox]
{
    flex-shrink:0;
    flex-grow:0;
    width:1em;
}



.Group .Line .Data input, .Group .Line .Data .CustomInput
{
    flex-grow:2;
    flex-shrink:2;
    width:auto;
}



.Group .Line .Data .Caption
{
    margin-left:1px;
    margin-right:1px;
    flex-grow:1;
    flex-shrink:1;
    opacity:0.5;
    width:auto;
}



@media (max-width:1024px)
{
    .Group .Line
    {
        flex-direction:column;
        margin-bottom:1em;
    }

    .Group .Line .Caption
    {
        text-align:left;
        width:100%;
    }

    .Group .Line .Caption:after
    {
        content:none;
    }
}
