/*
    CSS for popup select element
*/

.SelectInput
{
    width               : 100%;
    display             : inline-flex;
}



/* Caption element */
.SelectCaption
{
    flex-grow           : 1;
    flex-shrink         : 1;
    width               : 0;
}



/* Select button */
.SelectButton
{
    flex-grow           : 0;
    flex-shrink         : 0;
    background-repeat   : no-repeat;
    background-size     : 0.8em 0.8em;
    background-position : center;
    border              : none;
    outline             : none;
    min-width           : auto;
    min-height          : auto;
    font-size           : inherit;
    padding             : 0;
    min-width           : 1.5em;
}



/* Container for records */
.SelectList
{
    max-height          : 10em;
    overflow-y          : auto;
    border-top          : 1px solid #0000007c;
    border-bottom       : 1px solid #0000007c;
    display             : flex;
    flex-wrap           : wrap;
    font-size           : 0.8em;
}



.SelectList .Record
{
    padding             : 0.5em 1em 0.5em 1em;
}



.SelectList button
{
    text-align          : left;
}



.Select .CancelButton
{
    background-repeat   : no-repeat;
    background-size     : 0.8em 0.8em;
    background-position : 0.3em center;
    border              : none;
    outline             : none;
    min-width           : auto;
    min-height          : auto;
    font-size           : inherit;
    padding             : 0.5em;
    padding-left        : 1.5em;
}



.Select .SelectBar
{
    display             : flex;
    justify-content     : end;
    align-items         : center;
}



.Select .SelectBar .Space
{
    flex                : 1 1;
}


.Select .SelectBar .CountRecord
{
    padding             : 0.5em;
}
