/*
    CSS for pusa.catlair.net
*/


.WindowBack
{
   position             : fixed;
   display              : flex;
   justify-content      : center;
   align-items          : center;
   top                  : 0;
   left                 : 0;
   right                : 0;
   bottom               : 0;
   background-color     : #0000007C;
}



.WindowDock
{
    position            : fixed;
    display             : flex;
    z-index             : 1;
    padding             : 1em;
    right               : 1em;
    bottom              : 1em;
}



.WindowDock .WindowAnchor
{
    padding-left        : 0.5em;
    padding-right       : 0.5em;
}



.MenuPopup
{
    box-shadow          : 0 0 1em #0000007c;
    border-radius       : 0.2em;
    padding             : 1em;
    background-color    : white;
}



.WindowForm
{
    position            : absolute;
    background-color    : white;
    min-width           : 20em;
    min-height          : 10em;
}



.WindowConfirm
{
    margin              : 0.5em;
    padding             : 0.5em;
}



.WindowConfirm .WindowAction
{
    margin              : 0.5em 0.5em 0.5em 0.5em;
}



.WindowDialog
{
    position            : absolute;
    background-color    : white;
    min-width           : 20em;
    min-height          : 10em;
    padding             : 0;
    display             : flex;
    flex-direction      : column;
    overflow            : hidden;
}



.WindowTitle
{
    padding             : 0.1em 0.1em 0.1em 1em;
    background-color    : #EEEEEE;
    align-items         : center;
}



.WindowTitle .WindowBtn
{
    margin              : 0.1em;
    border              : 0;
    width               : 1em;
    height              : 1em;
    background-position : center;
    background-size     : 60%;
    background-repeat   : no-repeat;
}



.WindowTitle .WindowBtnClose
{
    background-image    : url('?image=Cancel.png&scalex=64&scaley=64&colorize=000000FF');
}



.WindowTitle .WindowBtnMinimize
{
    background-image    : url('?image=Minus.png&scalex=64&scaley=64&colorize=000000FF');
}



.WindowTitle .WindowBtnMaximize
{
    background-image    : url('?image=Plus.png&scalex=64&scaley=64&colorize=000000FF');
}



.WindowTitle
{
    display             : flex;
}



.WindowTitle .WindowLabel
{
    flex                : 1 1 0;
}



.WindowDialogItem
{
}



.WindowActions
{
    display             : flex;
    justify-content     : center;
}



.WindowActions button
{
    margin              : 0.5em 0.2em 0.5em 0.2em;
}



.WindowDialog .WindowClient
{
    display             : flex;
    justify-content     : center;
    align-items         : start;
    flex                : 1 1 0;
    max-width           : 80vh;
    padding             : 1em;
    flex-direction      : column;
}



@media (max-width:1024px)
{
    .WindowDialog
    {
        justify-content     : center;
        display             : flex;
        min-width           : 100vw;
        min-height          : 100vh;
    }

    .WindowDialog .WindowClient
    {
        flex                : initial;
    }
}
