<input name="ALogin" placeholder="Login" style="max-width:5em;">
<input type="password" name="APassword" placeholder="Password" style="max-width:5em;">

<button type="button" class="BtnLogin">
    Login
</button>
