<div class="Top">
    <h1>
        Pusa Todo demo
    </h1>
</div>

<p>
    This site is developed on <a href="https://pusa.catlair.net" target="_blank">Pusa Web without JS</a>.

    It does not use JS and TSQL but follows 
    <a href="https://en.wikipedia.org/wiki/Representational_state_transfer" target="_blank">REST</a>, 
    <a href="https://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller" target="_blank">MVC</a> and 
    <a href="https://en.wikipedia.org/wiki/Create,_read,_update_and_delete" target="_blank">CRUD</a> on 

    <select id="Datasource" title="Datasource">
        <option value="mysql">MySQL</>
        <option value="postgres">PostgreSQL</>
    </select>
    patterns with PHP only.

    You can take a copy of this site from <a href="https://hub.docker.com/r/catlairnet/pusa_todo_demo" target="_blank">docker</a>
    or look at the sources on <a href="https://gitlab.com/catlair/pusa/-/tree/main/site/todo" target="_blank">gitlab</a>. 
    You can see the <a href="https://gitlab.com/catlair/pusa/-/blob/main/site/pusa/src/language_en/man/datasource.md">datasource scheme</a> on gitlab too.
</p>

<p>
    We are changing the MVC routes for this example. This was done for demonstration purposes. 
    In real life cases, you can implement pure MVC. 
</p>

<p>
    To add new records, you can enter username and password. Each new login will be registered.
</p>

<div class="Body">
    <cl content="Body.html"/>
</div>

<div class="Bottom">
    <a href="https://pusa.dev" target="_blank">Developed on Pusa at 2022</a>
    <a href="https://t.me/pusa_catlair_net" target="_blank">Telegram</a>
    <div class="Space">
    </div>
    <a href="https://engram.catlair.net" target="_blank">English grammar</a>
    <a href="https://file.catlair.net" target="_blank">File sharing</a>
</div>
