<form class="Record">
    <div class="Status New">
    </div>
    <div class="Field">
        <div class="Info">
            New task
        </div>
        <textarea class="Text NewBody" name="Body" placeholder="Input a description of the new task"></textarea>
    </div>
    <button type="button" class="Add">
        Add
    </button>
</form>
