<style>
.Options .Body
{
    padding     : 1em 0 1em 0;
    white-space : pre-wrap;
}
</style>

<div class="Options">
    <h2>
        Options
    </h2>
    <div class="Body">
    </div>
    <div class="Toolbar">
        <button type="button" class="Done">
            Done
        </button>
        <button type="button" class="Wait">
            Wait
        </button>
        <button type="button" class="Delete">
            Delete
        </button>
        <button type="button" class="Copy">
            Copy
        </button>
    </div>
</div>
