<div class="Status">
</div>

<div class="Field">
    <div class="Info">
        <span class="DTInsert" title="MomentInsert">
        </span> 
        <span>
            by 
        </span>
        <span class="CaptionUser">
        </span>
    </div>

    <textarea class="Text" placeholder="You can input a new description for this task"></textarea>
</div>

<button type="button" class="Options">
    Options
</button>
