<img class="Icon" width="100" height="100">
<div class="Toolbar">
    <button type="button" class="CRUDBefore">
        +
    </button>
    <button type="button" class="CRUDDelete">
        -
    </button>
    <button type="button" class="CRUDAfter">
        +
    </button>
</div>

