<div>
    <cl content="HelloWorldBtn.html"/>
    <cl content="HelloWorldBtn.html" convert="code" type="HTML"/>
    <cl content="HelloWorldPHP.html" convert="code" type="PHP"/>
    <cl content="HelloWorldJS.html" convert="code" type="JS"/>
</div>
