<div>
    <h1>
        Концепция Pusa - WEB без JS Front
    </h1>

    <p>
        Концепция Pusa переносит разработку на Back-end, исключая работы JS для Front-end. 
        Управление браузером и DOM элементами, бизнеслогика выполняются на Back-end. 
        Разработка JS для Front отсутствует. PUSA может быть реализована на любом Back-End
        <a href="https://gitlab.com/catlair/pusa/-/blob/main/site/pusa/src/language_default/man/pusa_php.md" target="_blank">
            PHP
        </a>, JS, Java, Go, Ruby, etc.
    </p>

    <h2>
        Достоинства
    </h2>

    <ul>
        <li>
            Исключается необходимость участия JS разработчиков для Front-end.
        </li>
        <li>
            Клиентское приложение в браузере компактно (6кб) и стабильно.
        </li>
        <li>
            Код остается на стороне Back и не доступен со стороны Front.
        </li>
        <li>
            Полностью разрешаются вопросы серилаизации REST, отпадает необходимость средств типа gRPC и тд.
        </li>
        <li>
            Исключены проблемы согласования маршрутизации Back-End и Front-end.
        </li>
        <li>
            Поддерживается чистый REST, в том числе выполняется условие отсутсвия состояния клиента на стороне сервера.
        </li>
    </ul>

    <h2>
        Технология
    </h2>

    <p>
        Pusа определяет протокол обмена на базе минималистичного 
        <a href="https://gitlab.com/catlair/pusa/-/blob/main/site/pusa/src/language_ru/man/pusa_protocol.md" target="_blank">
            набора команд
        </a>.
    </p>

    <ul>
        <li>
            При загрузке страницы браузер загружает базовый 
            <a href="https://gitlab.com/catlair/pusa/-/blob/main/site/site_default/src/language_default/index.html" target="_blank">
                DOM content
            </a>
            и JS ядро
            <a href="https://gitlab.com/catlair/pusa/-/blob/main/site/site_default/src/language_default/index.js" target="_blank">
                Pusa-Front
            </a>
        </li>
        <li>
            Pusa-Front направляет события браузера (как то click, blur, focus, keypress),
            элемент вызвавший событие, его атрибуты, URL текущей страницы, 
            а так же GET и POST параметры на Pusa-Back посредством Ajax запроса.
        </li>
        <li>
            На основании полученных данных Pusa-Back определяет контроллер, 
            выполняет полезную нагрузку и формирует ответный набор команд.
        </li>
        <li>
            Получив ответ запроса Pusa-Front выполняет команды, изменяя контент DOM и окружение браузера.
        </li>
    </ul>

    <div class="Image" style="background-image:url(images/pusa_exchange.png?scalex=1024);">
    </div>

    <p>
        Back направляет команды в ответе и не имеет возможности проверить их выполнение. 
        Состояние Front формируется но не контролируется Back. 
        Разработка для Pusa сходна с кодом для видеокарты или Canvas,
        где результат исполнения не контролируется разработчиком.
    </p>

    <h2>
        Основа работы с DOM
    </h2>
    
    <p>
        Pusa-Front на основании команд Pusa-Back формирует список фокусных DOM элементов. 
        Все действия с DOM включая изменение контента, создание удаление элементов, 
        модификация стилей производятся только над фокусными элементами. Их перечень 
        может быть изменен командой с Pusa-back. Таким образом на backend переносится
        все управление DOM.
    </p>

    <div class="Image" style="background-image:url(images/dom_scheme.png?scalex=1024);">
    </div>

    <h2>
        По шагам
    </h2>

    <ol>
        <li>
            Фокус перемещается на body документа;
        </li>
        <li>
            Выбираются дочерние элементы c className B;
        </li>
        <li>
            Выполняется полезная нагрузка для фокусных элементов;
        </li>
        <li>
            Выбирается родитель текущих фокусных элементов;
        </li>
        <li>
            Фокус перемещается на элемент С;
        </li>
        <li>
            Выполняется полезная нагрузка для элемента С.
        </li>
    </ol>

    <h2>
        Ограничения и особенности
    </h2>

    <p>
        Следующие ситуации потребуют наличие дополнительных JS скриптов на клиенте:
    </p>

    <ul>
        <li>
            Интерактивные приложения на базе Canvas и оnmousemove.
        </li>
        <li>
            Необходимость использования сторонних JS скриптов.
        </li>
    </ul>

    <p>
        Возможность загрузки и использования дополнительных скриптов предусмотрена.
    </p>

    <p>
        Pusa переносит часть нагрузки с Front-end на Back-End и увеличивает частоту обмена с сервером.
    </p>        

    <h2>
        Резюме
    </h2>
    
    <p>
        Pusa не делает акцент на конкретной реализации, но предлагает изменение парадигмы вебразработки.
        Фрэймворк PHP, реализован для демонстрации работоспособности схемы.
        <a href="https://gitlab.com/catlair/pusa/-/blob/main/site/pusa/src/language_default/man/pusa_php_methods.md" target="_blank">
            Ознакомьтесь с перечнем команд Pusa
        </a>.
    </p>
    
</div>
