<div>
    <h1>
        Pusa в контейнере
    </h1>

    <a href="https://hub.docker.com/r/catlairnet/pusa_ubutu_nginx_php_ssh" target="_blank">
        <button type="button">Запуск через Docker</button>
    </a>

     <h2>
        Состав контейнера
    </h2>
    <ul>
        <li>
            ubuntu
        </li>
        <li>
            nginx
        </li>
        <li>
            php
        </li>
        <li>
            ssh
        </li>
        <li>
            pusa
        </li>
    </ul>

    <div class="Image" style="background-image:url(images/pusa_ubuntu_nginx_php_ssh.png?&scalex=1024);">
    </div>
  
    <h2>
        Описание
    </h2>

    <p>
        Контейнер Pusa запускает приложение <a href="https://gitlab.com/catlair/pusa/-/blob/main/site/pusa/php/keeper/keeper.php">keeper.php</a>.
        Тот в свою очередть стартует nginx, php, ssh и остается в пустом цикле, поддерживая работоспособность контейнера.
        Nginx и PHP и SSH уже сконфигурированы.
    </p>

    <p>
        Запуск описан по ссылке <a href="https://hub.docker.com/r/catlairnet/pusa_ubutu_nginx_php_ssh" target="_blank">Link</a>.         
    </p>

</div>
