<div id="ExamplePerson">
    <button 
        type="button" 
        data-event="click.Person.Click" 
        data-person="Иван Кузнец" 
        data-age="33"
    >
        Заполнить
    </button>
    <div>
        Персона:
        <span id="Person">
        </span>
    </div>
    <div>
        Возраст:
        <span id="Age">
        </span>
    </div>
</div>
