/*
    Простая форма входа пользователя для примеров Pusa
*/
<input name="login" placeholder="логин">
<input type="password" name="password" placeholder="пароль">
<button type="button" class="Login">
    вход
</button>
