/*
    Простая форма выхода пользователя для примеров Pusa
*/
<label name="login" placeholder="login">Логин</>
<span class="LoginText"></span>
<button type="button" class="Logout">
    выход
</button>
