<style>
    <cl content="css/Examples.css"/>
</style>

<div class="Examples">
    <h1>
        Примеры
    </h1>

    <div class="Links">
        <div class="Local">
            <h2>
                Список
            </h2>     
            <a href="#SetContent">Установка контента</a>
            <a href="#SetURLWithoutReloading">URL без перезагрузки</a>
            <a href="#PostRequestAndAuthorization">Post запрос и авторизация</a>
            <a href="#UploadOnScroll">Подгрузка при прокрутке</a>
            <a href="#CRUDForm">Форма CRUD</a>
            <a href="#Timer">Событие по таймеру</a>
            <a href="#ReadDataParameter">Чтение параметров data</a>
            <a href="#Timer">Таймер</a>
            <a href="#Clipboard">Буффер обмена</a>
            <a href="FormExample">Форма</a>
        </div>

        <div class="Local">
            <h2>
                Демонстрации
            </h2>
            <a href="https://file.pusa.dev" target="_blank">Файлообменник</a>
            <a href="https://engram.catlair.net" target="_blank">Английская граматика</a>
            <a href="https://todo.catlair.net" target="_blank">Демо список задач</a>
        </div>
        
        <div class="External">
            <h2>
                Ссылки
            </h2>     
            <a href="https://gitlab.com/catlair/pusa/-/blob/main/site/pusa/src/language_default/man/pusa_php_methods.md#GetAttributes" target="_blank">
                Методы
            </a>
            <a href="https://gitlab.com/catlair/pusa/-/blob/main/php/core/pusa_core.php" target="_blank">
                Ядро Pusa
            </a>
            <a href="https://gitlab.com/catlair/pusa/-/blob/main/site/pusa/php/pusa/Main.php" target="_blank">
                Контроллер Main
            </a>
            <a href="https://gitlab.com/catlair/pusa/-/blob/main/site/pusa/php/pusa/Test.php" target="_blank">
                Контроллер Test
            </a>
            <a href="https://gitlab.com/catlair/pusa/-/blob/main/site/pusa/php/pusa/auth.php" target="_blank">
                Auth trait
            </a>
        </div>

    </div>

    <div class="Item">
        <a class="Anchor" name="SetContent"></a>
        <h2>
            Установка контента
        </h2>
        <p>
            Демонстрация установки контента для произвольного элемента на странице. Cобытиe onclick для кнопки устанавливается в PHP контроллером Main метод Examples.
        </p>
        <div class="Toolbar">
            <cl content="ExampleGUIDBtn.html"/>
        </div>
        <div class="HTML">
            <cl content="ExampleGUIDBtn.html" convert="code"/>
        </div>
        <div  class="PHP">
            <cl content="ExampleGUIDPHP.html" convert="code"/>
        </div>
    </div>

    <div class="Item">
        <a class="Anchor" name="SetURLWithoutReloading"></a>
        <h2>
            URL без перезагрузки
        </h2>
        <p>
            Пример изменяет URL у текущей страницы без ее перезагрузки. HTML код устанавливает событие onclick через HTML атрибут data-event.
        </p>
        <cl content="ExampleURLBtn.html"/>
        <div class="HTML">
            <cl content="ExampleURLBtn.html" convert="code"/>
        </div>
        <div class="PHP">
            <cl content="ExampleURLPHP.html" convert="code"/>
        </div>
    </div>

    <div class="Item">
        <a class="Anchor" name="PostRequestAndAuthorization"></a>           
        <h2>
            Post запрос и авторизация
        </h2>
        <p>
            На примере авторизации демонстрируется работа с post запросами через форму.
            Пароль содержит введенный вами логин плюс один смвол "*". Это может быть найдено в
            <a href="https://gitlab.com/catlair/pusa/-/blob/main/site/pusa/php/pusa/auth.php" target="_blank">
                PHP исходнике
            </a>.
        </p>

        <cl content="ExampleAuthForm.html"/>
    </div>

    <div class="Item">
        <a class="Anchor" name="UploadOnScroll"></a>
        <h2>
            Загрузка при прокрутке
        </h2>
        <p>
            Демонстрация динамической загрузки списков. Скролирование вниз загружает очередную порцию GUID.
        </p>
        <a href="https://gitlab.com/catlair/pusa/-/blob/main/site/pusa/php/pusa/guids.php" target="_blank">
            PHP код на Git
        </a>

        <cl content="ExampleGUIDList.html"/>
    </div>          


    <div class="Item">
        <a class="Anchor" name="CRUDForm"></a>
        <h2>
            Форма CRUD
        </h2>
        <p>
            Форма демонстрирует форму для CRUD. Представлено исключительно визуальное офромление.
            <a href="https://gitlab.com/catlair/pusa/-/blob/main/site/pusa/php/pusa/CRUD.php" target="_blanks">
                PHP on Git
            </a>.
            Полная демонстрация CRUD для PostgreSQL и MySQL размещена на
            <a href="https://todo.catlair.net" target="_blank"> 
                демонстрационном сайте TODO
            </a>.
        </p>
        <div class="Space">
        </div>
        <div class="Toolbar">
            <button type="button" class="CRUDAddFirst" title="Добавить первый элемент">
                Первый
            </button>
            <button type="button" class="CRUDAddLast" title="Добавить последний элемент">
                Последний
            </button>
            <div class="Space">
            </div>
            <button type="button" class="CRUDScrollTop">
                Вверх
            </button>
            <button type="button" class="CRUDScrollBottom">
                Вниз
            </button>
            <div class="Space">
            </div>
            <button type="button" class="CRUDClear">
                Очистить
            </button>
        </div>
        <div class="CRUDContainer Container">
            <div class="List">
            </div>
        </div>
        <p>
            Использованы изображения <a href="https://picsum.photos" target="_blank">https://pics.photos</a>.
        </p>
    </div>



    <div class="Item">
        <a class="Anchor" name="Timer"></a>
        <h2>
            Событие по таймеру
        </h2>
        <p>
            Вы можете запустить таймер на любой из кнопок.
            <a href="https://gitlab.com/catlair/pusa/-/blob/main/site/pusa/php/pusa/Timer.php" target="_blanks">
                PHP на Git
            </a>.
        </p>

        <div class="Space">
        </div>

        <div class="Toolbar">
            <button type="button" class="HalfSecond">
                Полсекунды
            </button>
            <button type="button" class="OneSecond">
                Одна секунда
            </button>
            <button type="button" class="FiveSeconds">
                Пять секунд
            </button>
        </div>
    </div>



    <div class="Item">
        <a class="Anchor" name="EventHandling"></a>
        <h2>
            Обработка событий
        </h2>
        <p>
            Демонстрирутся три метода обработки DOM событий.
            <a href="https://gitlab.com/catlair/pusa/-/blob/main/site/pusa/php/pusa/Events.php" target="_blanks">
                PHP на Git.
            </a>
        </p>
        <div class="Toolbar Events">
            <button class="BackendEvent">
                Backend
            </button>
            <button class="FrontendEvent">
                Frontend
            </button>
            <button class="JSEvent">
                JS
            </button>
        </div>
    </div>




    <div class="Item">
        <a class="Anchor" name="Clipboard"></a>
        <h2>
            Буффер обмена
        </h2>
        <p>
            Пример показывает копирование текста в буффер обмена. При копирвани используется событие без обращения на back.
            <a href="https://gitlab.com/catlair/pusa/-/blob/main/site/pusa/php/pusa/clipboard.php" target="_blanks">
                PHP на Git.
            </a>
        </p>
        <div class="Toolbar Events">
            <button class="BtnCopyValue">
                Copy
            </button>
        </div>

        <textarea class="SourceTextarea Container">Текст размещен в textarea значение value. Нажмите кнопку Copy. Текст будет перемещен в буффер обмена.</textarea>
        <textarea class="DestTextarea Container" style="display:none" placeholder="Станьте в это поле и нажмите CTRL+V"></textarea>
    </div>



    <div class="Item">
        <a class="Anchor" name="FormExample"></a>
        <h2>
            Form
        </h2>
        <p>
            Пример отправки формы
            <a href="https://gitlab.com/catlair/pusa/-/blob/main/site/pusa/php/pusa/form.php" target="_blanks">
                PHP на Git.
            </a>
        </p>

        <form class="DemoForm Form">

            <div class="Line">
                <label class ="Left">
                    Textarea
                </label>
                <textarea name="ATextarea" placeholder="Введите текст" rows="5"></textarea>
            </div>

            <div class="Line">
                <label class="Left">
                    Text
                </label>
                <input name="AString" placeholder="Введите значение">
            </div>

            <div class="Line">
                <label class="Left">
                    Select
                </label>
                <select name="ASelect">
                    <option value="Select1">Select 1</option>
                    <option value="Select2">Select 2</option>
                    <option value="Select3">Select 3</option>
                </select>
            </div>

            <div class="Line">
                <label class="Left">
                    File
                </label>
                <input type="file" name="AFiles" multiple="multiple">
            </div>

            <div class="Line">
                <label>
                    <input type="checkbox" name="ACheckbox"/>
                    Check box
                </label>
            </div>

            <div class="Line">
                <label>
                    <input type="radio" name="ARadio" value="Radio1"/>
                    Radio 1
                </label>
            </div>

            <div class="Line">
                <label>
                    <input type="radio" name="ARadio" value="Radio2"/>
                    Radio 2
                </label>
            </div>

            <div class="Toolbar">
                <button type="button" class="FormSend">
                    Отправить
                </button>
            </div>
        </form>

        <div class="FormResult Form">
        </div>

    </div>

</div>
