<div class="Header NoPrint">
    <div class="Logo">
        <div class="Name">
            <b>Pusa</b> фрэймворк
        </div>
        <div class="Slogan">
            WEB без клиентского JS
        </div>
    </div>
    <div class="Space">
    </div>
    <a
        href="https://www.gnu.org/licenses/agpl-3.0.en.html" 
        target="_blank" 
        class="Baner" 
        style="background-image:url(https://www.gnu.org/graphics/agplv3-155x51.png)" 
    >
    </a>
</div>



<div class="Menu NoPrint">
    <div class="Item Action Main" data-action="Main">
        Привет мир
    </div>
    <div class="Item Action Concept" data-action="Concept">
        Концепция
    </div>
    <div class="Item Action Examples" data-action="Examples">
        Примеры
    </div>
    <div class="Item Action Manual" data-action="Manual">
        Руководство
    </div>
    <div class="Item Action Docker" data-action="Docker">
        Докер
    </div>
    <a class="Item" href="https://gitlab.com/catlair/pusa/-/tree/main" target="_blank">
        Git
    </a>

    <div class="Space">
    </div>

    <div class="Item Action Participation" data-action="Donate">
        Помочь проекту
    </div>

    <cl content="Languages.html"/>
</div>



<div class="Frame">
</div>



<div class="Bottom NoPrint">
    <a href="http://t.me/pusa_catlair_net" target="_blank">
        telegram
    </a>
    <div class="Space">
    </div>
    <a href="https://pusa.dev">
        Разработано на Pusa-PHP в 2021
    </a>
    <a href="http://itserv.ru?lang=language_ru" target="_blank">
        itserv.ru
    </a>
</div>
