<div class="DonateForm">
    <div class="Info">
        Механизм сбора пожертвований готовится к публикации. 
        Документы и информация размещены для публичного ознакомления.
    </div>

    <div style="display:none;">
        <input id="MemorandumConfirm" type="CheckBox">
        <label for="MemorandumConfirm">
            я ознакомился с нижеследующим Меморандумом развития и 
            <a href="#GiftAgreement">
                соглашением сторон о пожертвовании
            </a>.
        </div>
    </div>
</div>

