<a class="Anchor" name="GiftAgreement"></a>

<h2>
    Соглашение сторон о пожертвовании
    <div>
        на развитие свободной версии
    </div>
    <div>
        «Pusa Web — без JS».
    </div>
</h2>


<p>
    Настоящие соглашения действуют между Владельцем Объекта пожертвования <a 
href="https://itserv.ru" target="_blank">ООО «ИТСервис»</a> (далее Владелец) с 
одной стороны и Жертвователем с другой стороны в отношении реализации свободной 
версии Pusa-PHP на базе технологии «Pusa WEB без JS». Соглашение носит характер 
публичной оферты. </p>

<h3>
    I. Объект как предмет Пожертвования.
</h3>

<p>
    Объектом именуется свободная реализация концепции «Pusa — WEB без JS», 
представленная на cайте Владельца https://pusa.dev (далее Сайт). Все 
иные источники, содержащие информацию об Объекте, ссылающиеся на Сайт, или на 
которые ссылается Сайт за рамками доменного имени Сайта, не могут 
рассматриваться как официально исходящие от Владельца, а следовательно не имеют 
силы в рамках настоящего соглашения. </p>

<h3>
    II. Декларация намерений
</h3>

<ol>
    <li>
        Владелец собирает пожертвования в целях развития Объекта и представления 
результатов для неограниченного публичного использования под публичной лицензией 
aGPL.v3 согласно заявленных Публичных целей развития Объекта (далее Публичные 
цели).
    </li>
    <li>
        Владелец намерен на свое усмотрение определять направление развития 
Объекта для его максимальной популяризации и доступности.
    </li>
    <li>
        Владелец использует полученные пожертвования на Публичные цели, исходя 
из собственного понимания целесообразности тех или иных расходов для достижения 
Публичных целей.
    </li>
    <li>
        Владелец объекта стремится максимально эффективно использовать 
полученные Пожертвования для достижения Публичных целей.
    </li>
</ol>


<h3>
    III. Предмет соглашения
</h3>

<ol>
    <li>
        Жертвователь вносит пожертвование на Публичные цели на безвозмездной 
основе.
    </li>
    <li>
        Владелец принимает пожертвования от Жертвователя на Публичные цели 
согласно Плана развития.
    </li>
    <li>
        Акт передачи средств от Жертвователя на Публичные цели признается 
сторонами окончательным и безвозвратным.
    </li>
</ol>

<h3>
    IV. Публичные цели
</h3>

<ol>
    <li>
        Публичной целью развития Объекта определена разработка, представление и 
поддержка полнофункциональной кодовой базы для публичного доступа и 
неограниченного использования Объекта.
    </li>
    <li>
        Публичная цель будет достигаться за счет наиболее простых технических 
средствах, доступных для использования независимым разработчиками. Таковыми 
средствами определены: PHP в 7.2 и старше, NGINX, Ubuntu, Docker, MySQL, 
PostGreeSQL. Для указанных средств все реализации Объекта предоставляются и 
будут предоставляться в открытом доступе под лицензией aGPL.v3.
    </li>
    <li>
        Владелец стремится достичь максимальную функциональность в рамках 
указанных средств разработки и исключает какое либо внесение технических и иных 
ограничений.
    </li>
    <li>
        Владелец размещает информацию о планах исполнения Публичных целей на 
Сайте с возможностью внесения изменений в состав Целей Проекта.
    </li>
    <li>
        Помимо Публичных целей Владелец определяет иные Коммерческие цели, 
описанные в «Соглашении сторон об участии», связанные с предметом настоящего 
Соглашения, но не финансируемые за счет Пожертвований.
    </li>
</ol>

<h3>
    V. Ограничение ответственности
</h3>

<ol>
    <li>
        Жертвователь подтверждают, что осведомлен о сути Проекта, о принципах 
его развития и методах финансирования.
    </li>
    <li>
        Жертвователь отказывается от возможности влиять на действия Владельца 
объекта в отношении развития Объекта.
    </li>
    <li>
        Жертвователь подтверждает отказ предъявлять к Владельцу Объекта 
требования о полном или частичном возврате средств, внесенных в качестве 
Пожертвований.
    </li>
    <li>
        Жертвователь отказывается от предъявления к Владельцу объекта требований 
по изменению политики развития Объекта.
    </li>
    <li>
        Жертвователь проинформирован о том, что для достижения Целей необходимо 
получение заявленного на сайте Владельца объема средств в форме Пожертвований.
    </li>
    <li>
        Жертвователь отказывается от предъявления претензий к качеству 
результатов, достигнутых Владельцем при реализации Целей развития Объекта а так 
же к самому Объекту.
    </li>
</ol>

<h3>
    VI. Иные положения
</h3>

<ol>
    <li>
        Владелец Объекта оставляет за собой право вносить изменения в настоящее 
соглашение в одностороннем порядке.
    </li>
    <li>
        Перечисление Пожертвования в пользу Владельца подтверждает согласие 
Жертвователя с настоящим соглашением.
    </li>
</ol>

<h3>
    VII. Ссылки
</h3>

<ul>
    <li>
        Сайт Pusa — Web без JS: <a href="https://pusa.dev">https://pusa.dev</a>
    </li>
    <li>
        Меморандум развития: <a 
href="https://pusa.dev/?section=Donate">https://pusa.dev/?section=Donate</a>
    </li>
</ul>
