<cl content="donate/PusaPHP_Finance.json" keys="json"/>
<cl content="donate/PusaPHP_Values.json" keys="json"/>

<a class="Anchor" name="PusaPHP"></a>

<h2>
    Публичные цели развития свободной Pusa-PHP
</h2>

<p>
    План предусматривает развитие и поддержку свободной версии Pusa c учетом 
налоговоых отчислений:
<p>

<div class="Group">
    <div class="Line">
        <div class="Label">
            Срок проекта
        </div>
        <div class="Data">
            %PusaPHP.ProjectPeriod%
        </div>
        <div class="Units">
            мес
        </div>
    </div>

    <div class="Line">
        <div class="Label">
            Общий бюджет
        </div>
        <div class="Data">
            %PusaPHP.TotalBudget%
        </div>
        <div class="Units">
            k USD
        </div>
    </div>

    <div class="Line">
        <div class="Label">
            Разработка
        </div>
        <div class="Data">
            %PusaPHP.DevCost%
        </div>
        <div class="Units">
            k USD
        </div>
    </div>

    <div class="Line">
        <div class="Label">
            DevOps
        </div>
        <div class="Data">
            %PusaPHP.DevOpsCost%
        </div>
        <div class="Units">
            k USD
        </div>
    </div>

    <div class="Line">
        <div class="Label">
            Документация и переводы
        </div>
        <div class="Data">
            %PusaPHP.WritingCost%
        </div>
        <div class="Units">
            k USD
        </div>
    </div>

    <div class="Line">
        <div class="Label">
            Продвижение
        </div>
        <div class="Data">
            %PusaPHP.AdvertisingCost%
        </div>
        <div class="Units">
            k USD
        </div>
    </div>

    <div class="Line">
        <div class="Label">
            Поддержка инфраструктуры
        </div>
        <div class="Data">
            %PusaPHP.InfrastructureCost%
        </div>
        <div class="Units">
            k USD
        </div>
    </div>
</div>

<div class="Image" 
style="background-image:url(?image=invest/Structure_Pusa_PHP.svg); 
min-height:12em;">
</div>

<h3>
    Результат
</h3>

<div class="Group">
    <div class="Line">
        <div class="Label">
            Функционал
        </div>
        <div class="Information">
            %PusaPHP.Functional%
        </div>
    </div>
    <div class="Line">
        <div class="Label">
            Операционная система
        </div>
        <div class="Information">
            %PusaPHP.OS%
        </div>
    </div>
    <div class="Line">
        <div class="Label">
            Webserver
        </div>
        <div class="Information">
            %PusaPHP.Webserver%
        </div>
    </div>
    <div class="Line">
        <div class="Label">
            DB
        </div>
        <div class="Information">
            %PusaPHP.DB%
        </div>
    </div>
    <div class="Line">
        <div class="Label">
            Средство разработки
        </div>
        <div class="Information">
            %PusaPHP.DevelopmentTool%
        </div>
    </div>
    <div class="Line">
        <div class="Label">
            Протокол обмена
        </div>
        <div class="Information">
            %PusaPHP.Protocol%
        </div>
    </div>
    <div class="Line">
        <div class="Label">
            Средство распространения
        </div>
        <div class="Information">
            %PusaPHP.DistributionTool%
        </div>
    </div>
    <div class="Line">
        <div class="Label">
            Лицензирование
        </div>
        <div class="Information">
            %PusaPHP.Licence%
        </div>
    </div>
</div>

<h3>
    Перечень работ
</h3>

<ul>
    <li>
        Завершение и перевод технической документации Pusa-Free;
    </li>
    <li>
        Разработка курса Step by Step для начинающих;
    </li>
    <li>
        Публичный технический аудит и аудит безопасности Pusa PHP;
    </li>
    <li>
        Перенос ядра проекта на версии PHP 8.0 и выше;
    </li>
    <li>
        Двухлетняя поддержка и обновление Pusa.
    </li>
</ul>


<p class="Resume">
    Pusa-PHP разрабатывается как свободный проект. Мы уверены, что только 
открытое программное обеспечение может иметь долгую жизнь и развитие без участия 
создателей. </p>
