<cl header="Content-Type: text/css"/>
<cl content="css/debug.css"/>


*
{
    padding             : 0;
    margin              : 0;
}



html
{
    min-height          : 100%;
    display             : flex;
}



body
{
    min-height          : 100%;
    max-width           : 100%;
    display             : flex;
    flex-direction      : column;
    justify-content     : center;
    align-items         : center;
    flex                : 1 1;
    padding             : 1em;
    box-sizing: border-box;
}



.Files
{
}



.FilesButton
{
    margin              : 1em;
    padding             : 1em 1em 1em 3em;
    background-color    : #006907;
    color               : white;
    text-align          : center;
    border-radius       : 0.5em;
    display             : flex;
    align-items         : center;
    background-position : 0.5em center;
    background-repeat   : no-repeat;
    background-image    : url( "?image=icons/Clip.png&scalex=32&colorize=FFFFFFFF" );
}


.CopyLink
{
    border              : 0;
    padding             : 1em 1em 1em 1em;
    background-color    : #FF0000;
    color               : white;
    text-align          : center;
    border-radius       : 0.5em;
    display             : flex;
    align-items         : center;
}

.OpenLink
{
    border              : 0;
    padding             : 1em 1em 1em 1em;
    background-color    : #FF7C00;
    color               : white;
    text-align          : center;
    border-radius       : 0.5em;
    display             : flex;
    align-items         : center;
}


.FileList
{
    padding             : 1em;
    max-width           : 100%;
}



.FileList .Record
{
    display             : flex;
}



.FileList .Record .FileName
{
    flex                : 1 1 70%;
    overflow            : hidden;
    white-space         : nowrap;
    text-overflow       : ellipsis;
}



.FileList .Record .Size
{
    flex                : 0 0 30%;
    text-align          : right;
}



.FileList .Record .Percent
{
    min-width           : 4em;
    text-align          : right;
}



.Download
{
    padding             : 1em;
    font-weight         : bolder;
    display             : flex;
    justify-content     : center;
}



.Bottom
{
    margin              : 2em;
}



.Bottom a
{
    padding             : 1em;
}



a
{
    text-decoration     : none;
}



h1
{
    text-align          : center;
}


form
{
    max-width           : 100%;
}
