<div class="Parent Unselected" title="Parent #%IDParent%">
     %CaptionParent%
</div>

<div class="Bind" title="Right">
     %CaptionBind%
</div>

<button type="button" class="Delete bind" style="display:none">
    Delete
</button>