<div class="SelectInput">
    <input class="SelectValue" type="hidden"/>
    <input class="SelectType" type="hidden"/>
    <input class="SelectCaption" autocomplete="off"/>
    <div class="SelectButton Unselected ImageZoom" title="Select from list">
    </div>
</div>

<div class="SelectPopup">
    <div class="SelectList">
    </div>
    <div class="SelectBar">
        <div class="CountRecord">
        </div>
        <div class="Space">
        </div>
        <button type="button" class="CancelButton Unselected ImageCancel">
            Cancel
        </button>
    </div>
</div>



