<h1>
    Меморандум развития 
</h1>
<div>
   свободной версии Pusa-PHP
</div>
<div>
   2022-01-28 V1.
</div>

<h2>
    Оглавление
</h2>

<ul class="Content">
    <li>
        <a href="#Intro">Вступление</a>
    </li>
    <li>
        <a href="#Issue">Проблематика</a>
    </li>
    <li>
        <a href="#Solution">Решение</a>
    </li>
    <li>
        <a href="#PusaPHP">План развития cвободной версии Pusa-PHP</a>
    </li>
    <li>
        <a href="#GiftAgreement">Соглашение сторон на пожертвование</a>
    </li>
</ul>
