<a class="Anchor" name="Intro"></a>

<h2>
    Вступление
</h2>

<p>
    Создание WEB приложения предполагает совместную разработку двух компонентов: 
клиент и сервер. Различия клиента и сервера требуют специализации методов 
разработки для исполнения каждой прикладной задачи. Это приводит к необходимости 
изучения и поддержки разнородных компонентов, таких как JavaScript, фрэймворки, 
средства сериализации и прочее. </p>

<p>
    <a href="?section=Concept">Концепция Pusa WEB</a> переносит всю разработку 
на BackEnd. Управление браузером и отображаемым контентом выполняется на 
BackEnd. Pusa не добавляет новых компонентов и не нарушает принципов
<a href="https://ru.wikipedia.org/wiki/REST">REST</a>.
</p>

<p>
    Pusa 
    <a href="https://gitlab.com/catlair/pusa/-/tree/main">реализована</a> 
    и
    <a href="https://hub.docker.com/r/catlairnet/pusa_ubutu_nginx_php_ssh">доступна</a> 
    под свободной лицензией aGPL.v3. Исходный код и документация 
    <a href="https://gitlab.com/catlair/pusa/-/tree/main" target="_blank">опубликованы</a> 
    в свободном доступе как публичное доказательство работоспособности технологии.
</p>

<p class="Info">
    Мы гарантируем, что публичная реализация Pusa будет свободной и доступной 
всем разработчикам и их клиентам. Ознакомьтесь с Меморандумом развития. 
Поддержите проект финансово.
</p>
