<h1>
    Main.html
</h1>
<p>
    This is the default template Main.html for <a href="https://pusa.catlair.net" target="_blank">Pusa</a>,
    located in the file:
</p>

<code>
    [ROOT]/site/site_default/src/language_default/Main.html.
</code>

<p>
    You can create a custom template for your site in the following files:
</p>

<code>
    [ROOT]/site/%IDSite%/src/language_default/Main.html.
</code>

<p>
    for all languages or
</p>

<code>
    [ROOT]/site/%IDSite%/src/%IDLang%/Main.html.
</code>

<p>
    for current language.
</p>
